Repository testcontainers/testcontainers-java, pull requests merged in 2018-12, with the labels that each got.

#993 Provide a Testcontainer for Neo4j.
  docs/SUMMARY.md
  docs/usage.md
  docs/usage/neo4j_container.md
  modules/neo4j/.gitignore
  modules/neo4j/build.gradle
  modules/neo4j/src/main/java/org/testcontainers/containers/Neo4jContainer.java
  modules/neo4j/src/test/java/org/testcontainers/containers/Neo4jContainerJUnitIntegrationTest.java
  modules/neo4j/src/test/java/org/testcontainers/containers/Neo4jContainerTest.java
  modules/neo4j/src/test/resources/example-container-license-acceptance.txt
Labels: type/feature

#1016 Simplify GitLab CI documentation
  docs/ci/ci.md
Labels: type/docs

#1097 Auto merge `/examples` dependencies
  .dependabot/config.yml
Labels: dependencies

#1020 Start shared containers in beforeAll callback (Jupiter)
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/TestcontainersExtension.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/TestcontainersSharedContainerTests.java
Labels: modules/jupiter, type/bug

#1101 Fix StreamType.RAW frame processing
  core/src/main/java/org/testcontainers/dockerclient/transport/okhttp/OkHttpInvocationBuilder.java
  core/src/test/java/org/testcontainers/junit/OutputStreamWithTTYTest.java
Labels: type/bug
