Repository testcontainers/testcontainers-java, pull requests merged in 2018-03, with the labels that each got.

#604 Do not add /dummy bind to Ryuk if checks are disabled
  core/src/main/java/org/testcontainers/DockerClientFactory.java
  core/src/main/java/org/testcontainers/utility/ResourceReaper.java
Labels: bug

#615 Shade commons io
  core/build.gradle
Labels: area/docker-compose, area/shading, blocker, type/bug

#622 Add Circle CI to summary
  docs/SUMMARY.md
Labels: type/docs

#623 Fixed docker-compose examples in docs
  docs/usage/docker_compose.md
Labels: area/docker-compose, type/docs

#619 getServicePort on DockerComposeContainer throws NullPointerException if service instance number in not used.
  CHANGELOG.md
  core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java
  core/src/test/java/org/testcontainers/junit/DockerComposeContainerTest.java
Labels: area/docker-compose, type/bug

#607 Relocate modules
  .github/CODEOWNERS
  README.md
  circle.yml
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/main/java/org/testcontainers/images/RemoteDockerImage.java
  core/src/main/java/org/testcontainers/images/builder/dockerfile/traits/FromStatementTrait.java
  core/src/main/java/org/testcontainers/utility/DockerImageName.java
  core/src/main/java/org/testcontainers/utility/DockerLoggerFactory.java
  core/src/main/java/org/testcontainers/utility/LicenseAcceptance.java
  core/src/test/java/org/testcontainers/dockerclient/ImagePullTest.java
  core/src/test/java/org/testcontainers/utility/DockerImageNameTest.java
  core/src/test/java/org/testcontainers/utility/LicenseAcceptanceTest.java
  core/src/test/resources/container-license-acceptance.txt
  docs/usage/modules.md
  modules/dynalite/README.md
  modules/dynalite/build.gradle
  modules/dynalite/src/main/java/org/testcontainers/dynamodb/DynaliteContainer.java
  modules/dynalite/src/test/java/org/testcontainers/dynamodb/DynaliteContainerTest.java
  modules/dynalite/src/test/resources/logback-test.xml
  modules/jdbc-test/build.gradle
  modules/jdbc-test/src/test/java/org/testcontainers/jdbc/JDBCDriverTest.java
  modules/jdbc-test/src/test/java/org/testcontainers/jdbc/JDBCDriverWithPoolTest.java
  modules/jdbc-test/src/test/java/org/testcontainers/junit/SimpleMSSQLServerTest.java
  modules/jdbc-test/src/test/java/org/testcontainers/junit/SimpleMariaDBTest.java
  modules/jdbc-test/src/test/java/org/testcontainers/junit/SimpleOracleTest.java
  modules/jdbc-test/src/test/resources/container-license-acceptance.txt
  modules/jdbc-test/src/test/resources/somepath/init_mariadb.sql
  modules/jdbc-test/src/test/resources/somepath/mariadb_conf_override/my.cnf
  modules/jdbc/src/main/java/org/testcontainers/containers/JdbcDatabaseContainer.java
  modules/localstack/README.md
  modules/localstack/build.gradle
  modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/SimpleLocalstackS3Test.java
  modules/localstack/src/test/resources/logback-test.xml
  modules/mariadb/README.md
  modules/mariadb/build.gradle
  modules/mariadb/src/main/java/org/testcontainers/containers/MariaDBContainer.java
  modules/mariadb/src/main/java/org/testcontainers/containers/MariaDBContainerProvider.java
  modules/mariadb/src/main/resources/META-INF/services/org.testcontainers.containers.JdbcDatabaseContainerProvider
  modules/mariadb/src/main/resources/mariadb-default-conf/my.cnf
  modules/mssqlserver/AUTHORS
  modules/mssqlserver/LICENSE
  modules/mssqlserver/README.md
  modules/mssqlserver/build.gradle
  modules/mssqlserver/src/main/java/org/testcontainers/containers/MSSQLServerContainer.java
  modules/mssqlserver/src/main/java/org/testcontainers/containers/MSSQLServerContainerProvider.java
  modules/mssqlserver/src/main/resources/META-INF/services/org.testcontainers.containers.JdbcDatabaseContainerProvider
  modules/oracle-xe/README.md
  modules/oracle-xe/build.gradle
  modules/oracle-xe/src/main/java/org/testcontainers/containers/OracleContainer.java
  modules/oracle-xe/src/main/java/org/testcontainers/containers/OracleContainerProvider.java
  modules/oracle-xe/src/main/resources/META-INF/services/org.testcontainers.containers.JdbcDatabaseContainerProvider
  modules/oracle-xe/src/test/java/org/testcontainers/containers/OracleJDBCDriverTest.java
  modules/vault/AUTHORS
  modules/vault/LICENSE
  modules/vault/README.md
  modules/vault/build.gradle
  modules/vault/src/main/java/org/testcontainers/vault/VaultContainer.java
  modules/vault/src/test/java/org/testcontainers/vault/VaultContainerTest.java
  modules/vault/src/test/resources/logback-test.xml
Labels: type/housekeeping, type/new module
