Repository testcontainers/testcontainers-java, pull requests merged in 2018-02, with the labels that each got.

#583 Fixes #543 by adding JdbcDatabaseContainer(Future) constructor
  CHANGELOG.md
  modules/jdbc/src/main/java/org/testcontainers/containers/JdbcDatabaseContainer.java
Labels: enhancement

#586 Extend 'addFixedExposedPort' method with InternetProtocol argument
  core/src/main/java/org/testcontainers/containers/FixedHostPortGenericContainer.java
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/main/java/org/testcontainers/containers/InternetProtocol.java
Labels: enhancement

#589 Fix 'custom ini' used for MySQL tests to prevent startup failures
  modules/jdbc-test/src/test/resources/somepath/mysql_conf_override/my.cnf
Labels: test-improvement

#590 Use HttpWaitStrategy for SimpleNginxTest
  modules/nginx/src/test/java/org/testcontainers/junit/SimpleNginxTest.java
Labels: test-improvement

#588 Add editorconfig for a degree of IDE formatting consistency
  .editorconfig
Labels: housekeeping

#593 Mark DockerMachineClientProviderStrategy as not persistable
  CHANGELOG.md
  core/src/main/java/org/testcontainers/dockerclient/DockerClientProviderStrategy.java
  core/src/main/java/org/testcontainers/dockerclient/DockerMachineClientProviderStrategy.java
Labels: enhancement
