Repository testcontainers/testcontainers-java, pull requests merged in 2018-09, with the labels that each got.

#853 switch to OkHttp as default transport (with opt-inable Npipe support)
  core/src/main/java/org/testcontainers/dockerclient/NpipeSocketClientProviderStrategy.java
  core/src/main/java/org/testcontainers/utility/TestcontainersConfiguration.java
Labels: type/feature

#829 use copyFileToContainer where possible
  core/src/main/java/org/testcontainers/containers/Container.java
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/main/java/org/testcontainers/containers/VncRecordingSidekickContainer.java
  core/src/main/java/org/testcontainers/images/builder/Transferable.java
  core/src/main/java/org/testcontainers/utility/ThrowingFunction.java
  core/src/test/java/org/testcontainers/junit/CopyFileToContainerTest.java
  core/src/test/java/org/testcontainers/junit/FileOperationsTest.java
  core/src/test/java/org/testcontainers/junit/GenericContainerRuleTest.java
  modules/cassandra/src/main/java/org/testcontainers/containers/CassandraContainer.java
  modules/couchbase/src/main/java/org/testcontainers/couchbase/CouchbaseContainer.java
  modules/jdbc/src/main/java/org/testcontainers/containers/JdbcDatabaseContainer.java
Labels: type/feature

#838 ISSUE-837 Allow specifying the rate limiter for AbstractWaitStrategy
  core/src/main/java/org/testcontainers/containers/wait/strategy/AbstractWaitStrategy.java
Labels: type/feature

#843 Fix deadlock when ryuk does not acknowledge filters
  core/src/main/java/org/testcontainers/utility/ResourceReaper.java
  core/src/test/java/org/testcontainers/utility/FilterRegistryTest.java
Labels: type/bug

#830 CouchbaseContainer fixes
  modules/couchbase/src/main/java/org/testcontainers/couchbase/CouchbaseContainer.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/BaseCouchbaseContainerTest.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/Couchbase5_1Test.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/Couchbase5_5Test.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/CouchbaseContainerTest.java
Labels: type/bug

#846 Add ClickHouse module
  modules/clickhouse/build.gradle
  modules/clickhouse/src/main/java/org/testcontainers/containers/ClickHouseContainer.java
  modules/clickhouse/src/main/java/org/testcontainers/containers/ClickHouseProvider.java
  modules/clickhouse/src/main/resources/META-INF/services/org.testcontainers.containers.JdbcDatabaseContainerProvider
  modules/jdbc-test/build.gradle
  modules/jdbc-test/src/test/java/org/testcontainers/jdbc/JDBCDriverTest.java
  modules/jdbc-test/src/test/java/org/testcontainers/junit/SimpleClickhouseTest.java
Labels: type/new module

#859 CouchbaseContainer: Fix java.net.SocketException exception in stop()
  modules/couchbase/src/main/java/org/testcontainers/couchbase/CouchbaseContainer.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/CouchbaseContainerTest.java
Labels: type/bug

#845 Add support for docker hub private registry credentials
  core/build.gradle
  core/src/jarFileTest/java/org/testcontainers/JarFileShadingTest.java
  core/src/main/java/org/testcontainers/dockerclient/DockerClientProviderStrategy.java
  core/src/main/java/org/testcontainers/dockerclient/auth/AuthDelegatingDockerClientConfig.java
  core/src/main/java/org/testcontainers/dockerclient/transport/TestcontainersDockerCmdExecFactory.java
  core/src/main/java/org/testcontainers/dockerclient/transport/okhttp/NamedPipeSocketFactory.java
  core/src/main/java/org/testcontainers/dockerclient/transport/okhttp/UnixSocketFactory.java
  core/src/main/java/org/testcontainers/images/RemoteDockerImage.java
  core/src/main/java/org/testcontainers/utility/AuthConfigUtil.java
  core/src/main/java/org/testcontainers/utility/DockerImageName.java
  core/src/main/java/org/testcontainers/utility/LogUtils.java
  core/src/main/java/org/testcontainers/utility/RegistryAuthLocator.java
  core/src/test/java/org/testcontainers/utility/AuthenticatedImagePullTest.java
  core/src/test/java/org/testcontainers/utility/RegistryAuthLocatorTest.java
  core/src/test/resources/auth-config/config-basic-auth.json
  core/src/test/resources/auth-config/config-existing-auth-with-helper.json
Labels: type/feature

#864 Add support for Postgis to JDBC driver
  docs/usage/database_containers.md
  modules/jdbc-test/src/test/java/org/testcontainers/jdbc/JDBCDriverTest.java
  modules/postgresql/src/main/java/org/testcontainers/containers/PostgisContainerProvider.java
  modules/postgresql/src/main/resources/META-INF/services/org.testcontainers.containers.JdbcDatabaseContainerProvider
Labels: modules/jdbc, resolution/awaiting-release, type/feature

#858 Update Pulsar Container
  modules/pulsar/src/main/java/org/testcontainers/containers/PulsarContainer.java
Labels: type/dependency update, type/feature

#865 Mark Windows npipe support as stable (with a fix)
  build.gradle
  core/src/jarFileTest/java/org/testcontainers/AbstractJarFileTest.java
  core/src/main/java/org/testcontainers/dockerclient/NpipeSocketClientProviderStrategy.java
  core/src/main/java/org/testcontainers/dockerclient/transport/okhttp/NamedPipeSocketFactory.java
  core/src/main/java/org/testcontainers/dockerclient/transport/okhttp/OkHttpInvocationBuilder.java
  core/src/main/java/org/testcontainers/utility/TestcontainersConfiguration.java
  core/src/test/java/org/testcontainers/containers/output/FrameConsumerResultCallbackTest.java
  docs/usage/windows_support.md
Labels: client/docker-for-windows, os/windows, type/bug

#833 MockServerContainer: remove dependency to java api
  modules/mockserver/build.gradle
  modules/mockserver/src/main/java/org/testcontainers/containers/MockServerContainer.java
  modules/mockserver/src/test/java/org/testcontainers/containers/MockServerContainerTest.java
Labels: type/breaking-api-change, type/dependency update

#873 add eBay as a user
  docs/index.md
Labels: type/docs

#868 Feature/756
  core/src/main/java/org/testcontainers/utility/RegistryAuthLocator.java
  core/src/test/java/org/testcontainers/utility/RegistryAuthLocatorTest.java
  core/src/test/resources/auth-config/docker-credential-fake
  core/src/test/resources/auth-config/win/docker-credential-fake.bat
Labels: os/windows

#869 remove Netty classes from OkHttpInvocationBuilder
  core/src/main/java/org/testcontainers/dockerclient/transport/okhttp/OkHttpInvocationBuilder.java
  core/src/main/java/org/testcontainers/dockerclient/transport/okhttp/OkHttpWebTarget.java
Labels: area/okhttp

#875 Check FS mounting lazily
  core/src/main/java/org/testcontainers/DockerClientFactory.java
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/main/java/org/testcontainers/utility/ResourceReaper.java
Labels: type/feature

#877 Remove unnecessary start() call in initCouchbaseContainer() method
  modules/couchbase/src/main/java/org/testcontainers/couchbase/AbstractCouchbaseTest.java
Labels: type/test-improvement

#876 Guard against potential NPE if startup fails before container creation
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
Labels: type/bug

#882 Fix AutoRemove of Ryuk container
  core/src/main/java/org/testcontainers/utility/ResourceReaper.java
Labels: type/bug

#883 test against OpenJDK 11
  .travis.yml
  build.gradle
  core/build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: type/housekeeping
