Repository testcontainers/testcontainers-java, pull requests merged in 2018-08, with the labels that each got.

#815 Socat sidecar proxy for Couchbase container to support random ports
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  modules/couchbase/build.gradle
  modules/couchbase/src/main/java/org/testcontainers/couchbase/AbstractCouchbaseTest.java
  modules/couchbase/src/main/java/org/testcontainers/couchbase/CouchbaseContainer.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/BaseCouchbaseContainerTest.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/Couchbase4_6Test.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/Couchbase5_1Test.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/Couchbase5_5Test.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/CouchbaseContainerTest.java
Labels: type/feature

#818 Ensure that nginx test waits properly to reduce flakiness
  modules/nginx/src/main/java/org/testcontainers/containers/NginxContainer.java
  modules/nginx/src/test/java/org/testcontainers/junit/SimpleNginxTest.java
Labels: type/bug

#823 support to override default username and password in oracle-xe
  modules/oracle-xe/src/main/java/org/testcontainers/containers/OracleContainer.java
Labels: modules/jdbc, type/feature

#821 Fix inverted logic in Selenium module
  modules/selenium/src/main/java/org/testcontainers/containers/BrowserWebDriverContainer.java
Labels: modules/selenium, type/bug

#806 use ssh port forwarding to expose host's ports to the containers
  build.gradle
  core/build.gradle
  core/src/main/java/org/testcontainers/Testcontainers.java
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/main/java/org/testcontainers/containers/PortForwardingContainer.java
  core/src/main/java/org/testcontainers/utility/TestcontainersConfiguration.java
  core/src/test/java/org/testcontainers/containers/ExposedHostTest.java
Labels: type/feature

#840 Added example of using Kafka Test Containers
  docs/usage.md
  docs/usage/kafka_containers.md
  docs/usage/webdriver_containers.md
Labels: type/docs

#849 JDBCDriverTest: replace boolean parameters with EnumSet
  modules/jdbc-test/src/test/java/org/testcontainers/jdbc/JDBCDriverTest.java
Labels: type/test-improvement

#824 Update Pulsar to 2.1.0
  modules/pulsar/build.gradle
  modules/pulsar/src/main/java/org/testcontainers/containers/PulsarContainer.java
Labels: type/dependency update
