Repository testcontainers/testcontainers-java, pull requests merged in 2018-11, with the labels that each got.

#943 Update commons-compress to 1.18
  core/build.gradle
Labels: type/dependency update

#887 JUnit 5 extension
  modules/junit-jupiter/README.md
  modules/junit-jupiter/build.gradle
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/Container.java
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/Testcontainers.java
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/TestcontainersExtension.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/ComposeContainerTests.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/PostgresContainerTests.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/TestcontainersNestedRestartedContainerTests.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/TestcontainersNestedSharedContainerTests.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/TestcontainersRestartBetweenTests.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/TestcontainersSharedContainerTests.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/inheritance/AbstractTestBase.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/inheritance/InheritedTests.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/inheritance/RedisContainer.java
  modules/junit-jupiter/src/test/resources/docker-compose.yml
  modules/junit-jupiter/src/test/resources/logback-test.xml
Labels: type/feature

#826 Add Elasticsearch testcontainer
  docs/SUMMARY.md
  docs/usage.md
  docs/usage/elasticsearch_container.md
  modules/elasticsearch/build.gradle
  modules/elasticsearch/src/main/java/org/testcontainers/elasticsearch/ElasticsearchContainer.java
  modules/elasticsearch/src/test/java/org/testcontainers/elasticsearch/ElasticsearchContainerTest.java
  modules/elasticsearch/src/test/resources/logback-test.xml
Labels: type/new module

#920 remove @Nullable annotations and dependency on com.google.code.findbugs:jsr305
  core/build.gradle
  core/src/main/java/org/testcontainers/dockerclient/transport/okhttp/OkHttpInvocationBuilder.java
Labels: type/housekeeping

#575 Support init script at JdbcDatabaseContainer level
  modules/database-commons/src/main/java/org/testcontainers/ext/ScriptUtils.java
  modules/jdbc-test/src/test/java/org/testcontainers/junit/SimpleMySQLTest.java
  modules/jdbc-test/src/test/java/org/testcontainers/junit/SimplePostgreSQLTest.java
  modules/jdbc-test/src/test/resources/somepath/init_postgresql.sql
  modules/jdbc/src/main/java/org/testcontainers/containers/JdbcDatabaseContainer.java
Labels: modules/jdbc, type/feature

#903 Publish artifacts to Maven Local before running examples on CircleCI
  circle.yml
Labels: type/housekeeping

#969 Dependencies should apply to the appropriate build tool scope/configuration
  docs/usage.md
Labels: type/docs

#996 Add Neo4j-OGM to 'Who is using Testcontainers'.
  docs/index.md
Labels: type/docs
