Repository testcontainers/testcontainers-java, pull requests merged in 2018-04, with the labels that each got.

#632 Add compatibility with selenium greater than 3.X
  AUTHORS
  CHANGELOG.md
  modules/selenium/src/main/java/org/testcontainers/containers/SeleniumUtils.java
  modules/selenium/src/test/java/org/testcontainers/junit/SeleniumUtilsTest.java
  modules/selenium/src/test/resources/manifests/MANIFEST-2.45.0.MF
  modules/selenium/src/test/resources/manifests/MANIFEST-3.5.2.MF
Labels: modules/selenium, type/bug

#628 Remove hardcoded Oracle image name
  CHANGELOG.md
  modules/jdbc-test/src/test/resources/testcontainers.properties
  modules/oracle-xe/src/main/java/org/testcontainers/containers/OracleContainer.java
  modules/oracle-xe/src/main/java/org/testcontainers/containers/OracleContainerProvider.java
  modules/oracle-xe/src/test/resources/logback-test.xml
  modules/oracle-xe/src/test/resources/testcontainers.properties
Labels: modules/jdbc, type/feature

#635 #621 increase Ryuk's timeout and make it configurable
  CHANGELOG.md
  core/src/main/java/org/testcontainers/utility/ResourceReaper.java
  core/src/main/java/org/testcontainers/utility/TestcontainersConfiguration.java
Labels: blocker, type/bug

#629 Added withLogConsumer() method to DockerComposeContainer
  CHANGELOG.md
  core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java
  core/src/test/java/org/testcontainers/junit/DockerComposeLogConsumerTest.java
Labels: area/docker-compose, type/feature

#640 Fixed `HostPortWaitStrategy` throws `NumberFormatException` when port is exposed but not mapped
  CHANGELOG.md
  core/src/main/java/org/testcontainers/containers/ContainerState.java
  core/src/test/resources/v2-compose-test.yml
Labels: area/docker-compose, type/bug

#642 #641 fix missing commons-codec shaded dependency
  core/build.gradle
Labels: area/shading, blocker, type/bug

#638 implement MariaDBContainer#getDatabaseName
  modules/mariadb/src/main/java/org/testcontainers/containers/MariaDBContainer.java
Labels: modules/jdbc, type/feature

#630 Support multiple HTTP status codes for HttpWaitStrategy
  CHANGELOG.md
  core/src/main/java/org/testcontainers/containers/wait/Wait.java
  core/src/main/java/org/testcontainers/containers/wait/strategy/HttpWaitStrategy.java
  core/src/main/java/org/testcontainers/containers/wait/strategy/Wait.java
  core/src/test/java/org/testcontainers/junit/wait/HostPortWaitStrategyTest.java
  core/src/test/java/org/testcontainers/junit/wait/HttpWaitStrategyTest.java
  core/src/test/java/org/testcontainers/junit/wait/strategy/AbstractWaitStrategyTest.java
  core/src/test/java/org/testcontainers/junit/wait/strategy/HttpWaitStrategyTest.java
  core/src/test/java/org/testcontainers/junit/wait/strategy/LogMessageWaitStrategyTest.java
  docs/usage/docker_compose.md
  docs/usage/options.md
Labels: type/feature

#643 More accurate log processing.
  CHANGELOG.md
  core/src/main/java/org/testcontainers/containers/output/BaseConsumer.java
  core/src/main/java/org/testcontainers/containers/output/FrameConsumerResultCallback.java
  core/src/main/java/org/testcontainers/containers/output/Slf4jLogConsumer.java
  core/src/main/java/org/testcontainers/containers/output/ToStringConsumer.java
  core/src/main/java/org/testcontainers/containers/output/WaitingConsumer.java
  core/src/test/java/org/testcontainers/containers/output/FrameConsumerResultCallbackTest.java
Labels: type/feature

#648 fix getDockerHostIpAddress within docker container
  core/src/main/java/org/testcontainers/dockerclient/DockerClientConfigUtils.java
Labels: client/in-container, type/bug

#653 Add BinTray's "latest version" badge
  README.md
Labels: type/housekeeping

#663 #662 Retry any exceptions (not just `DockerClientException`) on image pull
  CHANGELOG.md
  core/src/main/java/org/testcontainers/images/RemoteDockerImage.java
Labels: type/bug

#671 Pin tags
  CHANGELOG.md
  core/src/test/java/org/testcontainers/junit/wait/strategy/AbstractWaitStrategyTest.java
  core/src/test/java/org/testcontainers/junit/wait/strategy/HostPortWaitStrategyTest.java
  docs/usage/database_containers.md
  modules/jdbc-test/src/test/java/org/testcontainers/jdbc/DatabaseDriverShutdownTest.java
  modules/jdbc-test/src/test/java/org/testcontainers/jdbc/JDBCDriverTest.java
  modules/jdbc-test/src/test/java/org/testcontainers/junit/CustomizablePostgreSQLTest.java
  modules/jdbc-test/src/test/resources/container-license-acceptance.txt
  modules/jdbc/src/main/java/org/testcontainers/containers/JdbcDatabaseContainerProvider.java
  modules/jdbc/src/main/java/org/testcontainers/jdbc/ContainerDatabaseDriver.java
  modules/mariadb/src/main/java/org/testcontainers/containers/MariaDBContainer.java
  modules/mariadb/src/main/java/org/testcontainers/containers/MariaDBContainerProvider.java
  modules/mssqlserver/src/main/java/org/testcontainers/containers/MSSQLServerContainer.java
  modules/mssqlserver/src/main/java/org/testcontainers/containers/MSSQLServerContainerProvider.java
  modules/mysql/src/main/java/org/testcontainers/containers/MySQLContainer.java
  modules/mysql/src/main/java/org/testcontainers/containers/MySQLContainerProvider.java
  modules/oracle-xe/src/main/java/org/testcontainers/containers/OracleContainerProvider.java
  modules/postgresql/src/main/java/org/testcontainers/containers/PostgreSQLContainer.java
  modules/postgresql/src/main/java/org/testcontainers/containers/PostgreSQLContainerProvider.java
Labels: type/test-improvement

#665 #664 Fixed handling of the paths with `+` in them
  CHANGELOG.md
  core/src/main/java/org/testcontainers/utility/MountableFile.java
  core/src/test/java/org/testcontainers/utility/MountableFileTest.java
Labels: type/bug

#649 Upgrade gradle to 4.7
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
Labels: type/housekeeping

#672 Updated docker-java to 3.1.0-rc-3, enforced `org.jetbrains:annotations:15.0`
  CHANGELOG.md
  core/build.gradle
Labels: type/housekeeping
