Repository testcontainers/testcontainers-java, pull requests merged in 2019-02, with the labels that each got.

#1215 Change megabytes for bytes in withSharedMemorySize method documentation
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
Labels: type/docs

#1212 Update ryuk references to latest version - 0.2.3
  core/src/main/java/org/testcontainers/utility/TestcontainersConfiguration.java
  core/src/test/java/org/testcontainers/dockerclient/ImagePullTest.java
  docs/features/configuration.md
Labels: type/dependency update

#1154 Add OpenJDK EA builds to the matrix
  .travis.yml
  build.gradle
Labels: type/housekeeping

#1240 Disable Oracle tests
  modules/jdbc-test/src/test/java/org/testcontainers/junit/SimpleOracleTest.java
  modules/jdbc-test/src/test/resources/testcontainers.properties
  modules/oracle-xe/src/test/java/org/testcontainers/containers/OracleJDBCDriverTest.java
  modules/oracle-xe/src/test/resources/testcontainers.properties
Labels: type/test-improvement

#1177 Migrate examples project to Gradle subproject
  .dependabot/config.yml
  .travis.yml
  circle.yml
  examples/README.md
  examples/disque-job-queue/build.gradle
  examples/disque-job-queue/pom.xml
  examples/linked-container/build.gradle
  examples/linked-container/pom.xml
  examples/pom.xml
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache-testng/pom.xml
  examples/redis-backed-cache/build.gradle
  examples/redis-backed-cache/pom.xml
  examples/selenium-container/build.gradle
  examples/selenium-container/pom.xml
  examples/selenium-container/src/test/java/SeleniumContainerTest.java
  examples/settings.gradle
  examples/singleton-container/build.gradle
  examples/singleton-container/src/main/java/com/example/cache/Cache.java
  examples/singleton-container/src/main/java/com/example/cache/RedisBackedCache.java
  examples/singleton-container/src/test/java/com/example/AbstractIntegrationTest.java
  examples/singleton-container/src/test/java/com/example/BarConcreteTestClass.java
  examples/singleton-container/src/test/java/com/example/FooConcreteTestClass.java
  examples/spring-boot/build.gradle
  examples/spring-boot/pom.xml
  modules/build.gradle
  settings.gradle
Labels: type/docs, type/housekeeping

#1266 Single item includes of examples subprojects for Dependabot
  examples/settings.gradle
Labels: type/housekeeping

#1246 Add additional convenience methods for Neo4j containers
  docs/modules/databases/neo4j.md
  modules/neo4j/build.gradle
  modules/neo4j/src/custom-neo4j-plugin/java/ac/simons/neo4j/demos/plugins/HelloWorld.java
  modules/neo4j/src/main/java/org/testcontainers/containers/Neo4jContainer.java
  modules/neo4j/src/test/java/org/testcontainers/containers/Neo4jContainerTest.java
  modules/neo4j/src/test/resources/test-graph.db/neostore
  modules/neo4j/src/test/resources/test-graph.db/neostore.counts.db.a
  modules/neo4j/src/test/resources/test-graph.db/neostore.counts.db.b
  modules/neo4j/src/test/resources/test-graph.db/neostore.id
  modules/neo4j/src/test/resources/test-graph.db/neostore.labelscanstore.db
  modules/neo4j/src/test/resources/test-graph.db/neostore.labeltokenstore.db
  modules/neo4j/src/test/resources/test-graph.db/neostore.labeltokenstore.db.id
  modules/neo4j/src/test/resources/test-graph.db/neostore.labeltokenstore.db.names
  modules/neo4j/src/test/resources/test-graph.db/neostore.labeltokenstore.db.names.id
  modules/neo4j/src/test/resources/test-graph.db/neostore.nodestore.db
  modules/neo4j/src/test/resources/test-graph.db/neostore.nodestore.db.id
  modules/neo4j/src/test/resources/test-graph.db/neostore.nodestore.db.labels
  modules/neo4j/src/test/resources/test-graph.db/neostore.nodestore.db.labels.id
  modules/neo4j/src/test/resources/test-graph.db/neostore.propertystore.db
  modules/neo4j/src/test/resources/test-graph.db/neostore.propertystore.db.arrays
  modules/neo4j/src/test/resources/test-graph.db/neostore.propertystore.db.arrays.id
  modules/neo4j/src/test/resources/test-graph.db/neostore.propertystore.db.id
  modules/neo4j/src/test/resources/test-graph.db/neostore.propertystore.db.index
  modules/neo4j/src/test/resources/test-graph.db/neostore.propertystore.db.index.id
  modules/neo4j/src/test/resources/test-graph.db/neostore.propertystore.db.index.keys
  modules/neo4j/src/test/resources/test-graph.db/neostore.propertystore.db.index.keys.id
  modules/neo4j/src/test/resources/test-graph.db/neostore.propertystore.db.strings
  modules/neo4j/src/test/resources/test-graph.db/neostore.propertystore.db.strings.id
  modules/neo4j/src/test/resources/test-graph.db/neostore.relationshipgroupstore.db
  modules/neo4j/src/test/resources/test-graph.db/neostore.relationshipgroupstore.db.id
  modules/neo4j/src/test/resources/test-graph.db/neostore.relationshipstore.db
  modules/neo4j/src/test/resources/test-graph.db/neostore.relationshipstore.db.id
  modules/neo4j/src/test/resources/test-graph.db/neostore.relationshiptypestore.db
  modules/neo4j/src/test/resources/test-graph.db/neostore.relationshiptypestore.db.id
  modules/neo4j/src/test/resources/test-graph.db/neostore.relationshiptypestore.db.names
  modules/neo4j/src/test/resources/test-graph.db/neostore.relationshiptypestore.db.names.id
  modules/neo4j/src/test/resources/test-graph.db/neostore.schemastore.db
  modules/neo4j/src/test/resources/test-graph.db/neostore.schemastore.db.id
  modules/neo4j/src/test/resources/test-graph.db/neostore.transaction.db.0
Labels: type/feature

#885 Allow to change password in MSSQLServerContainer
  modules/jdbc-test/src/test/java/org/testcontainers/junit/CustomPasswordMSSQLServerTest.java
  modules/jdbc-test/src/test/java/org/testcontainers/junit/CustomizableMSSQLServerTest.java
  modules/mssqlserver/src/main/java/org/testcontainers/containers/MSSQLServerContainer.java
Labels: modules/jdbc, type/feature
