Repository testcontainers/testcontainers-java, pull requests merged in 2019-05, with the labels that each got.

#1439 Add documentation for Bitbucket Pipelines
  docs/supported_docker_environment/continuous_integration/bitbucket_pipelines.md
  mkdocs.yml
Labels: type/docs

#1288 Added example for MongoDB containers
  examples/mongodb-container/build.gradle
  examples/mongodb-container/src/test/java/org/testcontainers/containers/MongoDbContainer.java
  examples/mongodb-container/src/test/java/org/testcontainers/containers/MongoDbContainerTest.java
  examples/settings.gradle
Labels: type/docs

#1484 Fix markdown
  docs/modules/databases/index.md
Labels: type/docs

#1485 Redirect Docker-Compose stderr to INFO logger
  core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java
Labels: type/bug

#1488 Adding field name to ExtensionConfigurationException message
  CONTRIBUTING.md
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/TestcontainersExtension.java
Labels: modules/jupiter

#1491 Fix initscript typo in documentation
  docs/modules/databases/index.md
Labels: type/docs

#1492 Fix docker registry auth parsing of GCR json key format credentials
  core/src/main/java/org/testcontainers/utility/RegistryAuthLocator.java
  core/src/test/java/org/testcontainers/utility/RegistryAuthLocatorTest.java
  core/src/test/resources/auth-config/config-with-json-key.json
Labels: type/bug

#1494 Replace deprecated RestClient.performRequest()
  docs/modules/elasticsearch.md
Labels: type/docs

#1511 Remove broken link to roadmap
  CONTRIBUTING.md
Labels: type/docs
