Repository testcontainers/testcontainers-java, pull requests merged in 2019-12, with the labels that each got.

#2118 include only published projects into BOM
  bom/build.gradle
Labels: type/housekeeping

#2136 Add Infinispan to "Who is using Testcontainers"
  docs/index.md
Labels: type/docs

#2121 GHA-based in-docker testing
  .editorconfig
  .github/workflows/ci.yml
  .travis.yml
Labels: type/housekeeping

#2119 fix `DockerClientFactory#dockerHostIpAddress`
  core/src/main/java/org/testcontainers/DockerClientFactory.java
  core/src/test/java/org/testcontainers/DockerClientFactoryTest.java
  core/src/test/java/org/testcontainers/dockerclient/DockerClientConfigUtilsTest.java
Labels: blocker, type/bug

#2138 Set AWS credentials for the build cache in AZP
  azure-pipelines.yml
Labels: type/housekeeping

#2023 Truncate mode bits for z/OS file permissions
  core/src/main/java/org/testcontainers/utility/MountableFile.java
Labels: type/bug

#2139 do not implicitly connect to Kafka network
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
Labels: blocker, modules/kafka, type/bug

#2122 Add GitHub action to automatically update docs version
  .github/workflows/update-docs-version.yml
Labels: type/docs, type/housekeeping

#2155 Fix framing in OkHttp transport
  core/src/main/java/org/testcontainers/dockerclient/transport/okhttp/OkHttpInvocationBuilder.java
Labels: area/okhttp, type/bug

#2151 Use `inspectNetworkCmd` to get the gateway's IP
  core/src/main/java/org/testcontainers/dockerclient/DockerClientConfigUtils.java
  core/src/main/java/org/testcontainers/dockerclient/DockerClientProviderStrategy.java
  core/src/test/java/org/testcontainers/dockerclient/DockerClientConfigUtilsTest.java
Labels: type/feature

#2211 Add Vert.x SQL Client to Userlist
  docs/index.md
Labels: type/docs

#2212 GitHub Actions checkout v2
  .github/workflows/ci.yml
  .github/workflows/gradle-release.yml
  .github/workflows/update-docs-version.yml
Labels: type/housekeeping, type/test-improvement

#2207 JDBC: Fix parsing empty connection parameters
  modules/jdbc/src/main/java/org/testcontainers/jdbc/ConnectionUrl.java
  modules/jdbc/src/test/java/org/testcontainers/jdbc/ConnectionUrlTest.java
Labels: modules/jdbc, resolution/acknowledged, type/bug

#2178 Mention `testcontainers-bom` in "Maven dependencies" section of…
  docs/index.md
Labels: type/docs

#2027 Add example for nginx module
  docs/modules/nginx.md
  modules/nginx/src/test/java/org/testcontainers/junit/SimpleNginxTest.java
Labels: type/docs
