Repository testcontainers/testcontainers-java, pull requests merged in 2019-08, with the labels that each got.

#1691 copyrights
  README.md
Labels: type/docs

#1710 Add Maven Central as a fallback for dependency download
  build.gradle
Labels: type/housekeeping

#1680 JUnit rule for flaky test retry
  build.gradle
  core/build.gradle
  core/src/test/java/org/testcontainers/junit/GenericContainerRuleTest.java
  modules/couchbase/build.gradle
  modules/couchbase/src/test/java/org/testcontainers/couchbase/BaseCouchbaseContainerTest.java
  modules/jdbc-test/build.gradle
  modules/jdbc-test/src/test/java/org/testcontainers/jdbc/DatabaseDriverTmpfsTest.java
  settings.gradle
  test-support/build.gradle
  test-support/src/main/java/org/testcontainers/testsupport/Flaky.java
  test-support/src/main/java/org/testcontainers/testsupport/FlakyTestJUnit4RetryRule.java
  test-support/src/test/java/org/testcontainers/testsupport/FlakyRuleTest.java
  test-support/src/test/resources/logback-test.xml
Labels: type/test-improvement

#1653 Add docker-compose.yml to simplify local doc development
  docker-compose.yml
  docs/contributing_docs.md
Labels: type/docs, type/housekeeping

#1663 Amend container shutdown to catch and log for all Exception classes
  core/src/main/java/org/testcontainers/utility/ResourceReaper.java
Labels: type/bug

#1712 Reinstate retries for image pulls
  core/src/main/java/org/testcontainers/images/RemoteDockerImage.java
Labels: type/bug

#1772 Mark toxiproxy tests as flaky pending further analysis
  modules/toxiproxy/build.gradle
  modules/toxiproxy/src/test/java/org/testcontainers/containers/ToxiproxyTest.java
Labels: type/test-improvement

#1744 Exclude jna transitive dependency from visible-assertions to reconcile versions
  core/build.gradle
Labels: type/dependency update

#1734 :bug: Fix credentials when using a helper that returns a token
  core/src/main/java/org/testcontainers/utility/RegistryAuthLocator.java
  core/src/test/java/org/testcontainers/utility/RegistryAuthLocatorTest.java
  core/src/test/resources/auth-config/config-with-helper-using-token.json
  core/src/test/resources/auth-config/docker-credential-fake
  core/src/test/resources/auth-config/win/docker-credential-fake.bat
Labels: type/bug

#1745 [Bugfix] Coordinate image removals after stopping containers
  core/src/main/java/org/testcontainers/images/builder/ImageFromDockerfile.java
  core/src/main/java/org/testcontainers/utility/ResourceReaper.java
Labels: type/feature

#1355 Fix fixed host port test
  core/src/test/java/org/testcontainers/junit/FixedHostPortContainerTest.java
Labels: type/test-improvement

#1720 Disable Travis for all but master branch builds
  .travis.yml
Labels: type/housekeeping

#1780 add check for compatible Docker OS type
  core/src/main/java/org/testcontainers/dockerclient/DockerClientProviderStrategy.java
Labels: type/feature

#1784 Separate "environment" and "classpath" properties (for global things)
  core/src/main/java/org/testcontainers/dockerclient/DockerClientProviderStrategy.java
  core/src/main/java/org/testcontainers/utility/TestcontainersConfiguration.java
  core/src/test/java/org/testcontainers/utility/TestcontainersConfigurationTest.java
Labels: type/feature

#1782 Speed up open port detection by running the checks as a single command
  core/src/main/java/org/testcontainers/containers/wait/internal/ExternalPortListeningCheck.java
  core/src/main/java/org/testcontainers/containers/wait/internal/InternalCommandPortListeningCheck.java
  core/src/main/java/org/testcontainers/containers/wait/strategy/HostPortWaitStrategy.java
  core/src/test/java/org/testcontainers/containers/wait/internal/InternalCommandPortListeningCheckTest.java
Labels: type/feature

#1692 Support legacy RabbitMQ configuration format
  modules/rabbitmq/src/main/java/org/testcontainers/containers/RabbitMQContainer.java
  modules/rabbitmq/src/test/java/org/testcontainers/containers/RabbitMQContainerTest.java
  modules/rabbitmq/src/test/resources/rabbitmq-custom.conf
  modules/rabbitmq/src/test/resources/rabbitmq-custom.config
Labels: type/feature

#1800 update latest version with 1.12.0
  mkdocs.yml
Labels: type/docs

#1810 Add more labels to the Stale bot's config
  .github/stale.yml
Labels: type/housekeeping
