Repository testcontainers/testcontainers-java, pull requests merged in 2019-11, with the labels that each got.

#1345 Image pull policy
  core/src/main/java/org/testcontainers/containers/Container.java
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/main/java/org/testcontainers/containers/image/DockerJavaImageData.java
  core/src/main/java/org/testcontainers/containers/image/ImageData.java
  core/src/main/java/org/testcontainers/containers/image/ImageNameResolverProvider.java
  core/src/main/java/org/testcontainers/containers/image/pull/policy/AgeBasedPullPolicy.java
  core/src/main/java/org/testcontainers/containers/image/pull/policy/AlwaysPullPolicy.java
  core/src/main/java/org/testcontainers/containers/image/pull/policy/DefaultPullPolicy.java
  core/src/main/java/org/testcontainers/containers/image/pull/policy/ImagePullPolicy.java
  core/src/main/java/org/testcontainers/containers/image/pull/policy/PullPolicy.java
  core/src/main/java/org/testcontainers/containers/wait/strategy/Wait.java
  core/src/main/java/org/testcontainers/images/RemoteDockerImage.java
  core/src/test/java/org/testcontainers/containers/image/pull/policy/AgeBasedPullPolicyTest.java
  core/src/test/java/org/testcontainers/junit/NonExistentImagePullTest.java
  docs/examples/src/test/java/generic/ImagePullPolicyTest.java
  docs/features/advanced_options.md
Labels: type/feature

#2022 Fix docker image name parsing bugs
  core/src/main/java/org/testcontainers/utility/DockerImageName.java
  core/src/test/java/org/testcontainers/utility/DockerImageNameTest.java
Labels: type/bug

#2036 Future-proofing TestEnvironmentTest
  core/src/test/java/org/testcontainers/utility/TestEnvironmentTest.java
Labels: type/test-improvement

#1625 Add docker compose support for --build and --rmi options
  core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java
  core/src/test/java/org/testcontainers/junit/DockerComposeContainerWithBuildTest.java
  core/src/test/resources/compose-build-test/Dockerfile
  core/src/test/resources/compose-build-test/docker-compose.yml
Labels: area/docker-compose, type/feature

#1837 Check container's status if `WaitStrategy` fails.
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/test/java/org/testcontainers/containers/GenericContainerTest.java
Labels: type/feature

#2051 Fix session label when reuse is not supported but requested
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/test/java/org/testcontainers/containers/ReusabilityUnitTests.java
Labels: area/reusable-containers, blocker, type/bug

#2053 Make `Startables#deepStart` always iterate sequentially
  core/src/main/java/org/testcontainers/lifecycle/Startables.java
  core/src/test/java/org/testcontainers/junit/DependenciesTest.java
Labels: type/bug

#2052 Add `reused` parameter to the hooks
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/test/java/org/testcontainers/containers/ReusabilityUnitTests.java
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
Labels: area/reusable-containers, type/feature

#2058 added read timeout to http wait strategy
  core/src/main/java/org/testcontainers/containers/wait/strategy/HttpWaitStrategy.java
  core/src/test/java/org/testcontainers/junit/wait/strategy/HttpWaitStrategyTest.java
Labels: type/feature

#2081 Stabilize CouchbaseContainer by merging the Socat command
  modules/couchbase/src/main/java/org/testcontainers/couchbase/CouchbaseContainer.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/BaseCouchbaseContainerTest.java
Labels: modules/couchbase, type/bug

#2079 Lazily create/set Network in KafkaContainer
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
  modules/kafka/src/test/java/org/testcontainers/containers/KafkaContainerTest.java
Labels: modules/kafka, type/feature

#2077 Add Gradle wrapper to examples/ that points to the parent's wrapper
  .circleci/config.yml
  .travis.yml
  examples/gradlew
  examples/gradlew.bat
Labels: type/housekeeping

#1847 Upgrade docker-compose image to latest version and perform dire…
  core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java
  core/src/main/java/org/testcontainers/containers/ParsedDockerComposeFile.java
  core/src/main/java/org/testcontainers/utility/TestcontainersConfiguration.java
  core/src/test/java/org/testcontainers/containers/DockerComposeFileValidationTest.java
  core/src/test/java/org/testcontainers/containers/ParsedDockerComposeFileValidationTest.java
  core/src/test/java/org/testcontainers/junit/DockerComposeErrorHandlingTest.java
  core/src/test/resources/compose-test.yml
  core/src/test/resources/docker-compose-base.yml
  core/src/test/resources/docker-compose-imagename-parsing-v1.yml
  core/src/test/resources/docker-compose-imagename-parsing-v2.yml
  core/src/test/resources/docker-compose-non-default-override.yml
  core/src/test/resources/local-compose-test.yml
  core/src/test/resources/v2-compose-test-passthrough.yml
  core/src/test/resources/v2-compose-test-with-network.yml
  core/src/test/resources/v2-compose-test.yml
  modules/junit-jupiter/src/test/resources/docker-compose.yml
  modules/spock/src/test/resources/docker-compose.yml
Labels: area/docker-compose, type/feature

#2080 Mock TestcontainersConfiguration in ReusabilityUnitTests
  core/src/main/java/org/testcontainers/utility/TestcontainersConfiguration.java
  core/src/test/java/org/testcontainers/containers/ReusabilityUnitTests.java
  core/src/test/java/org/testcontainers/utility/MockTestcontainersConfigurationRule.java
Labels: area/reusable-containers, type/test-improvement

#2024 Image pull policy (#1345)
  core/src/main/java/org/testcontainers/DockerClientFactory.java
  core/src/main/java/org/testcontainers/LazyDockerClient.java
  core/src/main/java/org/testcontainers/containers/Container.java
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/main/java/org/testcontainers/dockerclient/AuditLoggingDockerClient.java
  core/src/main/java/org/testcontainers/images/AbstractImagePullPolicy.java
  core/src/main/java/org/testcontainers/images/AgeBasedPullPolicy.java
  core/src/main/java/org/testcontainers/images/AlwaysPullPolicy.java
  core/src/main/java/org/testcontainers/images/DefaultPullPolicy.java
  core/src/main/java/org/testcontainers/images/ImageData.java
  core/src/main/java/org/testcontainers/images/ImagePullPolicy.java
  core/src/main/java/org/testcontainers/images/LocalImagesCache.java
  core/src/main/java/org/testcontainers/images/PullPolicy.java
  core/src/main/java/org/testcontainers/images/RemoteDockerImage.java
  core/src/test/java/org/testcontainers/images/AgeBasedPullPolicyTest.java
  core/src/test/java/org/testcontainers/images/ImagePullPolicyTest.java
  core/src/test/java/org/testcontainers/junit/NonExistentImagePullTest.java
  docs/features/advanced_options.md
Labels: resolution/acknowledged, type/feature

#2105 Update Who Is Using TestContainers
  docs/index.md
Labels: type/docs

#2106 Restore Flaky on couchbase tests
  modules/couchbase/src/main/java/org/testcontainers/couchbase/AbstractCouchbaseTest.java
  modules/couchbase/src/main/java/org/testcontainers/couchbase/CouchbaseContainer.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/BaseCouchbaseContainerTest.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/Couchbase4_6Test.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/Couchbase5_1Test.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/Couchbase5_5Test.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/CouchbaseCommunity5_1Test.java
Labels: type/housekeeping

#1788 Switch to publishing non-delomboked sources
  build.gradle
  gradle/publishing.gradle
Labels: area/shading

#2078 Rework KafkaContainer (do not run a sub-process)
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
  modules/kafka/src/test/java/org/testcontainers/containers/KafkaContainerTest.java
Labels: modules/kafka

#2055 Hash copied files
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/main/java/org/testcontainers/utility/MountableFile.java
  core/src/test/java/org/testcontainers/containers/ReusabilityUnitTests.java
Labels: area/reusable-containers, type/feature

#2109 Add GHA for Release Drafter
  .github/workflows/release-drafter.yml
Labels: type/housekeeping

#2056 Start Ryuk lazily
  core/src/main/java/org/testcontainers/DockerClientFactory.java
  core/src/main/java/org/testcontainers/RyukStartingDockerClient.java
  core/src/main/java/org/testcontainers/utility/ResourceReaper.java
Labels: type/feature

#2113 Extract the CI status check into a script
  .github/workflows/gradle-release.yml
  .github/workflows/scripts/check_ci_status.sh
Labels: type/housekeeping

#2117 Add XWiki to "Who is using Testcontainers"
  docs/index.md
Labels: type/docs
