Repository testcontainers/testcontainers-java, pull requests merged in 2019-01, with the labels that each got.

#1109 update mockserver to 5.5.1 and bind to port 1080 which is default
  modules/mockserver/build.gradle
  modules/mockserver/src/main/java/org/testcontainers/containers/MockServerContainer.java
  modules/mockserver/src/test/java/org/testcontainers/containers/MockServerContainerTest.java
Labels: dependencies

#1152 "exposing host port" example
  examples/selenium-container/pom.xml
  examples/selenium-container/src/main/java/com/example/DemoApplication.java
  examples/selenium-container/src/main/resources/static/foo.html
  examples/selenium-container/src/test/java/SeleniumContainerTest.java
Labels: type/docs

#1175 Spring example updates
  examples/pom.xml
  examples/spring-boot/pom.xml
  examples/spring-boot/src/main/java/com/example/DemoApplication.java
  examples/spring-boot/src/main/java/com/example/DemoController.java
  examples/spring-boot/src/main/java/com/example/DemoEntity.java
  examples/spring-boot/src/main/java/com/example/DemoRepository.java
  examples/spring-boot/src/main/java/com/example/DemoService.java
  examples/spring-boot/src/main/resources/application.yml
  examples/spring-boot/src/test/java/com/example/AbstractIntegrationTest.java
  examples/spring-boot/src/test/java/com/example/DemoControllerTest.java
Labels: type/docs

#1182 Fix typo in Postgresql gradle dependency
  docs/modules/databases/postgres.md
Labels: type/bug, type/docs

#1181 Make it possible to turn off Ryuk with an environment variable
  core/src/main/java/org/testcontainers/DockerClientFactory.java
  docs/features/configuration.md
Labels: area/bitbucket-pipelines, blocker, client/in-container, os/linux, type/feature

#989 sqlserver jdbc url should be supported by container provider
  modules/jdbc-test/src/test/java/org/testcontainers/jdbc/JDBCDriverTest.java
  modules/mssqlserver/src/main/java/org/testcontainers/containers/MSSQLServerContainer.java
Labels: modules/jdbc, type/breaking-api-change
