Repository testcontainers/testcontainers-java, pull requests merged in 2019-03, with the labels that each got.

#1180 Example cucumber test
  examples/cucumber/build.gradle
  examples/cucumber/src/test/java/org/testcontainsers/examples/CucumberTest.java
  examples/cucumber/src/test/java/org/testcontainsers/examples/Stepdefs.java
  examples/cucumber/src/test/resources/org/testcontainsers/examples/is_search_possible.feature
  examples/settings.gradle
Labels: type/docs

#1293 Add JDBC custom credential support for postgres
  modules/jdbc-test/src/test/java/org/testcontainers/jdbc/JDBCDriverTest.java
  modules/jdbc/src/main/java/org/testcontainers/containers/JdbcDatabaseContainerProvider.java
  modules/mariadb/src/main/java/org/testcontainers/containers/MariaDBContainerProvider.java
  modules/mysql/src/main/java/org/testcontainers/containers/MySQLContainerProvider.java
  modules/postgresql/src/main/java/org/testcontainers/containers/PostgisContainerProvider.java
  modules/postgresql/src/main/java/org/testcontainers/containers/PostgreSQLContainerProvider.java
Labels: modules/jdbc, type/feature

#1318 get exitcode from inspectExecCmd
  core/src/main/java/org/testcontainers/containers/Container.java
  core/src/main/java/org/testcontainers/containers/ExecInContainerPattern.java
  core/src/main/java/org/testcontainers/containers/wait/internal/InternalCommandPortListeningCheck.java
Labels: type/feature

#1307 Remove netty transport, rework shading
  build.gradle
  core/build.gradle
  core/src/jarFileTest/java/org/testcontainers/JarFileShadingTest.java
  core/src/main/java/com/github/dockerjava/core/util/FiltersEncoder.java
  core/src/main/java/org/testcontainers/dockerclient/DockerClientProviderStrategy.java
  core/src/main/java/org/testcontainers/dockerclient/transport/TestcontainersDockerCmdExecFactory.java
  core/src/main/java/org/testcontainers/utility/ResourceReaper.java
  core/src/test/java/com/github/dockerjava/core/util/FiltersEncoderTest.java
  modules/junit-jupiter/build.gradle
  modules/spock/build.gradle
Labels: area/shading, type/feature, type/housekeeping

#929 Update BrowserWebDriverContainer to honor existing no_proxy setting
  modules/selenium/src/main/java/org/testcontainers/containers/BrowserWebDriverContainer.java
  modules/selenium/src/test/java/org/testcontainers/junit/BrowserWebDriverContainerTest.java
Labels: modules/selenium, type/feature

#1329 Allow TC_INITSCRIPT to support absolute/relative path via file: URI
  docs/modules/databases/index.md
  modules/jdbc-test/sql/init_mysql.sql
  modules/jdbc-test/src/test/java/org/testcontainers/jdbc/JDBCDriverTest.java
  modules/jdbc/src/main/java/org/testcontainers/jdbc/ContainerDatabaseDriver.java
Labels: type/feature

#1328 ISSUE-1327 start ambassador only if mapping configured
  core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java
Labels: type/bug

#1330 Add Toxiproxy module
  .travis.yml
  docs/modules/toxiproxy.md
  mkdocs.yml
  modules/toxiproxy/build.gradle
  modules/toxiproxy/src/main/java/org/testcontainers/containers/ToxiproxyContainer.java
  modules/toxiproxy/src/test/java/org/testcontainers/containers/ToxiproxyTest.java
Labels: type/feature, type/new module

#1335 Use hostname instead of hardcoded "name" string
  modules/toxiproxy/src/main/java/org/testcontainers/containers/ToxiproxyContainer.java
  modules/toxiproxy/src/test/java/org/testcontainers/containers/ToxiproxyTest.java
Labels: type/bug

#1206 Add getLogs() methods
  .travis.yml
  core/src/main/java/org/testcontainers/containers/ContainerState.java
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/main/java/org/testcontainers/containers/output/WaitingConsumer.java
  core/src/main/java/org/testcontainers/utility/LogUtils.java
  core/src/test/java/org/testcontainers/containers/output/ContainerLogsTest.java
  core/src/test/java/org/testcontainers/junit/WorkingDirectoryTest.java
  core/src/test/java/org/testcontainers/utility/DirectoryTarResourceTest.java
  docs/features/container_logs.md
Labels: type/feature

#1334 hostPort != containerPort
  core/src/main/java/org/testcontainers/Testcontainers.java
  core/src/main/java/org/testcontainers/containers/PortForwardingContainer.java
  core/src/test/java/org/testcontainers/containers/ExposedHostTest.java
Labels: type/feature
