Repository testcontainers/testcontainers-java, pull requests merged in 2019-04, with the labels that each got.

#1272 Improve WaitAllStrategy.
  core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java
  core/src/main/java/org/testcontainers/containers/wait/strategy/WaitAllStrategy.java
  core/src/test/java/org/testcontainers/containers/wait/WaitAllStrategyTest.java
  core/src/test/java/org/testcontainers/containers/wait/strategy/WaitAllStrategyTest.java
Labels: type/feature

#1390 Fix shading of modules
  build.gradle
Labels: area/shading, blocker, type/bug, type/housekeeping

#1400 Attempt to make WaitAllStrategyTests more stable
  core/src/test/java/org/testcontainers/containers/wait/strategy/WaitAllStrategyTest.java
Labels: type/housekeeping

#1409 Configure boomper probot
  .github/boomper.yml
Labels: type/docs, type/housekeeping

#1425 Support SELF typing for OracleContainer
  modules/oracle-xe/src/main/java/org/testcontainers/containers/OracleContainer.java
Labels: modules/jdbc, type/bug
