Repository testcontainers/testcontainers-java, pull requests merged in 2019-07, with the labels that each got.

#1528 Feature/startup certain services
  core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java
  core/src/test/java/org/testcontainers/junit/DockerComposeServiceTest.java
Labels: area/docker-compose

#1591 Add Europace AG as user
  docs/index.md
Labels: type/docs

#1363 Azure pipelines
  azure-pipelines.yml
  build.gradle
  core/src/test/java/org/testcontainers/junit/DockerNetworkModeTest.java
  modules/jdbc-test/src/test/java/org/testcontainers/jdbc/JDBCDriverTest.java
  modules/jdbc-test/src/test/java/org/testcontainers/jdbc/JDBCDriverWithPoolTest.java
Labels: os/linux, os/windows, type/housekeeping, type/test-improvement

#1597 Allocate lower shared memory in tests
  core/src/test/java/org/testcontainers/junit/GenericContainerRuleTest.java
Labels: type/housekeeping

#1521 Kotlin example
  examples/settings.gradle
  examples/spring-boot-kotlin-redis/build.gradle
  examples/spring-boot-kotlin-redis/src/main/kotlin/com/example/redis/ExampleController.kt
  examples/spring-boot-kotlin-redis/src/main/kotlin/com/example/redis/RedisApplication.kt
  examples/spring-boot-kotlin-redis/src/test/kotlin/com/example/redis/AbstractIntegrationTest.kt
  examples/spring-boot-kotlin-redis/src/test/kotlin/com/example/redis/RedisApplicationTests.kt
  examples/spring-boot-kotlin-redis/src/test/kotlin/com/example/redis/RedisTest.kt
Labels: type/docs

#1611 Add DB2 module
  docs/modules/databases/db2.md
  modules/db2/build.gradle
  modules/db2/src/main/java/org/testcontainers/containers/Db2Container.java
  modules/db2/src/main/java/org/testcontainers/containers/Db2ContainerProvider.java
  modules/db2/src/main/resources/META-INF/services/org.testcontainers.containers.JdbcDatabaseContainerProvider
  modules/jdbc-test/build.gradle
  modules/jdbc-test/src/test/java/org/testcontainers/jdbc/JDBCDriverTest.java
  modules/jdbc-test/src/test/java/org/testcontainers/junit/SimpleDb2Test.java
  modules/jdbc-test/src/test/resources/container-license-acceptance.txt
  modules/jdbc/src/main/java/org/testcontainers/jdbc/ConnectionUrl.java
Labels: modules/jdbc, type/new module

#1420 catch exception when trying to kill dead container
  core/src/main/java/org/testcontainers/utility/ResourceReaper.java
Labels: type/bug

#1504 Upgrade localstack and enable new services
  modules/localstack/build.gradle
  modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/SimpleLocalstackS3Test.java
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/SimpleLocalstackTest.java
Labels: type/dependency update

#1613 Split AZP config into jobs rather than steps
  azure-pipelines.yml
Labels: type/housekeeping

#1433 Upgrade duct-tape library
  core/build.gradle
Labels: dependencies, java

#1446 Bumped up default version of Confluent Platform to the current 5.2.1 (Kafka container)
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
Labels: type/dependency update

#1375 Make test resilient to timing issues
  core/src/test/java/org/testcontainers/containers/output/ContainerLogsTest.java
Labels: type/test-improvement

#1449 Add rabbitmq
  modules/rabbitmq/build.gradle
  modules/rabbitmq/src/main/java/org/testcontainers/containers/RabbitMQContainer.java
  modules/rabbitmq/src/test/java/org/testcontainers/containers/RabbitMQContainerJUnitIntegrationTest.java
  modules/rabbitmq/src/test/java/org/testcontainers/containers/RabbitMQContainerTest.java
  modules/rabbitmq/src/test/resources/certs/ca_certificate.pem
  modules/rabbitmq/src/test/resources/certs/ca_key.pem
  modules/rabbitmq/src/test/resources/certs/client_certificate.pem
  modules/rabbitmq/src/test/resources/certs/client_key.p12
  modules/rabbitmq/src/test/resources/certs/client_key.pem
  modules/rabbitmq/src/test/resources/certs/server_certificate.pem
  modules/rabbitmq/src/test/resources/certs/server_key.p12
  modules/rabbitmq/src/test/resources/certs/server_key.pem
  modules/rabbitmq/src/test/resources/certs/truststore.jks
  modules/rabbitmq/src/test/resources/rabbitmq-custom.conf
Labels: type/new module

#1617 increase DB2 timeout
  modules/db2/src/main/java/org/testcontainers/containers/Db2Container.java
Labels: type/test-improvement

#1458 Simplify Kafka container by deferring the Kafka command
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
Labels: modules/kafka, type/feature

#1535 Add new withDockerfile methods to ImageFromDockerfile
  core/src/main/java/org/testcontainers/images/builder/ImageFromDockerfile.java
  core/src/test/java/org/testcontainers/images/builder/DockerfileBuildTest.java
  core/src/test/java/org/testcontainers/images/builder/DockerignoreTest.java
  core/src/test/resources/dockerfile-build-invalid/.dockerignore
  core/src/test/resources/dockerfile-build-invalid/Dockerfile
  core/src/test/resources/dockerfile-build-test/.dockerignore
  core/src/test/resources/dockerfile-build-test/Dockerfile-currentdir
  core/src/test/resources/dockerfile-build-test/should_be_ignored.txt
  core/src/test/resources/dockerfile-build-test/should_not_be_ignored.txt
Labels: type/feature

#1581 Fail fast if `container_name` is set in Docker Compose file
  core/build.gradle
  core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java
  core/src/test/java/org/testcontainers/containers/DockerComposeFileValidationTest.java
  core/src/test/resources/docker-compose-container-name-v1.yml
Labels: area/docker-compose, type/feature

#1530 Allow tests to be disabled when Docker is unavailable
  modules/junit-jupiter/build.gradle
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/Testcontainers.java
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/TestcontainersExtension.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/TestcontainersExtensionTests.java
Labels: area/test frameworks, modules/jupiter

#1610 Add container stopping and stopped hooks
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
Labels: type/feature

#938 Enable command override for PostgreSQLContainer
  modules/jdbc-test/src/test/java/org/testcontainers/junit/SimplePostgreSQLTest.java
  modules/postgresql/src/main/java/org/testcontainers/containers/PostgreSQLContainer.java
Labels: type/feature

#1320 Improve pull handling
  core/src/main/java/org/testcontainers/DockerClientFactory.java
  core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/main/java/org/testcontainers/images/LoggedPullImageResultCallback.java
  core/src/main/java/org/testcontainers/images/RemoteDockerImage.java
  core/src/main/java/org/testcontainers/images/TimeLimitedLoggedPullImageResultCallback.java
  core/src/main/java/org/testcontainers/images/builder/ImageFromDockerfile.java
  core/src/main/java/org/testcontainers/utility/RegistryAuthLocator.java
  core/src/main/java/org/testcontainers/utility/TestcontainersConfiguration.java
  core/src/test/java/org/testcontainers/dockerclient/ImagePullTest.java
  docs/features/configuration.md
Labels: type/feature

#1404 Implement `dependsOn` for cross-container dependencies
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/main/java/org/testcontainers/lifecycle/Startable.java
  core/src/main/java/org/testcontainers/lifecycle/Startables.java
  core/src/test/java/org/testcontainers/junit/DependenciesTest.java
Labels: type/feature

#1627 Improve splitting of SQL scripts into statements
  modules/database-commons/build.gradle
  modules/database-commons/src/main/java/org/testcontainers/ext/ScriptUtils.java
  modules/database-commons/src/test/java/org/testcontainers/ext/ScriptSplittingTest.java
  modules/database-commons/src/test/java/org/testcontainers/ext/ScriptUtilsTest.java
  modules/database-commons/src/test/resources/splittable.sql
Labels: modules/jdbc, type/bug

#1652 Add "housekeeping" category to the release drafter config
  .github/release-drafter.yml
Labels: type/housekeeping

#1651 Add networking documentation
  core/src/test/java/org/testcontainers/containers/NetworkTest.java
  docs/features/networking.md
Labels: type/docs
