Repository testcontainers/testcontainers-java, pull requests merged in 2020-01, with the labels that each got.

#2214 Remove stray 'KB' suffix from docker build context size log mes…
  core/src/main/java/org/testcontainers/images/builder/ImageFromDockerfile.java
Labels: area/logging, type/bug

#2176 Move `execInContainer` and `copy*` to `ContainerState`
  core/src/main/java/org/testcontainers/containers/Container.java
  core/src/main/java/org/testcontainers/containers/ContainerState.java
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
Labels: type/feature

#2245 Prevent duplicate attempts to start Ryuk container
  core/src/main/java/org/testcontainers/DockerClientFactory.java
  core/src/test/java/org/testcontainers/DockerClientFactoryTest.java
  core/src/test/java/org/testcontainers/utility/MockTestcontainersConfigurationRule.java
Labels: blocker, type/bug

#2261 Replace unicode characters in strings with unicode escape seque…
  core/src/main/java/org/testcontainers/DockerClientFactory.java
Labels: os/windows, type/docs

#2284 Fix CI Docker Compose test failure
  core/src/test/resources/compose-build-test/Dockerfile
  core/src/test/resources/compose-build-test/docker-compose.yml
Labels: type/housekeeping, type/test-improvement

#2286 Mention JDBC URL change in Spring Boot 2.3.0
  docs/modules/databases/index.md
Labels: modules/jdbc, type/docs

#2301 Add junit-jupiter dependency in junit 5 quickstart docs
  docs/quickstart/junit_5_quickstart.md
Labels: type/docs
