Repository testcontainers/testcontainers-java, pull requests merged in 2020-08, with the labels that each got.

#2988 Add some more logs to bash script used for DockerHealthcheckWaitStratgyTest
  core/src/test/resources/health-wait-strategy-dockerfile/write_file_and_loop.sh
Labels: type/test-improvement

#3156 #3129 Fix dead link for CircleCI configuration
  docs/supported_docker_environment/index.md
Labels: type/docs

#3159 Fix bind mounts for ResourceReaper/ryuk and ContainerisedDockerCompose on macOS
  core/src/main/java/org/testcontainers/DockerClientFactory.java
  core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java
  core/src/main/java/org/testcontainers/utility/ResourceReaper.java
  modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java
Labels: type/bug
