Repository testcontainers/testcontainers-java, pull requests merged in 2020-10, with the labels that each got.

#3083 Add support for MongoDB 4.4
  modules/mongodb/src/main/java/org/testcontainers/containers/MongoDBContainer.java
  modules/mongodb/src/test/java/org/testcontainers/containers/MongoDBContainerTest.java
Labels: modules/mongodb, type/bug

#3293 Support Confluent Platform 6 in Kafka
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
  modules/kafka/src/test/java/org/testcontainers/containers/KafkaContainerTest.java
Labels: modules/kafka, type/bug

#3340 Increase memory limits used in example
  docs/examples/junit4/generic/src/test/java/generic/CmdModifierTest.java
Labels: type/docs, type/housekeeping, type/test-improvement

#3342 Remove GitHub Actions cache restore keys
  .github/workflows/ci-examples.yml
  .github/workflows/ci.yml
Labels: type/housekeeping

#2980 Allow users to specify a MongoDB database name
  modules/mongodb/src/main/java/org/testcontainers/containers/MongoDBContainer.java
  modules/mongodb/src/test/java/org/testcontainers/containers/MongoDBContainerTest.java
Labels: type/feature

#2690 Add GCloud module for Google Cloud Datastore, Firestore, PubSub, and Spanner emulators
  docs/modules/gcloud.md
  mkdocs.yml
  modules/gcloud/build.gradle
  modules/gcloud/src/main/java/org/testcontainers/containers/DatastoreEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/FirestoreEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/PubSubEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/SpannerEmulatorContainer.java
  modules/gcloud/src/test/java/org/testcontainers/containers/DatastoreEmulatorContainerTest.java
  modules/gcloud/src/test/java/org/testcontainers/containers/FirestoreEmulatorContainerTest.java
  modules/gcloud/src/test/java/org/testcontainers/containers/PubSubEmulatorContainerTest.java
  modules/gcloud/src/test/java/org/testcontainers/containers/SpannerEmulatorContainerTest.java
Labels: type/feature

#3343 Use a lighter weight image for MultiplePortsExposedTest
  docs/examples/junit4/generic/src/test/java/generic/MultiplePortsExposedTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/BaseWebDriverContainerTest.java
Labels: type/test-improvement

#3237 docker-machine: get full remote daemon URL, to allow for use of custom daemon port (#2769)
  core/src/main/java/org/testcontainers/dockerclient/DockerMachineClientProviderStrategy.java
  core/src/main/java/org/testcontainers/utility/DockerMachineClient.java
Labels: type/feature

#3346 Fix remote gradle cache 400 InvalidArgument error
  settings.gradle
Labels: type/housekeeping, type/test-improvement

#3344 Add gcloud endpoint accessors
  modules/gcloud/src/main/java/org/testcontainers/containers/DatastoreEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/FirestoreEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/PubSubEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/SpannerEmulatorContainer.java
  modules/gcloud/src/test/java/org/testcontainers/containers/DatastoreEmulatorContainerTest.java
  modules/gcloud/src/test/java/org/testcontainers/containers/FirestoreEmulatorContainerTest.java
  modules/gcloud/src/test/java/org/testcontainers/containers/PubSubEmulatorContainerTest.java
  modules/gcloud/src/test/java/org/testcontainers/containers/SpannerEmulatorContainerTest.java
  modules/gcloud/src/test/resources/logback-test.xml
Labels: type/feature

#2320 Elasticsearch: Add test and documentation for secured cluster, bump default Elasticsearch version (deprecated constructor) from 6.4.1 to 7.9.2
  docs/modules/elasticsearch.md
  modules/elasticsearch/build.gradle
  modules/elasticsearch/src/main/java/org/testcontainers/elasticsearch/ElasticsearchContainer.java
  modules/elasticsearch/src/test/java/org/testcontainers/elasticsearch/ElasticsearchContainerTest.java
Labels: modules/elasticsearch, resolution/acknowledged, type/docs

#3076 Update image references in Localstack module docs
  docs/modules/localstack.md
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/LocalstackContainerTest.java
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/LocalstackTestImages.java
Labels: type/docs

#3349 Fix a small typo in documentation
  docs/modules/elasticsearch.md
  modules/elasticsearch/src/test/java/org/testcontainers/elasticsearch/ElasticsearchContainerTest.java
Labels: type/docs

#3378 Change image used for test to avoid image name cache preventing proper pull
  core/src/test/java/org/testcontainers/dockerclient/AmbiguousImagePullTest.java
Labels: type/test-improvement

#3406 Update tests to use emulators image
  modules/gcloud/src/test/java/org/testcontainers/containers/DatastoreEmulatorContainerTest.java
  modules/gcloud/src/test/java/org/testcontainers/containers/FirestoreEmulatorContainerTest.java
  modules/gcloud/src/test/java/org/testcontainers/containers/PubSubEmulatorContainerTest.java
Labels: type/test-improvement

#3402 Latest kafka container 5.4.3
  docs/modules/kafka.md
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
  modules/kafka/src/test/java/org/testcontainers/containers/KafkaContainerTest.java
Labels: type/docs, type/test-improvement

#3383 Correct documentation for ryuk image
  docs/features/configuration.md
Labels: type/docs

#3403 Fix use of HostPortWaitStrategy with Postgres container (fixes #3382)
  modules/postgresql/src/main/java/org/testcontainers/containers/PostgreSQLContainer.java
Labels: type/bug

#3410 Update sponsors
  docs/index.md
  docs/sponsor_logos/cirrus_labs.jpg
  docs/sponsor_logos/jooq.jpg
  docs/sponsor_logos/vivy.png
Labels: type/housekeeping

#2231 Vault: add a fluent API for configuring Vault's logging level
  modules/vault/src/main/java/org/testcontainers/vault/VaultContainer.java
  modules/vault/src/main/java/org/testcontainers/vault/VaultLogLevel.java
Labels: resolution/acknowledged, type/feature

#3379 Bump Python mkdocs tool dependency to address CVE-2019-10906
  Pipfile.lock
Labels: type/housekeeping
