Repository testcontainers/testcontainers-java, pull requests merged in 2020-09, with the labels that each got.

#3128 Remove use of implicit network for multi-container Kafka
  docs/modules/kafka.md
  modules/kafka/src/test/java/org/testcontainers/containers/KafkaContainerTest.java
Labels: type/docs

#3219 Use testCompileClasspath instead of testCompileOnly
  core/build.gradle
  examples/mongodb-container/build.gradle
  modules/selenium/build.gradle
  modules/spock/build.gradle
Labels: type/housekeeping

#2807 Exclude id from NetworkImpl.NetworkImplBuilder (testcontainers#8125)
  core/src/main/java/org/testcontainers/containers/Network.java
Labels: resolution/acknowledged

#3271 Remove dependency upon internet URLs for selenium tests
  modules/selenium/src/test/java/org/testcontainers/junit/BaseWebDriverContainerTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/ChromeRecordingWebDriverContainerTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/ChromeWebDriverContainerTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/ContainerWithoutCapabilitiesTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/CustomWaitTimeoutWebDriverContainerTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/FirefoxWebDriverContainerTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/FlakyContainerCreationTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/LinkedContainerTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/SpecificImageNameWebDriverContainerTest.java
Labels: type/bug, type/housekeeping, type/test-improvement

#3287 Make testMatrix task emit all check tasks, rather than filtering out up-to-date tasks
  gradle/ci-support.gradle
Labels: type/housekeeping, type/test-improvement
