Repository testcontainers/testcontainers-java, pull requests merged in 2020-11, with the labels that each got.

#3435 Add Presto project as Testcontainers user
  docs/index.md
Labels: type/docs

#3441 Selenium: Restore getDockerImageForCapabilities method to public scope
  modules/selenium/src/main/java/org/testcontainers/containers/BrowserWebDriverContainer.java
Labels: type/bug

#3438 Update Presto URL to use https in 'Who is using' list
  docs/index.md
Labels: type/docs

#3498 Update to docker-java 3.2.6
  core/build.gradle
Labels: dependencies, java, type/dependency update

#3502 Add toxiproxy to dependabot.yml
  .github/dependabot.yml
Labels: type/housekeeping
