Repository testcontainers/testcontainers-java, pull requests merged in 2020-02, with the labels that each got.

#2316 Fix localstack cloudwatchlogs service
  modules/localstack/build.gradle
  modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/LocalstackContainerTest.java
Labels: type/bug

#1414 adds OrientDB 3.0.x module
  docs/modules/databases/orientdb.md
  modules/orientdb/build.gradle
  modules/orientdb/src/main/java/org/testcontainers/containers/OrientDBContainer.java
  modules/orientdb/src/test/java/org/testcontainers/containers/OrientDBContainerTest.java
  modules/orientdb/src/test/resources/initscript.osql
  modules/orientdb/src/test/resources/logback-test.xml
Labels: type/new module

#2196 Add Presto container
  docs/modules/databases/index.md
  docs/modules/databases/presto.md
  mkdocs.yml
  modules/jdbc-test/build.gradle
  modules/jdbc-test/src/test/java/org/testcontainers/jdbc/JDBCDriverTest.java
  modules/presto/build.gradle
  modules/presto/src/main/java/org/testcontainers/containers/PrestoContainer.java
  modules/presto/src/main/java/org/testcontainers/containers/PrestoContainerProvider.java
  modules/presto/src/main/resources/META-INF/services/org.testcontainers.containers.JdbcDatabaseContainerProvider
  modules/presto/src/test/java/org/testcontainers/containers/PrestoContainerTest.java
  modules/presto/src/test/resources/initial.sql
Labels: type/new module

#2314 Add functionality to retrieve container by its name
  core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java
  core/src/test/java/org/testcontainers/junit/DockerComposeContainerTest.java
Labels: area/docker-compose, type/feature

#2318 Kafka: replace deprecated poll method millis param with Duration
  modules/kafka/src/test/java/org/testcontainers/containers/KafkaContainerTest.java
Labels: modules/kafka, type/housekeeping

#2376 Prune images between module checks
  azure-pipelines.yml
  build.gradle
Labels: type/housekeeping

#2282 Adding Windows Subsystem for Linux section to the windows documentation
  docs/contributing.md
  docs/supported_docker_environment/index.md
  docs/supported_docker_environment/windows.md
Labels: type/docs
