Repository testcontainers/testcontainers-java, pull requests merged in 2020-04, with the labels that each got.

#2488 Bump Copyrights to 2020
  README.md
Labels: type/docs, type/housekeeping

#2213 Cache results of auth lookups
  core/src/main/java/org/testcontainers/utility/RegistryAuthLocator.java
Labels: type/feature

#2519 Fix `update-docs-version.yml` script
  .github/workflows/update-docs-version.yml
Labels: type/docs, type/housekeeping

#2238 Remove unusual public in Groovy example code
  docs/examples/spock/redis/src/test/groovy/quickstart/RedisBackedCacheIntTest.groovy
Labels: modules/spock, type/docs

#2473 Move static config in modules to constructor
  modules/clickhouse/src/main/java/org/testcontainers/containers/ClickHouseContainer.java
  modules/db2/src/main/java/org/testcontainers/containers/Db2Container.java
  modules/influxdb/src/main/java/org/testcontainers/containers/InfluxDBContainer.java
  modules/mariadb/src/main/java/org/testcontainers/containers/MariaDBContainer.java
  modules/mssqlserver/src/main/java/org/testcontainers/containers/MSSQLServerContainer.java
  modules/mysql/src/main/java/org/testcontainers/containers/MySQLContainer.java
  modules/neo4j/src/main/java/org/testcontainers/containers/Neo4jContainer.java
  modules/nginx/src/main/java/org/testcontainers/containers/NginxContainer.java
  modules/oracle-xe/src/main/java/org/testcontainers/containers/OracleContainer.java
  modules/orientdb/src/main/java/org/testcontainers/containers/OrientDBContainer.java
  modules/postgresql/src/main/java/org/testcontainers/containers/PostgreSQLContainer.java
  modules/presto/src/main/java/org/testcontainers/containers/PrestoContainer.java
Labels: type/housekeeping

#2477 add more information for using registry mirror
  docs/features/configuration.md
Labels: type/docs

#2550 Add ciMate
  .circleci/config.yml
  .github/workflows/ci.yml
  azure-pipelines.yml
Labels: type/housekeeping

#2505 Remove unused JEE deps
  core/build.gradle
Labels: dependencies

#2435 Update to docker-java 3.2.1
  build.gradle
  core/build.gradle
Labels: dependencies, type/dependency update

#2422 Add more clear warning message instructing users how to enable reusable containers
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
Labels: area/reusable-containers

#2203 Protect `NetworkImpl#close` from concurrency issues
  core/src/main/java/org/testcontainers/containers/Network.java
Labels: resolution/acknowledged, type/bug

#1326 Support TestLifecycleAware-ness of containers started by the JUnit Jupiter integration
  modules/junit-jupiter/build.gradle
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/FilesystemFriendlyNameGenerator.java
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/TestcontainerTestDescription.java
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/TestcontainersExtension.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/FilesystemFriendlyNameGeneratorTest.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/TestLifecycleAwareContainerMock.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/TestLifecycleAwareExceptionCapturingTest.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/TestLifecycleAwareMethodTest.java
Labels: modules/jupiter, type/feature

#2545 Add R2DBC support
  docs/modules/databases/index.md
  docs/modules/databases/jdbc.md
  docs/modules/databases/r2dbc.md
  mkdocs.yml
  modules/mariadb/build.gradle
  modules/mariadb/src/main/java/org/testcontainers/containers/MariaDBContainer.java
  modules/mariadb/src/main/java/org/testcontainers/containers/MariaDBR2DBCDatabaseContainer.java
  modules/mariadb/src/main/java/org/testcontainers/containers/MariaDBR2DBCDatabaseContainerProvider.java
  modules/mariadb/src/test/java/org/testcontainers/containers/MariaDBR2DBCDatabaseContainerTest.java
  modules/mariadb/src/test/resources/logback-test.xml
  modules/mssqlserver/build.gradle
  modules/mssqlserver/src/main/java/org/testcontainers/containers/MSSQLR2DBCDatabaseContainer.java
  modules/mssqlserver/src/main/java/org/testcontainers/containers/MSSQLR2DBCDatabaseContainerProvider.java
  modules/mssqlserver/src/test/java/org/testcontainers/containers/MSSQLR2DBCDatabaseContainerTest.java
  modules/mssqlserver/src/test/resources/container-license-acceptance.txt
  modules/mssqlserver/src/test/resources/logback-test.xml
  modules/mysql/build.gradle
  modules/mysql/src/main/java/org/testcontainers/containers/MySQLR2DBCDatabaseContainer.java
  modules/mysql/src/main/java/org/testcontainers/containers/MySQLR2DBCDatabaseContainerProvider.java
  modules/mysql/src/test/java/org/testcontainers/containers/MySQLR2DBCDatabaseContainerTest.java
  modules/mysql/src/test/resources/logback-test.xml
  modules/postgresql/build.gradle
  modules/postgresql/src/main/java/org/testcontainers/containers/PostgreSQLR2DBCDatabaseContainer.java
  modules/postgresql/src/main/java/org/testcontainers/containers/PostgreSQLR2DBCDatabaseContainerProvider.java
  modules/postgresql/src/test/java/org/testcontainers/containers/PostgreSQLR2DBCDatabaseContainerTest.java
  modules/postgresql/src/test/resources/logback-test.xml
  modules/r2dbc/build.gradle
  modules/r2dbc/src/main/java/org/testcontainers/r2dbc/CancellableSubscription.java
  modules/r2dbc/src/main/java/org/testcontainers/r2dbc/ConnectionPublisher.java
  modules/r2dbc/src/main/java/org/testcontainers/r2dbc/EmptySubscription.java
  modules/r2dbc/src/main/java/org/testcontainers/r2dbc/Hidden.java
  modules/r2dbc/src/main/java/org/testcontainers/r2dbc/R2DBCDatabaseContainer.java
  modules/r2dbc/src/main/java/org/testcontainers/r2dbc/R2DBCDatabaseContainerProvider.java
  modules/r2dbc/src/main/java/org/testcontainers/r2dbc/TestcontainersR2DBCConnectionFactory.java
  modules/r2dbc/src/test/java/org/testcontainers/r2dbc/TestcontainersR2DBCConnectionFactoryTest.java
  modules/r2dbc/src/test/resources/logback-test.xml
  modules/r2dbc/src/testFixtures/java/org/testcontainers/r2dbc/AbstractR2DBCDatabaseContainerTest.java
Labels: type/feature

#2548 VNC recording with BrowserWebdriverContainer in Spock-Extension
  modules/spock/build.gradle
  modules/spock/src/main/groovy/org/testcontainers/spock/SpockTestDescription.groovy
  modules/spock/src/main/groovy/org/testcontainers/spock/TestcontainersExtension.groovy
  modules/spock/src/main/groovy/org/testcontainers/spock/TestcontainersMethodInterceptor.groovy
  modules/spock/src/test/groovy/org/testcontainers/spock/BrowserVncRecordingIT.groovy
Labels: modules/selenium, modules/spock, type/feature

#2491 Rewrite Couchbase module. closes #2447
  docs/modules/databases/couchbase.md
  modules/couchbase/build.gradle
  modules/couchbase/src/main/java/org/testcontainers/couchbase/AbstractCouchbaseTest.java
  modules/couchbase/src/main/java/org/testcontainers/couchbase/BucketDefinition.java
  modules/couchbase/src/main/java/org/testcontainers/couchbase/CouchbaseContainer.java
  modules/couchbase/src/main/java/org/testcontainers/couchbase/CouchbaseQueryServiceWaitStrategy.java
  modules/couchbase/src/main/java/org/testcontainers/couchbase/CouchbaseService.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/BaseCouchbaseContainerTest.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/Couchbase4_6Test.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/Couchbase5_1Test.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/Couchbase5_5Test.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/CouchbaseCommunity5_1Test.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/CouchbaseContainerTest.java
Labels: modules/couchbase, type/breaking-api-change

#2547 Use LogMessageWaitStrategy in VncRecordingContainer
  core/src/main/java/org/testcontainers/containers/VncRecordingContainer.java
Labels: modules/selenium, type/bug

#2558 Include image name in RemoteDockerImage#toString
  core/src/main/java/org/testcontainers/images/RemoteDockerImage.java
  core/src/test/java/org/testcontainers/containers/GenericContainerTest.java
  core/src/test/java/org/testcontainers/images/RemoteDockerImageTest.java
Labels: type/feature

#2563 Fix Spock's `TestLifecycleAware` integration
  modules/spock/src/main/groovy/org/testcontainers/spock/TestcontainersMethodInterceptor.groovy
  modules/spock/src/test/groovy/org/testcontainers/spock/BrowserVncRecordingIT.groovy
  modules/spock/src/test/groovy/org/testcontainers/spock/TestLifecycleAwareContainerMock.java
  modules/spock/src/test/groovy/org/testcontainers/spock/TestLifecycleAwareIT.groovy
Labels: modules/spock, type/bug, type/housekeeping

#2562 Make default file recording directory of BrowserWebDriverContainer platform independent
  modules/selenium/src/main/java/org/testcontainers/containers/BrowserWebDriverContainer.java
  modules/selenium/src/test/java/org/testcontainers/junit/ChromeRecordingWebDriverContainerTest.java
Labels: client/docker-for-windows, modules/selenium, type/bug

#2551 Upgrade Gradle to 6.3
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  settings.gradle
Labels: type/housekeeping

#2572 Explicitly set ciMate's projectId in CircleCI
  .circleci/config.yml
Labels: type/housekeeping

#2574 Regard specified VNC recording directory for BrowserWebDriverContainer again
  modules/selenium/src/main/java/org/testcontainers/containers/BrowserWebDriverContainer.java
  modules/selenium/src/test/java/org/testcontainers/junit/ChromeRecordingWebDriverContainerTest.java
Labels: modules/selenium, resolution/acknowledged, type/bug

#2580 Add `type/enhancement` to the Release Drafter
  .github/release-drafter.yml
Labels: type/housekeeping

#2582 Update Gradle Shadow Plugin to 5.2.0
  build.gradle
Labels: type/housekeeping

#2583 CreateContainerCmd Link was outdated.
  docs/features/advanced_options.md
Labels: type/docs

#2586 Reduce CircleCI build to a minimal subset of core
  .circleci/config.yml
Labels: type/housekeeping

#2520 Generate GitHub Actions CI Jobs automatically
  .github/workflows/ci-dind.yml
  .github/workflows/ci.yml
  .github/workflows/scripts/check_ci_status.sh
  build.gradle
  gradle/ci-support.gradle
Labels: type/housekeeping

#2589 Add gradle caching to find_gradle_jobs build
  .github/workflows/ci.yml
Labels: type/housekeeping

#2566 Update Copyright for 2020 in Documentation
  docs/index.md
Labels: type/docs

#2577 delegate `getMetadata()` to `R2DBCDatabaseContainerProvider`
  modules/mariadb/src/main/java/org/testcontainers/containers/MariaDBContainer.java
  modules/mariadb/src/main/java/org/testcontainers/containers/MariaDBR2DBCDatabaseContainerProvider.java
  modules/mssqlserver/src/main/java/org/testcontainers/containers/MSSQLR2DBCDatabaseContainerProvider.java
  modules/mssqlserver/src/main/java/org/testcontainers/containers/MSSQLServerContainer.java
  modules/mysql/src/main/java/org/testcontainers/containers/MySQLContainer.java
  modules/mysql/src/main/java/org/testcontainers/containers/MySQLR2DBCDatabaseContainerProvider.java
  modules/postgresql/src/main/java/org/testcontainers/containers/PostgreSQLContainer.java
  modules/postgresql/src/main/java/org/testcontainers/containers/PostgreSQLR2DBCDatabaseContainerProvider.java
  modules/r2dbc/src/main/java/org/testcontainers/r2dbc/R2DBCDatabaseContainerProvider.java
  modules/r2dbc/src/main/java/org/testcontainers/r2dbc/TestcontainersR2DBCConnectionFactory.java
  modules/r2dbc/src/testFixtures/java/org/testcontainers/r2dbc/AbstractR2DBCDatabaseContainerTest.java
Labels: modules/r2dbc, type/bug

#2591 GHA: disable fail-fast matrix strategy
  .github/workflows/ci.yml
Labels: type/housekeeping

#2585 Public ImageData class for custom image pull policies
  core/src/main/java/org/testcontainers/images/ImageData.java
  core/src/test/java/alt/testcontainers/README.md
  core/src/test/java/alt/testcontainers/images/OutOfPackageImagePullPolicyTest.java
Labels: type/bug

#2587 Reduce AZP build to a minimal subset of core, except when running on Windows
  azure-pipelines.yml
Labels: type/housekeeping

#2596 Fix regression introduced in #2473 (missing `this` constructor call)
  modules/mariadb/src/main/java/org/testcontainers/containers/MariaDBContainer.java
  modules/mysql/src/main/java/org/testcontainers/containers/MySQLContainer.java
Labels: blocker, modules/jdbc, modules/r2dbc, type/bug

#2597 Push Gradle Cache from GHA
  .github/workflows/ci.yml
  settings.gradle
Labels: type/housekeeping

#2601 Set custom ciMate key
  .github/workflows/ci.yml
Labels: type/housekeeping

#2607 CircleCI docs: fix invalid executor key
  docs/supported_docker_environment/continuous_integration/circle_ci.md
Labels: type/docs

#2579 Allow using LocalStackContainer with AWS SDK v2 #1442
  docs/modules/localstack.md
  modules/localstack/build.gradle
  modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/LocalstackContainerTest.java
Labels: type/enhancement

#2604 Use relative path for temp dirs in test
  core/src/test/java/org/testcontainers/utility/AuthenticatedImagePullTest.java
Labels: type/test-improvement

#2602 Replace legacy orchardup/mysql with mysql:5.7.22 in docker compose test
  core/src/test/resources/compose-test.yml
Labels: type/housekeeping, type/test-improvement

#2636 Fix typo
  docs/test_framework_integration/junit_5.md
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/Testcontainers.java
Labels: modules/jupiter, type/docs
