Repository testcontainers/testcontainers-java, pull requests merged in 2020-03, with the labels that each got.

#1964 idiomatize test container configuration in kotlin example
  examples/spring-boot-kotlin-redis/src/test/kotlin/com/example/redis/AbstractIntegrationTest.kt
Labels: type/docs

#2210 #1975: add example for Cassandra module
  docs/modules/databases/cassandra.md
Labels: type/docs

#2363 Fix internal port check when other ports are opened as well on the target container
  core/src/main/java/org/testcontainers/containers/ExecInContainerPattern.java
  core/src/main/java/org/testcontainers/containers/wait/internal/InternalCommandPortListeningCheck.java
  core/src/test/java/org/testcontainers/containers/wait/internal/InternalCommandPortListeningCheckTest.java
  core/src/test/resources/internal-port-check-dockerfile/Dockerfile-bash
  core/src/test/resources/internal-port-check-dockerfile/Dockerfile-nc
  core/src/test/resources/internal-port-check-dockerfile/Dockerfile-tcp
  core/src/test/resources/internal-port-check-dockerfile/nginx.conf
  core/src/test/resources/nginx_on_8080.conf
Labels: type/bug

#2049 Fix invalid connection URLs returned by PostgreSQLContainer (#1976)
  modules/postgresql/src/main/java/org/testcontainers/containers/PostgreSQLContainer.java
  modules/postgresql/src/test/java/org/testcontainers/containers/PostgreSQLConnectionURLTest.java
Labels: modules/jdbc

#2297 Update to docker-java 3.2.0
  core/build.gradle
  core/src/jarFileTest/java/org/testcontainers/JarFileShadingTest.java
  core/src/jarFileTest/java/org/testcontainers/PublicBinaryAPITest.java
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/main/java/org/testcontainers/containers/VncRecordingContainer.java
  core/src/main/java/org/testcontainers/dockerclient/AuditLoggingDockerClient.java
  core/src/main/java/org/testcontainers/dockerclient/DockerClientConfigUtils.java
  core/src/main/java/org/testcontainers/dockerclient/DockerClientProviderStrategy.java
  core/src/main/java/org/testcontainers/dockerclient/NpipeSocketClientProviderStrategy.java
  core/src/main/java/org/testcontainers/dockerclient/auth/AuthDelegatingDockerClientConfig.java
  core/src/main/java/org/testcontainers/dockerclient/transport/okhttp/NamedPipeSocketFactory.java
  core/src/main/java/org/testcontainers/dockerclient/transport/okhttp/OkHttpDockerCmdExecFactory.java
  core/src/main/java/org/testcontainers/dockerclient/transport/okhttp/OkHttpWebTarget.java
  core/src/main/java/org/testcontainers/dockerclient/transport/okhttp/UnixSocketFactory.java
  core/src/main/java/org/testcontainers/images/TimeLimitedLoggedPullImageResultCallback.java
  modules/couchbase/src/main/java/org/testcontainers/couchbase/CouchbaseContainer.java
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
Labels: area/okhttp, area/shading, dependencies, type/dependency update

#2413 Upgrade localstack to 0.10.8
  modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/LocalstackContainerTest.java
Labels: type/dependency update

#2452 Extend docs with registry mirror as workaround for custom images
  docs/features/configuration.md
Labels: type/docs

#2429 Fallback to `getDefaultGateway()` if "bridge" is unavailable.
  core/src/main/java/org/testcontainers/dockerclient/DockerClientProviderStrategy.java
Labels: blocker

#2476 Bump Cucucmber example version to 5.5.0
  examples/cucumber/build.gradle
  examples/cucumber/src/test/java/org/testcontainsers/examples/CucumberTest.java
  examples/cucumber/src/test/java/org/testcontainsers/examples/Stepdefs.java
Labels: dependencies, type/dependency update

#2206 Add custom exception message when HealthState not present in `docker inspect` response
  core/src/main/java/org/testcontainers/containers/ContainerState.java
Labels: resolution/acknowledged, type/feature

#2495 Use `@DynamicPropertySource` in the Spring Boot example
  examples/spring-boot/build.gradle
  examples/spring-boot/src/test/java/com/example/AbstractIntegrationTest.java
Labels: type/docs
