Repository testcontainers/testcontainers-java, pull requests merged in 2021-09, with the labels that each got.

#4444 Combined dependencies PR
  .github/workflows/ci-examples.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update-gradle-wrapper.yml
  core/build.gradle
  examples/cucumber/build.gradle
  examples/disque-job-queue/build.gradle
  examples/linked-container/build.gradle
  examples/mongodb-container/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/selenium-container/build.gradle
  examples/singleton-container/build.gradle
  examples/spring-boot-kotlin-redis/build.gradle
  examples/spring-boot/build.gradle
  modules/couchbase/build.gradle
  modules/dynalite/build.gradle
  modules/elasticsearch/build.gradle
  modules/jdbc-test/build.gradle
  modules/jdbc/build.gradle
  modules/junit-jupiter/build.gradle
  modules/localstack/build.gradle
  modules/mariadb/build.gradle
  modules/mysql/build.gradle
  modules/nginx/build.gradle
  modules/postgresql/build.gradle
  modules/selenium/build.gradle
  modules/spock/build.gradle
Labels: dependencies

#4448 Combined dependencies PR
  core/build.gradle
  examples/cucumber/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/singleton-container/build.gradle
  examples/spring-boot-kotlin-redis/build.gradle
  modules/elasticsearch/build.gradle
  modules/localstack/build.gradle
  modules/mssqlserver/build.gradle
Labels: dependencies

#4375 Fix `CmdModifierTest#testMemoryLimitModified` in cgroup2 environment.
  docs/examples/junit4/generic/src/test/java/generic/CmdModifierTest.java
Labels: type/housekeeping

#4459 Update to `docker-java` 3.2.12
  core/build.gradle
  core/src/main/java/org/testcontainers/DockerClientFactory.java
  core/src/main/java/org/testcontainers/LazyDockerClient.java
  core/src/main/java/org/testcontainers/dockerclient/AuthDelegatingDockerClientConfig.java
Labels: dependencies

#4387 Allow to disable configuration of `EnvironmentAndSystemPropertyClientProviderStrategy` through Testcontainers
  core/src/main/java/org/testcontainers/dockerclient/EnvironmentAndSystemPropertyClientProviderStrategy.java
  core/src/main/java/org/testcontainers/utility/TestcontainersConfiguration.java
  core/src/test/java/org/testcontainers/dockerclient/EnvironmentAndSystemPropertyClientProviderStrategyTest.java
  core/src/test/java/org/testcontainers/utility/TestcontainersConfigurationTest.java
  docs/features/configuration.md
Labels: type/enhancement

#4460 Retry internal port checking in the same exec
  core/src/main/java/org/testcontainers/containers/wait/internal/InternalCommandPortListeningCheck.java
  core/src/test/java/org/testcontainers/containers/wait/internal/InternalCommandPortListeningCheckTest.java
Labels: type/enhancement

#4167 Update JUnit 4.12 to 4.13.2.
  core/build.gradle
  docs/examples/junit4/generic/build.gradle
  docs/examples/junit4/redis/build.gradle
  test-support/build.gradle
Labels: type/dependency update

#4207 Tidy up core's build file
  build.gradle
  core/build.gradle
  gradle/publishing.gradle
  gradle/shading.gradle
Labels: type/housekeeping

#3891 Make TimescaleDB available with JDBC syntax
  docs/modules/databases/jdbc.md
  modules/jdbc-test/src/main/java/org/testcontainers/jdbc/AbstractJDBCDriverTest.java
  modules/postgresql/src/main/java/org/testcontainers/containers/TimescaleDBContainerProvider.java
  modules/postgresql/src/main/resources/META-INF/services/org.testcontainers.containers.JdbcDatabaseContainerProvider
  modules/postgresql/src/test/java/org/testcontainers/containers/TimescaleDBContainerTest.java
  modules/postgresql/src/test/java/org/testcontainers/jdbc/timescaledb/TimescaleDBJDBCDriverTest.java
  modules/postgresql/src/test/resources/somepath/init_timescaledb.sql
Labels: type/feature, modules/jdbc

#4443 Fix dangling constructor reference in deprecation note
  modules/postgresql/src/main/java/org/testcontainers/containers/PostgreSQLContainer.java
Labels: type/housekeeping

#4195 Randomize naming for createVolumeDirectory method
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
Labels: type/bug, type/housekeeping

#4402 Modernize Oracle Container Logic
  modules/oracle-xe/build.gradle
  modules/oracle-xe/src/main/java/org/testcontainers/containers/OracleContainer.java
  modules/oracle-xe/src/test/java/org/testcontainers/containers/jdbc/OracleJDBCDriverTest.java
  modules/oracle-xe/src/test/java/org/testcontainers/junit/oracle/SimpleOracleTest.java
Labels: modules/jdbc, type/enhancement

#4484 Add togglz as testcontainers user
  docs/index.md
Labels: type/docs
