Repository testcontainers/testcontainers-java, pull requests merged in 2021-07, with the labels that each got.

#3434 Switch from using Travis to GitHub Actions for release
  .github/workflows/release.yml
  .travis.yml
  README.md
  build.gradle
  gradle/bintray.gradle
  gradle/publishing.gradle
Labels: type/housekeeping

#4269 Combined dependencies PR
  .github/workflows/combine-prs.yml
  .github/workflows/update-gradle-wrapper.yml
  core/build.gradle
  examples/disque-job-queue/build.gradle
  examples/kafka-cluster/build.gradle
  examples/linked-container/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/selenium-container/build.gradle
  examples/singleton-container/build.gradle
  examples/solr-container/build.gradle
  examples/spring-boot-kotlin-redis/build.gradle
  examples/spring-boot/build.gradle
  modules/couchbase/build.gradle
  modules/elasticsearch/build.gradle
  modules/jdbc-test/build.gradle
  modules/jdbc/build.gradle
  modules/junit-jupiter/build.gradle
  modules/kafka/build.gradle
  modules/localstack/build.gradle
  modules/neo4j/build.gradle
  modules/postgresql/build.gradle
  modules/pulsar/build.gradle
  modules/spock/build.gradle
  modules/vault/build.gradle
Labels: dependencies

#4287 Use Apache HttpClient5 transport as the default
  core/src/main/java/org/testcontainers/utility/TestcontainersConfiguration.java
Labels: type/enhancement

#4288 Combined dependencies PR
  core/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/singleton-container/build.gradle
  modules/database-commons/build.gradle
  modules/dynalite/build.gradle
  modules/jdbc/build.gradle
  modules/localstack/build.gradle
Labels: dependencies

#4221 Add support for community edition of couchbase server
  modules/couchbase/src/main/java/org/testcontainers/couchbase/CouchbaseContainer.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/CouchbaseContainerTest.java
Labels: modules/couchbase

#4073 Allow for docker timestamps with timezone offsets
  core/src/main/java/org/testcontainers/utility/DockerStatus.java
  core/src/test/java/org/testcontainers/utility/DockerStatusTest.java
Labels: resolution/acknowledged

#4053 Spock Testcontainers annotation is now inherited
  modules/spock/src/main/groovy/org/testcontainers/spock/Testcontainers.groovy
  modules/spock/src/test/groovy/org/testcontainers/spock/TestHierarchyIT.groovy
Labels: modules/spock, type/enhancement

#4290 Fallback to x86 image if image pulling fails
  core/src/main/java/org/testcontainers/DockerClientFactory.java
  core/src/main/java/org/testcontainers/dockerclient/DockerClientProviderStrategy.java
  core/src/main/java/org/testcontainers/images/RemoteDockerImage.java
  docs/supported_docker_environment/index.md
Labels: os/macOS, type/enhancement

#4291 Upgrade alpine images for better M1 compatibility
  core/src/main/java/org/testcontainers/DockerClientFactory.java
  core/src/test/java/org/testcontainers/TestImages.java
  core/src/test/java/org/testcontainers/containers/DockerComposeFilesTest.java
  core/src/test/java/org/testcontainers/containers/ParsedDockerComposeFileValidationTest.java
  core/src/test/java/org/testcontainers/containers/output/ToStringConsumerTest.java
  core/src/test/java/org/testcontainers/dockerclient/ImagePullTest.java
  core/src/test/java/org/testcontainers/junit/DockerfileTest.java
  core/src/test/java/org/testcontainers/junit/FixedHostPortContainerTest.java
  core/src/test/java/org/testcontainers/junit/ParameterizedDockerfileContainerTest.java
  core/src/test/java/org/testcontainers/utility/DirectoryTarResourceTest.java
  core/src/test/resources/compose-dockerfile/Dockerfile
  core/src/test/resources/compose-scaling-multiple-containers.yml
  core/src/test/resources/dockerfile-build-invalid/Dockerfile
  core/src/test/resources/dockerfile-build-test/Dockerfile
  core/src/test/resources/dockerfile-build-test/Dockerfile-alt
  core/src/test/resources/dockerfile-build-test/Dockerfile-buildarg
  core/src/test/resources/dockerfile-build-test/Dockerfile-currentdir
  core/src/test/resources/health-wait-strategy-dockerfile/Dockerfile
  core/src/test/resources/mappable-dockerfile/Dockerfile
  docs/examples/junit4/generic/src/test/java/generic/ContainerCreationTest.java
  docs/examples/junit4/generic/src/test/java/generic/ContainerLabelTest.java
  docs/examples/junit4/generic/src/test/java/generic/ExecTest.java
  docs/features/configuration.md
  docs/features/creating_images.md
  modules/spock/src/test/groovy/org/testcontainers/spock/SpockTestImages.groovy
Labels: type/housekeeping, type/test-improvement

#4263 Remove withPublishAllPorts from Ryuk and stabilize containerInfo content on start
  core/build.gradle
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/main/java/org/testcontainers/utility/DynamicPollInterval.java
  core/src/main/java/org/testcontainers/utility/ResourceReaper.java
  core/src/test/java/org/testcontainers/containers/GenericContainerTest.java
  core/src/test/java/org/testcontainers/containers/ReusabilityUnitTests.java
Labels: client/docker-for-windows, os/windows, type/bug

#4293 Split Windows CI into core and non-core steps
  azure-pipelines.yml
Labels: type/housekeeping

#4295 Update RELEASING.md
  RELEASING.md
Labels: resolution/awaiting-release, type/docs

#4315 Disable Chrome's GPU support in `BrowserWebDriverContainer`
  modules/selenium/src/main/java/org/testcontainers/containers/BrowserWebDriverContainer.java
Labels: modules/selenium, type/enhancement

#4316 Update Kafka config dynamically
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
Labels: modules/kafka, type/enhancement
