Repository testcontainers/testcontainers-java, pull requests merged in 2021-05, with the labels that each got.

#4059 Use up-to-date MySQL docker images
  core/src/test/resources/compose-test.yml
  docs/examples/junit4/generic/src/test/java/generic/ImageNameSubstitutionTest.java
  docs/examples/junit4/generic/src/test/java/generic/support/TestSpecificImageNameSubstitutor.java
  docs/features/image_name_substitution.md
  docs/modules/databases/jdbc.md
  docs/modules/databases/mysql.md
  docs/modules/databases/r2dbc.md
  modules/jdbc-test/src/main/java/org/testcontainers/db/AbstractContainerDatabaseTest.java
  modules/jdbc/src/test/java/org/testcontainers/jdbc/ConnectionUrlDriversTests.java
  modules/jdbc/src/test/java/org/testcontainers/jdbc/ConnectionUrlTest.java
  modules/jdbc/src/test/java/org/testcontainers/jdbc/MissingJdbcDriverTest.java
  modules/mysql/build.gradle
  modules/mysql/src/main/java/org/testcontainers/containers/MySQLContainer.java
  modules/mysql/src/test/java/org/testcontainers/MySQLTestImages.java
  modules/mysql/src/test/java/org/testcontainers/containers/MySQLR2DBCDatabaseContainerTest.java
  modules/mysql/src/test/java/org/testcontainers/containers/MySQLRootAccountTest.java
  modules/mysql/src/test/java/org/testcontainers/jdbc/mysql/JDBCDriverWithPoolTest.java
  modules/mysql/src/test/java/org/testcontainers/jdbc/mysql/MySQLJDBCDriverTest.java
  modules/mysql/src/test/java/org/testcontainers/junit/mysql/CustomizableMysqlTest.java
  modules/mysql/src/test/java/org/testcontainers/junit/mysql/MultiVersionMySQLTest.java
  modules/mysql/src/test/java/org/testcontainers/junit/mysql/SimpleMySQLTest.java
  modules/spock/src/test/groovy/org/testcontainers/spock/SpockTestImages.groovy
Labels: modules/jdbc, modules/r2dbc, type/test-improvement

#4054 Docs: Use `testImplementation` instead of deprecated `testCompile`
  docs/examples/junit4/generic/build.gradle
  docs/examples/junit4/redis/build.gradle
  docs/examples/junit5/redis/build.gradle
  docs/index.md
  docs/modules/databases/cassandra.md
  docs/modules/databases/clickhouse.md
  docs/modules/databases/cockroachdb.md
  docs/modules/databases/couchbase.md
  docs/modules/databases/db2.md
  docs/modules/databases/dynalite.md
  docs/modules/databases/influxdb.md
  docs/modules/databases/mariadb.md
  docs/modules/databases/mongodb.md
  docs/modules/databases/mssqlserver.md
  docs/modules/databases/mysql.md
  docs/modules/databases/neo4j.md
  docs/modules/databases/oraclexe.md
  docs/modules/databases/orientdb.md
  docs/modules/databases/postgres.md
  docs/modules/databases/presto.md
  docs/modules/databases/trino.md
  docs/modules/docker_compose.md
  docs/modules/elasticsearch.md
  docs/modules/gcloud.md
  docs/modules/kafka.md
  docs/modules/localstack.md
  docs/modules/mockserver.md
  docs/modules/nginx.md
  docs/modules/pulsar.md
  docs/modules/rabbitmq.md
  docs/modules/solr.md
  docs/modules/toxiproxy.md
  docs/modules/vault.md
  docs/modules/webdriver_containers.md
  docs/quickstart/junit_4_quickstart.md
  docs/quickstart/junit_5_quickstart.md
  docs/quickstart/spock_quickstart.md
  docs/test_framework_integration/spock.md
Labels: type/docs

#4010 Remove visible assertions dependency
  core/build.gradle
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  examples/disque-job-queue/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/selenium-container/build.gradle
  examples/singleton-container/build.gradle
  examples/solr-container/build.gradle
  examples/spring-boot/build.gradle
  modules/dynalite/build.gradle
  modules/elasticsearch/build.gradle
  modules/jdbc/build.gradle
  modules/localstack/build.gradle
  modules/mockserver/build.gradle
  modules/nginx/build.gradle
  modules/selenium/build.gradle
Labels: dependencies, type/enhancement

#4083 Reduce dependabot bump rate to monthly
  .github/dependabot.yml
Labels: type/housekeeping

#4104 Only run update-* and release-drafter on original repository, not on forks
  .github/workflows/release-drafter.yml
  .github/workflows/update-docs-version.yml
  .github/workflows/update-gradle-wrapper.yml
Labels: type/housekeeping

#3015 Improve log messages when database container test query fails
  modules/jdbc/build.gradle
  modules/jdbc/src/main/java/org/testcontainers/containers/JdbcDatabaseContainer.java
  modules/jdbc/src/test/java/org/testcontainers/containers/JdbcDatabaseContainerTest.java
Labels: modules/jdbc, type/bug

#4122 Only publish exposed ports
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/test/java/org/testcontainers/containers/GenericContainerTest.java
  modules/clickhouse/src/main/java/org/testcontainers/containers/ClickHouseContainer.java
  modules/couchbase/src/main/java/org/testcontainers/couchbase/CouchbaseContainer.java
  modules/mariadb/src/main/java/org/testcontainers/containers/MariaDBContainer.java
  modules/mssqlserver/src/main/java/org/testcontainers/containers/MSSQLServerContainer.java
  modules/oracle-xe/src/main/java/org/testcontainers/containers/OracleContainer.java
Labels: type/enhancement
