Repository testcontainers/testcontainers-java, pull requests merged in 2021-08, with the labels that each got.

#4352 Combined dependencies PR
  core/build.gradle
  examples/linked-container/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/singleton-container/build.gradle
  examples/spring-boot-kotlin-redis/build.gradle
  modules/couchbase/build.gradle
  modules/elasticsearch/build.gradle
  modules/jdbc-test/build.gradle
  modules/junit-jupiter/build.gradle
  modules/localstack/build.gradle
  modules/mysql/build.gradle
  modules/postgresql/build.gradle
  modules/spock/build.gradle
Labels: dependencies

#4353 Fix failing `PublicBinaryAPITest` for `DynamicPollInterval`
  core/build.gradle
  core/src/jarFileTest/java/org/testcontainers/PublicBinaryAPITest.java
Labels: area/shading, type/housekeeping

#4358 Combined dependencies PR
  examples/kafka-cluster/build.gradle
  modules/dynalite/build.gradle
  modules/jdbc-test/build.gradle
  modules/localstack/build.gradle
  modules/mariadb/build.gradle
Labels: dependencies

#4359 Upgrade ryuk image to 0.3.2
  core/src/main/java/org/testcontainers/utility/ResourceReaper.java
  core/src/test/java/org/testcontainers/utility/TestcontainersConfigurationTest.java
  docs/features/configuration.md
Labels: dependencies

#4364 Add japicmp to every module
  build.gradle
  core/build.gradle
  gradle/japicmp.gradle
  modules/kafka/build.gradle
Labels: type/housekeeping

#4369 docs: add Elastic as user
  docs/index.md
Labels: type/docs
