Repository testcontainers/testcontainers-java, pull requests merged in 2021-01, with the labels that each got.

#3666 Fix handling of locally built images when used with `hub.image.name.prefix`
  core/src/main/java/org/testcontainers/images/builder/ImageFromDockerfile.java
Labels: type/bug

#3664 Remove duplicated dependency in jdbc-test module
  modules/jdbc-test/build.gradle
Labels: type/housekeeping, type/test-improvement

#3682 Support Ryuk socket timeout
  core/src/main/java/org/testcontainers/utility/ResourceReaper.java
Labels: type/enhancement
