Repository testcontainers/testcontainers-java, pull requests merged in 2021-04, with the labels that each got.

#3979 Filter mapped ports when port numbers are not specified (replaces #3948)
  core/src/main/java/org/testcontainers/containers/ContainerState.java
  core/src/test/java/org/testcontainers/containers/ContainerStateTest.java
Labels: type/bug

#3976 Prevent ContainerDatabaseDriver from throwing NPEs when on classpath but not initialized
  modules/jdbc/src/main/java/org/testcontainers/jdbc/ContainerDatabaseDriver.java
Labels: type/bug

#3953 Fix problem of starting up mysql 5.7.33 version when user is root
  modules/mysql/src/main/java/org/testcontainers/containers/MySQLContainer.java
  modules/mysql/src/test/java/org/testcontainers/containers/MySQLRootAccountTest.java
Labels: modules/jdbc, type/bug

#3974 Update docs to clarify shading approach
  docs/index.md
Labels: type/docs

#3980 Update docker-java to 3.2.8
  core/build.gradle
Labels: dependencies, type/dependency update

#3955 ec2 added to localstack services enum
  modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java
Labels: type/enhancement

#3995 Make it possible to provide custom LocalStack services
  modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/LocalstackContainerTest.java
Labels: type/feature

#3001 Improve logging in InternalCommandPortListeningCheck (#2984)
  core/src/main/java/org/testcontainers/containers/wait/internal/InternalCommandPortListeningCheck.java
Labels: resolution/acknowledged, type/enhancement

#4039 Docs: Add Backbase as Bronze sponsor
  docs/index.md
  docs/sponsor_logos/backbase.png
Labels: type/docs
