Repository testcontainers/testcontainers-java, pull requests merged in 2021-06, with the labels that each got.

#4170 Add @oleg-nenashev as backer, reference @jenkinsci and @cloudbees as adopters
  docs/index.md
Labels: type/docs

#4135 Combined dependencies PR
  modules/database-commons/build.gradle
  modules/jdbc/build.gradle
  modules/junit-jupiter/build.gradle
Labels: dependencies, type/housekeeping

#4180 Combined dependencies PR
  examples/redis-backed-cache-testng/build.gradle
  examples/spring-boot-kotlin-redis/build.gradle
  modules/dynalite/build.gradle
  modules/jdbc/build.gradle
  modules/localstack/build.gradle
  modules/mysql/build.gradle
  modules/spock/build.gradle
  modules/vault/build.gradle
Labels: dependencies

#4183 Combined dependencies PR
  .github/workflows/ci-examples.yml
  .github/workflows/ci.yml
  examples/linked-container/build.gradle
  modules/elasticsearch/build.gradle
  modules/kafka/build.gradle
  modules/mariadb/build.gradle
Labels: dependencies

#4185 Combined dependencies PR
  examples/spring-boot-kotlin-redis/build.gradle
  modules/jdbc/build.gradle
  modules/junit-jupiter/build.gradle
  modules/localstack/build.gradle
  modules/nginx/build.gradle
  modules/postgresql/build.gradle
  modules/selenium/build.gradle
Labels: dependencies

#4171 Update to Gradle 7
  .gitignore
  build.gradle
  buildSrc/build.gradle
  buildSrc/src/main/groovy/org/testcontainers/build/ComparePOMWithLatestReleasedTask.groovy
  core/build.gradle
  docs/examples/junit4/redis/build.gradle
  docs/examples/junit5/redis/build.gradle
  docs/examples/spock/redis/build.gradle
  examples/gradle/wrapper/gradle-wrapper.properties
  examples/kafka-cluster/build.gradle
  gradle.properties
  gradle/publishing.gradle
  gradle/wrapper/gradle-wrapper.properties
  modules/cassandra/build.gradle
  modules/clickhouse/build.gradle
  modules/cockroachdb/build.gradle
  modules/couchbase/build.gradle
  modules/database-commons/build.gradle
  modules/db2/build.gradle
  modules/dynalite/build.gradle
  modules/elasticsearch/build.gradle
  modules/gcloud/build.gradle
  modules/influxdb/build.gradle
  modules/jdbc-test/build.gradle
  modules/jdbc/build.gradle
  modules/junit-jupiter/build.gradle
  modules/kafka/build.gradle
  modules/localstack/build.gradle
  modules/mariadb/build.gradle
  modules/mockserver/build.gradle
  modules/mongodb/build.gradle
  modules/mssqlserver/build.gradle
  modules/mysql/build.gradle
  modules/neo4j/build.gradle
  modules/nginx/build.gradle
  modules/oracle-xe/build.gradle
  modules/orientdb/build.gradle
  modules/postgresql/build.gradle
  modules/presto/build.gradle
  modules/pulsar/build.gradle
  modules/r2dbc/build.gradle
  modules/rabbitmq/build.gradle
  modules/selenium/build.gradle
  modules/solr/build.gradle
  modules/spock/build.gradle
  modules/toxiproxy/build.gradle
  modules/trino/build.gradle
  modules/vault/build.gradle
Labels: area/shading, dependencies, gradle-wrapper, type/housekeeping

#4192 Cleanup japicmp excludes
  core/build.gradle
Labels: type/housekeeping

#4194 Combined dependencies PR
  core/build.gradle
  examples/kafka-cluster/build.gradle
  examples/linked-container/build.gradle
  examples/mongodb-container/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/singleton-container/build.gradle
  modules/clickhouse/build.gradle
  modules/elasticsearch/build.gradle
  modules/jdbc-test/build.gradle
  modules/junit-jupiter/build.gradle
  modules/localstack/build.gradle
  modules/postgresql/build.gradle
  modules/spock/build.gradle
Labels: dependencies

#4198 Combined dependencies PR
  core/build.gradle
  examples/kafka-cluster/build.gradle
  examples/selenium-container/build.gradle
  examples/spring-boot-kotlin-redis/build.gradle
  examples/spring-boot/build.gradle
  modules/junit-jupiter/build.gradle
  modules/kafka/build.gradle
  modules/pulsar/build.gradle
Labels: dependencies

#4193 Fixed NPE
  core/src/main/java/org/testcontainers/utility/MountableFile.java
Labels: type/bug

#4202 Update docker-java to 3.2.10
  core/build.gradle
Labels: dependencies, type/dependency update

#4217 Remove GitHub Sponsors button
  docs/index.md
Labels: type/docs

#4216 Remove stalebot
  .github/stale.yml
Labels: type/housekeeping

#4220 Update `docker-java` to 3.2.11
  core/build.gradle
Labels: dependencies, java, type/dependency update

#4041 Couchbase: Update to latest version, add flushEnabled flag
  docs/modules/databases/couchbase.md
  modules/couchbase/AUTHORS
  modules/couchbase/build.gradle
  modules/couchbase/src/main/java/org/testcontainers/couchbase/BucketDefinition.java
  modules/couchbase/src/main/java/org/testcontainers/couchbase/CouchbaseContainer.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/CouchbaseContainerTest.java
Labels: modules/couchbase, type/feature

#4213 Fix KafkaContainer with multiple networks defined
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
  modules/kafka/src/test/java/org/testcontainers/containers/KafkaContainerTest.java
Labels: type/bug
