Repository testcontainers/testcontainers-java, pull requests merged in 2021-11, with the labels that each got.

#4658 Fix Documentation not displaying properly for 'Docker wormhole pattern'
  docs/supported_docker_environment/continuous_integration/dind_patterns.md
Labels: type/docs

#4057 Add Gradle Enterprise
  .github/workflows/ci-examples.yml
  .github/workflows/ci.yml
  settings.gradle
Labels: type/housekeeping

#4671 Use key=value format for GRADLE_ENTERPRISE_ACCESS_KEY value
  .github/workflows/ci-examples.yml
  .github/workflows/ci.yml
Labels: type/bug, type/housekeeping

#4672 Update GE plugin in examples to 3.6.1
  examples/settings.gradle
Labels: type/bug, type/housekeeping

#4678 jdbc.md: Fix typo
  docs/modules/databases/jdbc.md
Labels: type/docs

#4680 change external port check to it can timeout and retry
  core/src/main/java/org/testcontainers/containers/wait/internal/ExternalPortListeningCheck.java
Labels: type/bug

#4699 Add link to webdrivers module
  docs/index.md
Labels: type/docs

#4700 Use a relative path to the Selenium module
  docs/index.md
Labels: type/docs

#4659 Combined dependencies PR
  core/build.gradle
  examples/cucumber/build.gradle
  examples/disque-job-queue/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/selenium-container/build.gradle
  examples/singleton-container/build.gradle
  examples/solr-container/build.gradle
  examples/spring-boot-kotlin-redis/build.gradle
  examples/spring-boot/build.gradle
  modules/couchbase/build.gradle
  modules/dynalite/build.gradle
  modules/elasticsearch/build.gradle
  modules/jdbc-test/build.gradle
  modules/junit-jupiter/build.gradle
  modules/localstack/build.gradle
  modules/mysql/build.gradle
  modules/neo4j/build.gradle
  modules/pulsar/build.gradle
  modules/spock/build.gradle
Labels: dependencies

#4714 Combined dependencies PR
  core/build.gradle
  examples/cucumber/build.gradle
  examples/disque-job-queue/build.gradle
  examples/kafka-cluster/build.gradle
  examples/linked-container/build.gradle
  examples/solr-container/build.gradle
  modules/couchbase/build.gradle
  modules/elasticsearch/build.gradle
  modules/junit-jupiter/build.gradle
  modules/localstack/build.gradle
  modules/postgresql/build.gradle
  modules/pulsar/build.gradle
  modules/spock/build.gradle
  modules/toxiproxy/build.gradle
Labels: dependencies
