Repository testcontainers/testcontainers-java, pull requests merged in 2021-02, with the labels that each got.

#3602 Force Jackson version
  core/build.gradle
Labels: dependencies, java

#1984 Kafka cluster example
  .github/workflows/ci-examples.yml
  .github/workflows/ci.yml
  .github/workflows/update-gradle-wrapper.yml
  core/build.gradle
  core/src/main/java/org/testcontainers/dockerclient/DockerMachineClientProviderStrategy.java
  core/src/main/java/org/testcontainers/utility/DockerMachineClient.java
  core/src/main/java/org/testcontainers/utility/Versioning.java
  core/src/test/java/org/testcontainers/dockerclient/AmbiguousImagePullTest.java
  core/src/test/java/org/testcontainers/utility/DockerImageNameTest.java
  docs/examples/junit4/generic/src/test/java/generic/CmdModifierTest.java
  docs/examples/junit4/generic/src/test/java/generic/MultiplePortsExposedTest.java
  docs/modules/gcloud.md
  examples/cucumber/build.gradle
  examples/disque-job-queue/build.gradle
  examples/kafka-cluster/build.gradle
  examples/linked-container/build.gradle
  examples/mongodb-container/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/selenium-container/build.gradle
  examples/solr-container/build.gradle
  examples/spring-boot/build.gradle
  mkdocs.yml
  modules/dynalite/build.gradle
  modules/elasticsearch/build.gradle
  modules/gcloud/build.gradle
  modules/gcloud/src/main/java/org/testcontainers/containers/DatastoreEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/FirestoreEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/PubSubEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/SpannerEmulatorContainer.java
  modules/gcloud/src/test/java/org/testcontainers/containers/DatastoreEmulatorContainerTest.java
  modules/gcloud/src/test/java/org/testcontainers/containers/FirestoreEmulatorContainerTest.java
  modules/gcloud/src/test/java/org/testcontainers/containers/PubSubEmulatorContainerTest.java
  modules/gcloud/src/test/java/org/testcontainers/containers/SpannerEmulatorContainerTest.java
  modules/gcloud/src/test/resources/logback-test.xml
  modules/jdbc-test/build.gradle
  modules/jdbc/build.gradle
  modules/junit-jupiter/build.gradle
  modules/kafka/src/test/java/org/testcontainers/containers/KafkaContainerTest.java
  modules/localstack/build.gradle
  modules/mariadb/build.gradle
  modules/mongodb/src/main/java/org/testcontainers/containers/MongoDBContainer.java
  modules/mongodb/src/test/java/org/testcontainers/containers/MongoDBContainerTest.java
  modules/postgresql/build.gradle
  modules/selenium/src/test/java/org/testcontainers/junit/BaseWebDriverContainerTest.java
  modules/spock/build.gradle
  settings.gradle
Labels: modules/kafka, resolution/acknowledged

#3421 Clarify usage of host port exporting
  docs/features/networking.md
Labels: type/docs

#3003 couchbase: wait until all services are part of the config
  modules/couchbase/src/main/java/org/testcontainers/couchbase/CouchbaseContainer.java
  modules/couchbase/src/main/java/org/testcontainers/couchbase/CouchbaseService.java
Labels: modules/couchbase

#3736 Improve logging for port listener
  core/src/main/java/org/testcontainers/containers/wait/internal/InternalCommandPortListeningCheck.java
Labels: type/enhancement

#3708 Added documentation for Bigtable Emulator container
  docs/modules/gcloud.md
Labels: type/docs

#3684 GenericContainer: fix typo in Javadoc
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
Labels: type/docs

#3606 Documentation PostGIS JDBC url sample version update
  docs/modules/databases/jdbc.md
Labels: type/docs

#3758 Kafka cluster example
  examples/kafka-cluster/build.gradle
  examples/kafka-cluster/src/test/java/com/example/kafkacluster/KafkaContainerCluster.java
  examples/kafka-cluster/src/test/java/com/example/kafkacluster/KafkaContainerClusterTest.java
  examples/settings.gradle
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
  modules/kafka/src/test/java/org/testcontainers/containers/KafkaContainerTest.java
Labels: type/docs

#3608 Change docker command of cockroachDB module
  modules/cockroachdb/src/main/java/org/testcontainers/containers/CockroachContainer.java
  modules/cockroachdb/src/test/java/org/testcontainers/CockroachDBTestImages.java
Labels: type/enhancement

#2341 Show port mappings in HttpWaitStrategy
  core/src/main/java/org/testcontainers/containers/wait/strategy/HttpWaitStrategy.java
Labels: type/enhancement

#3632 update release drafter to v5.13.0
  .github/workflows/release-drafter.yml
Labels: dependencies, github_actions, type/dependency update, type/housekeeping

#2549 Support HTTP headers on HttpWaitStrategy
  core/src/main/java/org/testcontainers/containers/wait/strategy/HttpWaitStrategy.java
  core/src/test/java/org/testcontainers/junit/wait/strategy/HttpWaitStrategyTest.java
Labels: resolution/acknowledged, type/feature

#3180 Make recorder .flv videos scrollable (#512)
  core/src/main/java/org/testcontainers/containers/VncRecordingContainer.java
  docs/modules/webdriver_containers.md
  modules/selenium/src/main/java/org/testcontainers/containers/BrowserWebDriverContainer.java
  modules/selenium/src/main/java/org/testcontainers/containers/DefaultRecordingFileFactory.java
  modules/selenium/src/main/java/org/testcontainers/containers/RecordingFileFactory.java
  modules/selenium/src/test/java/org/testcontainers/containers/DefaultRecordingFileFactoryTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/ChromeRecordingWebDriverContainerTest.java
Labels: modules/selenium, type/feature

#3778 Implement getDatabaseName() in CockroachContainer
  modules/cockroachdb/src/main/java/org/testcontainers/containers/CockroachContainer.java
Labels: type/enhancement

#3667 Switch to Presto image hosted on GHCR
  modules/presto/src/main/java/org/testcontainers/containers/PrestoContainer.java
  modules/presto/src/test/java/org/testcontainers/PrestoTestImages.java
Labels: type/enhancement

#3752 Remove extra newlines in container log output
  core/src/main/java/org/testcontainers/containers/output/ToStringConsumer.java
  core/src/test/java/org/testcontainers/containers/output/ToStringConsumerTest.java
Labels: resolution/acknowledged, type/bug

#3805 Delegate copyFile{To,From}Container's state verification to Docker
  core/src/main/java/org/testcontainers/containers/ContainerState.java
  core/src/test/java/org/testcontainers/junit/FileOperationsTest.java
Labels: type/enhancement

#3812 Fix mp4 recording to be compatible with Firefox
  core/src/main/java/org/testcontainers/containers/VncRecordingContainer.java
Labels: modules/selenium
