Repository testcontainers/testcontainers-java, pull requests merged in 2022-10, with the labels that each got.

#5931 Combined dependencies PR
  .github/workflows/release-drafter.yml
  .github/workflows/update-docs-version.yml
  core/build.gradle
  examples/cucumber/build.gradle
  examples/kafka-cluster/build.gradle
  examples/linked-container/build.gradle
  examples/selenium-container/build.gradle
  examples/settings.gradle
  examples/spring-boot-kotlin-redis/build.gradle
  examples/spring-boot/build.gradle
  modules/azure/build.gradle
  modules/cassandra/build.gradle
  modules/consul/build.gradle
  modules/couchbase/build.gradle
  modules/dynalite/build.gradle
  modules/elasticsearch/build.gradle
  modules/gcloud/build.gradle
  modules/hivemq/build.gradle
  modules/jdbc/build.gradle
  modules/junit-jupiter/build.gradle
  modules/localstack/build.gradle
  modules/mariadb/build.gradle
  modules/mssqlserver/build.gradle
  modules/r2dbc/build.gradle
  modules/rabbitmq/build.gradle
  modules/redpanda/build.gradle
  modules/vault/build.gradle
  settings.gradle
Labels: modules/jdbc, modules/couchbase, modules/elasticsearch, modules/jupiter, dependencies, modules/r2dbc, github_actions, modules/localstack, modules/hivemq, modules/rabbitmq, modules/gcloud, modules/azure, modules/cassandra, modules/dynalite, modules/mariadb, modules/sql-server, modules/vault, modules/consul, modules/redpanda

#5935 Combined dependencies PR
  examples/cucumber/build.gradle
  modules/gcloud/build.gradle
  modules/localstack/build.gradle
  modules/trino/build.gradle
Labels: dependencies, modules/localstack, modules/gcloud, modules/trino

#5936 Combined dependencies PR
  modules/gcloud/build.gradle
  modules/kafka/build.gradle
Labels: modules/kafka, dependencies, modules/gcloud

#5944 Combined dependencies PR
  .github/workflows/ci-examples.yml
  .github/workflows/ci.yml
  examples/immudb/build.gradle
  examples/linked-container/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/singleton-container/build.gradle
  modules/azure/build.gradle
  modules/dynalite/build.gradle
  modules/localstack/build.gradle
Labels: dependencies, github_actions, modules/localstack, modules/azure, modules/dynalite

#5948 Bump logback-classic versions
  build.gradle
  docs/examples/spock/redis/build.gradle
  examples/kafka-cluster/build.gradle
  examples/linked-container/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/singleton-container/build.gradle
  modules/hivemq/build.gradle
Labels: type/dependency update, modules/hivemq

#5951 Rollback back to slf4j-api 1.7.36
  core/build.gradle
  examples/immudb/build.gradle
  examples/linked-container/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/singleton-container/build.gradle
  test-support/build.gradle
Labels: type/dependency update

#5973 Remove unnecessary configuration from simple tests
  modules/mysql/src/test/java/org/testcontainers/junit/mysql/SimpleMySQLTest.java
Labels: type/housekeeping

#5977 Update MockServer Tests to use mockserver/mockserver image with 5.14.0 version
  modules/mockserver/build.gradle
  modules/mockserver/src/test/java/org/testcontainers/containers/MockServerContainerRuleTest.java
  modules/mockserver/src/test/java/org/testcontainers/containers/MockServerContainerTest.java
Labels: modules/mockserver

#5976 doc: Update logback-test.xml example to show how to enable DEBUG only for Testcontainers
  docs/supported_docker_environment/logging_config.md
Labels: type/docs

#5979 Add reference to supported languages
  docs/supported_languages.md
  mkdocs.yml
Labels: type/docs

#5990 Catch and ignore more errors when reflecting into container subclass
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
Labels: type/bug, modules/cassandra

#5997 Deprecate `setCustomContent` and `withCustomContent` at `NginxContainer`
  modules/nginx/src/main/java/org/testcontainers/containers/NginxContainer.java
  modules/nginx/src/test/java/org/testcontainers/junit/SimpleNginxTest.java
Labels: type/docs, type/housekeeping

#5996 Update toxiproxy image to ghcr.io/shopify/toxiproxy
  modules/toxiproxy/src/test/java/org/testcontainers/containers/ToxiproxyTest.java
  modules/toxiproxy/src/test/resources/logback-test.xml
Labels: type/housekeeping, modules/toxiproxy

#5995 Implement QuestDB Test container module
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/dependabot.yml
  .github/labeler.yml
  docs/modules/databases/questdb.md
  mkdocs.yml
  modules/questdb/build.gradle
  modules/questdb/src/main/java/org/testcontainers/containers/QuestDBContainer.java
  modules/questdb/src/main/java/org/testcontainers/containers/QuestDBProvider.java
  modules/questdb/src/main/resources/META-INF/services/org.testcontainers.containers.JdbcDatabaseContainerProvider
  modules/questdb/src/test/java/org/testcontainers/QuestDBTestImages.java
  modules/questdb/src/test/java/org/testcontainers/jdbc/questdb/QuestDBJDBCDriverTest.java
  modules/questdb/src/test/java/org/testcontainers/junit/questdb/SimpleQuestDBTest.java
Labels: type/docs, type/new module

#6056 Add travis minimal configuration
  docs/supported_docker_environment/continuous_integration/travis.md
  mkdocs.yml
Labels: type/docs

#6058 Update set-output command in workflows
  .github/workflows/ci-examples.yml
  .github/workflows/ci.yml
Labels: github_actions

#6061 Apply spotless and checkstyle to examples
  build.gradle
  examples/build.gradle
  examples/cucumber/build.gradle
  examples/cucumber/src/test/java/org/testcontainers/examples/CucumberTest.java
  examples/cucumber/src/test/java/org/testcontainers/examples/Stepdefs.java
  examples/immudb/src/test/java/ImmuDbTest.java
  examples/kafka-cluster/src/test/java/com/example/kafkacluster/KafkaContainerCluster.java
  examples/kafka-cluster/src/test/java/com/example/kafkacluster/KafkaContainerClusterTest.java
  examples/linked-container/src/main/java/com/example/linkedcontainer/RedmineClient.java
  examples/linked-container/src/test/java/com/example/linkedcontainer/RedmineClientTest.java
  examples/linked-container/src/test/java/com/example/linkedcontainer/RedmineContainer.java
  examples/neo4j-container/src/test/java/org/testcontainers/containers/Neo4jExampleTest.java
  examples/redis-backed-cache-testng/src/main/java/com/mycompany/cache/Cache.java
  examples/redis-backed-cache-testng/src/main/java/com/mycompany/cache/RedisBackedCache.java
  examples/redis-backed-cache-testng/src/test/java/RedisBackedCacheTest.java
  examples/redis-backed-cache/src/main/java/com/mycompany/cache/Cache.java
  examples/redis-backed-cache/src/main/java/com/mycompany/cache/RedisBackedCache.java
  examples/redis-backed-cache/src/test/java/RedisBackedCacheTest.java
  examples/selenium-container/src/main/java/com/example/DemoApplication.java
  examples/selenium-container/src/test/java/SeleniumContainerTest.java
  examples/singleton-container/src/main/java/com/example/cache/Cache.java
  examples/singleton-container/src/main/java/com/example/cache/RedisBackedCache.java
  examples/singleton-container/src/test/java/com/example/AbstractIntegrationTest.java
  examples/singleton-container/src/test/java/com/example/BarConcreteTestClass.java
  examples/singleton-container/src/test/java/com/example/FooConcreteTestClass.java
  examples/solr-container/src/main/java/com/example/SearchEngine.java
  examples/solr-container/src/main/java/com/example/SearchResult.java
  examples/solr-container/src/main/java/com/example/SolrSearchEngine.java
  examples/solr-container/src/test/java/com/example/SolrQueryTest.java
  examples/spring-boot/src/main/java/com/example/DemoApplication.java
  examples/spring-boot/src/main/java/com/example/DemoController.java
  examples/spring-boot/src/main/java/com/example/DemoEntity.java
  examples/spring-boot/src/main/java/com/example/DemoRepository.java
  examples/spring-boot/src/main/java/com/example/DemoService.java
  examples/spring-boot/src/test/java/com/example/AbstractIntegrationTest.java
  examples/spring-boot/src/test/java/com/example/DemoControllerTest.java
  gradle/spotless.gradle
Labels: type/housekeeping

#6059 Add zookeeper example
  docs/examples.md
  examples/settings.gradle
  examples/zookeeper/build.gradle
  examples/zookeeper/src/test/java/com/example/ZookeeperContainerTest.java
  examples/zookeeper/src/test/resources/logback-test.xml
Labels: type/docs

#6063 Update gitlab_ci.md with clarifying note about the docker host port number
  docs/supported_docker_environment/continuous_integration/gitlab_ci.md
Labels: type/docs

#6067 Add language links to docs index
  docs/css/extra.css
  docs/index.md
  docs/language-logos/dotnet.svg
  docs/language-logos/go.svg
  docs/language-logos/java.svg
  docs/language-logos/javascript.svg
  docs/language-logos/python.svg
  docs/language-logos/rust.svg
  docs/logo.png
Labels: type/docs

#6064 Add step to create symlink when Docker for Mac 4.13 is installed
  docs/supported_docker_environment/index.md
Labels: type/docs

#6068 Update docs to better reflect the links to other languages
  docs/index.md
  docs/supported_languages.md
  mkdocs.yml
Labels: type/docs

#5994 Expose Redpanda schema registry
  docs/modules/redpanda.md
  modules/redpanda/build.gradle
  modules/redpanda/src/main/java/org/testcontainers/redpanda/RedpandaContainer.java
  modules/redpanda/src/test/java/org/testcontainers/redpanda/RedpandaContainerTest.java
Labels: type/docs, modules/redpanda

#6075 chore: sync governance files
  .github/settings.yml
  docs/contributing.md
  docs/contributing_docs.md
  docs/index.md
  docs/language-logos/javascript.svg
  docs/language-logos/nodejs.svg
Labels: type/docs

#6079 fix link zookeeper
  docs/examples.md
Labels: type/docs
