Repository testcontainers/testcontainers-java, pull requests merged in 2022-02, with the labels that each got.

#4963 Remove the `INCUBATING` note from CockroachDB module docs
  docs/modules/databases/cockroachdb.md
Labels: type/docs

#4959 Extract `RyukResourceReaper`
  core/src/main/java/org/testcontainers/utility/ResourceReaper.java
  core/src/main/java/org/testcontainers/utility/RyukResourceReaper.java
Labels: type/enhancement

#5019 Combined dependencies PR
  .github/workflows/release-drafter.yml
  .github/workflows/update-docs-version.yml
  .github/workflows/update-gradle-wrapper.yml
  core/build.gradle
  examples/cucumber/build.gradle
  examples/kafka-cluster/build.gradle
  examples/linked-container/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/selenium-container/build.gradle
  examples/singleton-container/build.gradle
  examples/spring-boot-kotlin-redis/build.gradle
  examples/spring-boot/build.gradle
  modules/cockroachdb/build.gradle
  modules/couchbase/build.gradle
  modules/dynalite/build.gradle
  modules/elasticsearch/build.gradle
  modules/gcloud/build.gradle
  modules/jdbc-test/build.gradle
  modules/jdbc/build.gradle
  modules/junit-jupiter/build.gradle
  modules/k3s/build.gradle
  modules/localstack/build.gradle
  modules/mariadb/build.gradle
  modules/neo4j/build.gradle
  modules/rabbitmq/build.gradle
  modules/spock/build.gradle
  modules/trino/build.gradle
Labels: dependencies

#3443 Upgrade mkdocs
  docs/contributing.md
  docs/index.md
  docs/modules/azure.md
  docs/modules/databases/cassandra.md
  docs/modules/databases/clickhouse.md
  docs/modules/databases/cockroachdb.md
  docs/modules/databases/couchbase.md
  docs/modules/databases/db2.md
  docs/modules/databases/dynalite.md
  docs/modules/databases/influxdb.md
  docs/modules/databases/mariadb.md
  docs/modules/databases/mongodb.md
  docs/modules/databases/mssqlserver.md
  docs/modules/databases/mysql.md
  docs/modules/databases/neo4j.md
  docs/modules/databases/oraclexe.md
  docs/modules/databases/orientdb.md
  docs/modules/databases/postgres.md
  docs/modules/databases/presto.md
  docs/modules/databases/trino.md
  docs/modules/docker_compose.md
  docs/modules/elasticsearch.md
  docs/modules/gcloud.md
  docs/modules/k3s.md
  docs/modules/kafka.md
  docs/modules/localstack.md
  docs/modules/mockserver.md
  docs/modules/nginx.md
  docs/modules/pulsar.md
  docs/modules/rabbitmq.md
  docs/modules/solr.md
  docs/modules/toxiproxy.md
  docs/modules/vault.md
  docs/modules/webdriver_containers.md
  docs/quickstart/junit_4_quickstart.md
  docs/quickstart/junit_5_quickstart.md
  docs/quickstart/spock_quickstart.md
  docs/test_framework_integration/junit_5.md
  docs/test_framework_integration/spock.md
  mkdocs.yml
  requirements.txt
Labels: type/docs, type/housekeeping, dependencies

#5038 Polish code samples so that they are easier to copy & paste
  docs/features/container_logs.md
Labels: type/docs

#4797 New Module: HiveMQ
  .github/dependabot.yml
  core/src/main/java/org/testcontainers/containers/wait/strategy/MultiLogMessageWaitStrategy.java
  docs/modules/hivemq.md
  docs/modules_logos/hivemq-module.png
  mkdocs.yml
  modules/hivemq/build.gradle
  modules/hivemq/src/main/java/org/testcontainers/hivemq/HiveMQContainer.java
  modules/hivemq/src/main/java/org/testcontainers/hivemq/HiveMQExtension.java
  modules/hivemq/src/main/java/org/testcontainers/hivemq/PathUtil.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithControlCenterIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithCustomConfigIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithExtensionFromDirectoryIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithExtensionIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithExtensionSubclassIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithFileInExtensionHomeIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithFileInHomeIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithLicenseIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithoutPlatformExtensionsIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/CreateFileInCopiedDirectoryIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/CreateFileInExtensionDirectoryIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/DisableEnableExtensionFromDirectoryIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/DisableEnableExtensionIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/HiveMQExtensionTest.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/HiveMQTestContainerCore.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/PathUtilTest.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/docs/DemoDisableExtensionsIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/docs/DemoExtensionTestsIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/docs/DemoFilesIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/docs/DemoHiveMQContainerIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/util/MyExtension.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/util/MyExtensionWithSubclasses.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/util/PublishModifier.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/util/TestPublishModifiedUtil.java
  modules/hivemq/src/test/resources/additionalFile.txt
  modules/hivemq/src/test/resources/config.xml
  modules/hivemq/src/test/resources/inMemoryConfig.xml
  modules/hivemq/src/test/resources/logback-test.xml
  modules/hivemq/src/test/resources/modifier-extension-wrong-name/hivemq-extension.xml
  modules/hivemq/src/test/resources/modifier-extension-wrong-name/modifier-extension-1.0-SNAPSHOT.jar
  modules/hivemq/src/test/resources/modifier-extension/hivemq-extension.xml
  modules/hivemq/src/test/resources/modifier-extension/modifier-extension-1.0-SNAPSHOT.jar
  modules/hivemq/src/test/resources/myExtensionLicense.elic
  modules/hivemq/src/test/resources/myLicense.lic
Labels: type/new module

#5093 [HiveMQ] replaced MultiLogMessageWaitStrategy.java with WaitAllStrategy
  core/src/main/java/org/testcontainers/containers/wait/strategy/MultiLogMessageWaitStrategy.java
  modules/hivemq/src/main/java/org/testcontainers/hivemq/HiveMQContainer.java
Labels: type/enhancement, modules/hive-mq

#5096 Fix tests on Windows
  azure-pipelines.yml
  core/src/test/java/org/testcontainers/DockerRegistryContainer.java
  core/src/test/java/org/testcontainers/images/ImagePullPolicyTest.java
  core/src/test/java/org/testcontainers/utility/AuthenticatedImagePullTest.java
  docs/examples/junit4/generic/src/test/java/org/testcontainers/containers/startupcheck/StartupCheckStrategyTest.java
Labels: type/housekeeping

#4938 Start Ryuk lazily when in the reusable mode
  core/build.gradle
  core/src/main/java/org/testcontainers/DockerClientFactory.java
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/main/java/org/testcontainers/containers/Network.java
  core/src/main/java/org/testcontainers/images/builder/ImageFromDockerfile.java
  core/src/main/java/org/testcontainers/utility/JVMHookResourceReaper.java
  core/src/main/java/org/testcontainers/utility/ResourceReaper.java
  core/src/main/java/org/testcontainers/utility/RyukResourceReaper.java
  core/src/test/java/org/testcontainers/DockerClientFactoryTest.java
Labels: type/enhancement

#5106 [HiveMQ] every IT now uses getHost()
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithCustomConfigIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithExtensionFromDirectoryIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithExtensionIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithExtensionSubclassIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithFileInExtensionHomeIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithFileInHomeIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithLicenseIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithoutPlatformExtensionsIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/CreateFileInCopiedDirectoryIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/CreateFileInExtensionDirectoryIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/DisableEnableExtensionFromDirectoryIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/DisableEnableExtensionIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/docs/DemoExtensionTestsIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/docs/DemoFilesIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/docs/DemoHiveMQContainerIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/util/TestPublishModifiedUtil.java
Labels: type/housekeeping, modules/hivemq

#5045 Update to `docker-java` 3.2.13
  core/build.gradle
  core/src/main/java/org/testcontainers/DockerClientFactory.java
  core/src/main/java/org/testcontainers/containers/ContainerState.java
  core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/main/java/org/testcontainers/dockerclient/DockerClientConfigUtils.java
  core/src/main/java/org/testcontainers/dockerclient/DockerClientProviderStrategy.java
  core/src/main/java/org/testcontainers/dockerclient/NpipeSocketClientProviderStrategy.java
  core/src/main/java/org/testcontainers/dockerclient/RootlessDockerClientProviderStrategy.java
  core/src/main/java/org/testcontainers/dockerclient/UnixSocketClientProviderStrategy.java
  core/src/main/java/org/testcontainers/images/builder/ImageFromDockerfile.java
  core/src/main/java/org/testcontainers/images/builder/traits/StringsTrait.java
  core/src/main/java/org/testcontainers/utility/AuditLogger.java
  core/src/main/java/org/testcontainers/utility/DockerMachineClient.java
  core/src/main/java/org/testcontainers/utility/MountableFile.java
  core/src/main/java/org/testcontainers/utility/RegistryAuthLocator.java
  core/src/main/java/org/testcontainers/utility/TestcontainersConfiguration.java
  core/src/test/java/org/testcontainers/containers/output/ToStringConsumerTest.java
  core/src/test/java/org/testcontainers/images/builder/dockerfile/statement/AbstractStatementTest.java
  core/src/test/java/org/testcontainers/utility/RegistryAuthLocatorTest.java
  modules/database-commons/src/main/java/org/testcontainers/ext/ScriptUtils.java
  modules/jdbc-test/src/main/java/org/testcontainers/jdbc/AbstractJDBCDriverTest.java
  modules/jdbc/src/main/java/org/testcontainers/containers/JdbcDatabaseContainer.java
  modules/k3s/src/main/java/org/testcontainers/k3s/K3sContainer.java
  modules/mariadb/src/test/java/org/testcontainers/junit/mariadb/SimpleMariaDBTest.java
  modules/mssqlserver/src/test/java/org/testcontainers/junit/mssqlserver/CustomPasswordMSSQLServerTest.java
  modules/mysql/src/test/java/org/testcontainers/junit/mysql/SimpleMySQLTest.java
  modules/oracle-xe/src/main/java/org/testcontainers/containers/OracleContainer.java
  modules/selenium/src/main/java/org/testcontainers/containers/BrowserWebDriverContainer.java
  modules/selenium/src/test/java/org/testcontainers/junit/BrowserWebDriverContainerTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/LocalServerWebDriverContainerTest.java
  modules/solr/src/main/java/org/testcontainers/containers/SolrContainer.java
Labels: dependencies, java

#5120 [Neo4j] Include code from tests in docs.
  docs/modules/databases/neo4j.md
  examples/neo4j-container/build.gradle
  examples/neo4j-container/src/test/java/org/testcontainers/containers/Neo4jExampleTest.java
  examples/settings.gradle
  modules/neo4j/src/test/java/org/testcontainers/containers/Neo4jContainerJUnitIntegrationTest.java
  modules/neo4j/src/test/java/org/testcontainers/containers/Neo4jContainerTest.java
  modules/neo4j/src/test/java/org/testcontainers/containers/Neo4jTestImages.java
Labels: type/docs, modules/neo4j

#5125 [docs]Add the used organization `Byzer`.
  docs/index.md
Labels: type/docs
