Repository testcontainers/testcontainers-java, pull requests merged in 2022-08, with the labels that each got.

#5668 Combined dependencies PR
  .github/workflows/ci-examples.yml
  .github/workflows/ci.yml
  examples/cucumber/build.gradle
  examples/disque-job-queue/build.gradle
  examples/kafka-cluster/build.gradle
  examples/neo4j-container/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/settings.gradle
  examples/singleton-container/build.gradle
  examples/spring-boot-kotlin-redis/build.gradle
  modules/azure/build.gradle
  modules/couchbase/build.gradle
  modules/dynalite/build.gradle
  modules/elasticsearch/build.gradle
  modules/gcloud/build.gradle
  modules/hivemq/build.gradle
  modules/influxdb/build.gradle
  modules/jdbc-test/build.gradle
  modules/jdbc/build.gradle
  modules/junit-jupiter/build.gradle
  modules/kafka/build.gradle
  modules/localstack/build.gradle
  modules/mongodb/build.gradle
  modules/mysql/build.gradle
  modules/neo4j/build.gradle
  modules/r2dbc/build.gradle
  modules/spock/build.gradle
  modules/trino/build.gradle
Labels: modules/jdbc, modules/spock, modules/influx, modules/couchbase, modules/kafka, modules/elasticsearch, modules/jupiter, dependencies, modules/r2dbc, modules/mongodb, github_actions, modules/neo4j, modules/localstack, modules/hivemq, modules/gcloud, modules/azure, modules/dynalite, modules/mysql, modules/trino

#5671 Combined dependencies PR
  examples/cucumber/build.gradle
  examples/spring-boot-kotlin-redis/build.gradle
  modules/gcloud/build.gradle
  modules/junit-jupiter/build.gradle
  modules/localstack/build.gradle
  settings.gradle
Labels: modules/jupiter, dependencies, modules/localstack, modules/gcloud

#5673 Add syntax highlighting to colima usage doc
  docs/supported_docker_environment/index.md
Labels: type/docs

#2830 Update Cassandra driver to 4.x
  docs/modules/databases/cassandra.md
  modules/cassandra/build.gradle
  modules/cassandra/src/main/java/org/testcontainers/containers/CassandraContainer.java
  modules/cassandra/src/test/java/org/testcontainers/containers/CassandraContainerTest.java
  modules/cassandra/src/test/java/org/testcontainers/containers/CassandraDriver3Test.java
  modules/cassandra/src/test/java/org/testcontainers/containers/CassandraDriver4Test.java
Labels: type/docs, type/enhancement, modules/cassandra

#5619 Update ryuk version to 0.3.4
  core/src/main/java/org/testcontainers/utility/RyukContainer.java
Labels: type/dependency update

#5678 Removes unused module junit-toolbox
  modules/jdbc/build.gradle
Labels: type/housekeeping, modules/jdbc

#5511 Add TiDB module
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/dependabot.yml
  .github/labeler.yml
  docs/modules/databases/jdbc.md
  docs/modules/databases/tidb.md
  mkdocs.yml
  modules/tidb/build.gradle
  modules/tidb/sql/init_mysql.sql
  modules/tidb/src/main/java/org/testcontainers/tidb/TiDBContainer.java
  modules/tidb/src/main/java/org/testcontainers/tidb/TiDBContainerProvider.java
  modules/tidb/src/main/resources/META-INF/services/org.testcontainers.containers.JdbcDatabaseContainerProvider
  modules/tidb/src/test/java/org/testcontainers/TiDBTestImages.java
  modules/tidb/src/test/java/org/testcontainers/jdbc/tidb/TiDBJDBCDriverTest.java
  modules/tidb/src/test/java/org/testcontainers/junit/tidb/SimpleTiDBTest.java
  modules/tidb/src/test/resources/logback-test.xml
  modules/tidb/src/test/resources/somepath/init_tidb.sql
Labels: type/docs, type/new module

#4683 Add Consul module
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/dependabot.yml
  .github/labeler.yml
  docs/modules/consul.md
  mkdocs.yml
  modules/consul/build.gradle
  modules/consul/src/main/java/org/testcontainers/consul/ConsulContainer.java
  modules/consul/src/test/java/org/testcontainers/consul/ConsulContainerTest.java
  modules/consul/src/test/java/org/testcontainers/consul/ConsulTestImages.java
  modules/consul/src/test/resources/logback-test.xml
Labels: type/docs, type/new module

#5730 Combined dependencies PR
  .github/workflows/ci-examples.yml
  .github/workflows/ci.yml
  core/build.gradle
  examples/cucumber/build.gradle
  examples/settings.gradle
  modules/azure/build.gradle
  modules/cassandra/build.gradle
  modules/cockroachdb/build.gradle
  modules/consul/build.gradle
  modules/gcloud/build.gradle
  modules/hivemq/build.gradle
  modules/junit-jupiter/build.gradle
  modules/localstack/build.gradle
  modules/neo4j/build.gradle
  modules/postgresql/build.gradle
  modules/spock/build.gradle
  modules/tidb/build.gradle
  modules/trino/build.gradle
  settings.gradle
Labels: modules/spock, modules/jupiter, dependencies, github_actions, modules/neo4j, modules/localstack, modules/hivemq, modules/gcloud, modules/azure, modules/cassandra, modules/cockroachdb, modules/postgres, modules/trino, modules/tidb, modules/consul

#5733 Combined dependencies PR
  examples/cucumber/build.gradle
  examples/linked-container/build.gradle
  examples/settings.gradle
  modules/consul/build.gradle
  modules/couchbase/build.gradle
  modules/dynalite/build.gradle
  modules/gcloud/build.gradle
  modules/jdbc/build.gradle
  modules/localstack/build.gradle
  modules/mariadb/build.gradle
  modules/mssqlserver/build.gradle
  modules/r2dbc/build.gradle
  settings.gradle
Labels: modules/jdbc, modules/couchbase, dependencies, modules/r2dbc, modules/localstack, modules/gcloud, modules/dynalite, modules/mariadb, modules/sql-server, modules/consul

#5685 Move junit4 to assertj
  config/checkstyle/checkstyle.xml
  core/src/test/java/org/testcontainers/containers/output/FrameConsumerResultCallbackTest.java
  core/src/test/java/org/testcontainers/dockerclient/DockerClientConfigUtilsTest.java
  core/src/test/java/org/testcontainers/images/AgeBasedPullPolicyTest.java
  core/src/test/java/org/testcontainers/images/ParsedDockerfileTest.java
  core/src/test/java/org/testcontainers/images/RemoteDockerImageTest.java
  core/src/test/java/org/testcontainers/junit/FixedHostPortContainerTest.java
  core/src/test/java/org/testcontainers/junit/wait/strategy/AbstractWaitStrategyTest.java
  core/src/test/java/org/testcontainers/junit/wait/strategy/HttpWaitStrategyTest.java
  core/src/test/java/org/testcontainers/utility/ComparableVersionTest.java
  core/src/test/java/org/testcontainers/utility/DefaultImageNameSubstitutorTest.java
  core/src/test/java/org/testcontainers/utility/DockerImageNameCompatibilityTest.java
  core/src/test/java/org/testcontainers/utility/DockerStatusTest.java
  core/src/test/java/org/testcontainers/utility/FilterRegistryTest.java
  core/src/test/java/org/testcontainers/utility/ResourceReaperTest.java
  docs/examples/junit4/generic/src/test/java/generic/CmdModifierTest.java
  docs/examples/junit4/generic/src/test/java/generic/CommandsTest.java
  docs/examples/junit4/generic/src/test/java/generic/ContainerCreationTest.java
  docs/examples/junit4/generic/src/test/java/generic/DependsOnTest.java
  docs/examples/junit4/generic/src/test/java/generic/ExecTest.java
  docs/examples/junit4/generic/src/test/java/generic/HostPortExposedTest.java
  docs/examples/junit4/generic/src/test/java/generic/WaitStrategiesTest.java
  docs/examples/junit4/redis/build.gradle
  docs/examples/junit4/redis/src/test/java/quickstart/RedisBackedCacheIntTest.java
  docs/examples/junit4/redis/src/test/java/quickstart/RedisBackedCacheIntTestStep0.java
  examples/linked-container/build.gradle
  examples/linked-container/src/test/java/com/example/linkedcontainer/RedmineClientTest.java
  examples/neo4j-container/src/test/java/org/testcontainers/containers/Neo4jExampleTest.java
  modules/cassandra/build.gradle
  modules/cassandra/src/test/java/org/testcontainers/containers/CassandraContainerTest.java
  modules/cassandra/src/test/java/org/testcontainers/containers/CassandraDriver3Test.java
  modules/cassandra/src/test/java/org/testcontainers/containers/CassandraDriver4Test.java
  modules/consul/src/test/java/org/testcontainers/consul/ConsulContainerTest.java
  modules/couchbase/build.gradle
  modules/couchbase/src/test/java/org/testcontainers/couchbase/CouchbaseContainerTest.java
  modules/influxdb/build.gradle
  modules/influxdb/src/test/java/org/testcontainers/containers/InfluxDBContainerTest.java
  modules/influxdb/src/test/java/org/testcontainers/containers/InfluxDBContainerWithUserTest.java
  modules/jdbc/src/test/java/org/testcontainers/jdbc/ContainerDatabaseDriverTest.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/PostgresContainerTests.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/TestLifecycleAwareExceptionCapturingTest.java
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/LocalstackContainerTest.java
  modules/mongodb/build.gradle
  modules/mongodb/src/test/java/org/testcontainers/containers/MongoDBContainerTest.java
  modules/oracle-xe/src/test/java/org/testcontainers/junit/oracle/SimpleOracleTest.java
  modules/presto/src/test/java/org/testcontainers/containers/PrestoContainerTest.java
  modules/selenium/src/test/java/org/testcontainers/containers/DefaultRecordingFileFactoryTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/ChromeRecordingWebDriverContainerTest.java
  modules/solr/build.gradle
  modules/solr/src/test/java/org/testcontainers/containers/SolrContainerTest.java
  modules/tidb/src/test/java/org/testcontainers/junit/tidb/SimpleTiDBTest.java
  modules/trino/src/test/java/org/testcontainers/containers/TrinoContainerTest.java
  modules/vault/src/test/java/org/testcontainers/vault/VaultContainerTest.java
  test-support/build.gradle
  test-support/src/test/java/org/testcontainers/testsupport/FlakyRuleTest.java
Labels: type/docs, type/housekeeping, modules/influx, modules/couchbase, modules/mongodb, modules/cassandra, modules/solr

#5285 Make TestcontainersExtension public
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/TestcontainersExtension.java
Labels: modules/jupiter, type/enhancement

#5729 Drop usage of `org.junit.platform.commons.util`
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/FilesystemFriendlyNameGenerator.java
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/TestcontainersExtension.java
Labels: type/housekeeping, modules/jupiter

#5738 Enforce UTF-8 as Javadoc encoding
  build.gradle
  examples/settings.gradle
  settings.gradle
Labels: type/housekeeping

#5740 Add Redpanda module
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/dependabot.yml
  .github/labeler.yml
  docs/modules/redpanda.md
  mkdocs.yml
  modules/redpanda/build.gradle
  modules/redpanda/src/main/java/org/testcontainers/redpanda/RedpandaContainer.java
  modules/redpanda/src/test/java/org/testcontainers/redpanda/RedpandaContainerTest.java
  modules/redpanda/src/test/resources/logback-test.xml
Labels: type/docs, type/new module

#5757 Combined dependencies PR
  .github/workflows/release-drafter.yml
  .github/workflows/update-docs-version.yml
  examples/linked-container/build.gradle
  modules/cockroachdb/build.gradle
  modules/dynalite/build.gradle
  modules/junit-jupiter/build.gradle
  modules/localstack/build.gradle
  modules/postgresql/build.gradle
  modules/trino/build.gradle
Labels: modules/jupiter, dependencies, github_actions, modules/localstack, modules/cockroachdb, modules/dynalite, modules/postgres, modules/trino

#5758 Combined dependencies PR
  modules/localstack/build.gradle
  modules/spock/build.gradle
Labels: modules/spock, dependencies, modules/localstack

#5761 Update GHA runner image to latest Ubuntu
  .github/workflows/ci-docker-wormhole.yml
  .github/workflows/ci-examples.yml
  .github/workflows/ci-rootless.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update-docs-version.yml
Labels: type/housekeeping, github_actions

#5762 Combined dependencies PR
  modules/gcloud/build.gradle
  modules/localstack/build.gradle
Labels: dependencies, modules/localstack, modules/gcloud

#5763 Add samples section
  docs/examples.md
  mkdocs.yml
Labels: type/docs

#4595 [couchbase] Only expose ports for enabled services
  modules/couchbase/src/main/java/org/testcontainers/couchbase/CouchbaseContainer.java
Labels: type/housekeeping, modules/couchbase

#5764 Upgrade spring-boot version to 2.7.3 in examples
  examples/selenium-container/build.gradle
  examples/selenium-container/src/test/java/SeleniumContainerTest.java
  examples/spring-boot-kotlin-redis/build.gradle
  examples/spring-boot/build.gradle
Labels: type/docs, type/dependency update

#5766 Revert "Update GHA runner image to latest Ubuntu"
  .github/workflows/ci-docker-wormhole.yml
  .github/workflows/ci-examples.yml
  .github/workflows/ci-rootless.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update-docs-version.yml
Labels: type/dependency update

#5767 Add link to GH Discussions to Issue forms
  .github/ISSUE_TEMPLATE/config.yml
Labels: type/housekeeping

#5684 Set default elasticsearch heap size to 2GB (Alternate PR)
  modules/elasticsearch/src/main/java/org/testcontainers/elasticsearch/ElasticsearchContainer.java
  modules/elasticsearch/src/main/resources/elasticsearch-default-memory-vm.options
  modules/elasticsearch/src/test/java/org/testcontainers/elasticsearch/ElasticsearchContainerTest.java
  modules/elasticsearch/src/test/resources/test-custom-memory-jvm.options
Labels: type/enhancement

#5772 Add .sdkmanrc with 8.0.345-tem
  .sdkmanrc
Labels: type/housekeeping

#5771 Add compatibility with MongoDB 6
  modules/mongodb/src/main/java/org/testcontainers/containers/MongoDBContainer.java
  modules/mongodb/src/test/java/org/testcontainers/containers/MongoDBContainerTest.java
Labels: type/enhancement, modules/mongodb

#5775 Exclude `org.testcontainers.shaded.*` package and upgrade deps
  gradle/japicmp.gradle
  modules/azure/build.gradle
  modules/couchbase/build.gradle
  modules/hivemq/build.gradle
  modules/k3s/build.gradle
  modules/k3s/src/test/java/org/testcontainers/k3s/Fabric8K3sContainerTest.java
  modules/mockserver/build.gradle
  modules/mockserver/src/test/java/org/testcontainers/containers/MockServerContainerRuleTest.java
  modules/solr/build.gradle
Labels: modules/couchbase, modules/hivemq, modules/k3s, modules/azure, modules/mockserver, modules/solr

#5774 Run mongosh or mongo if cmd exists
  modules/mongodb/src/main/java/org/testcontainers/containers/MongoDBContainer.java
  modules/mongodb/src/test/java/org/testcontainers/containers/MongoDBContainerTest.java
Labels: type/housekeeping

#5782 Remove `disque-job-queue` and `mongodb-container` examples
  docs/examples.md
  examples/disque-job-queue/build.gradle
  examples/disque-job-queue/src/main/java/DisqueBackedMailSenderService.java
  examples/disque-job-queue/src/main/java/MailApiClient.java
  examples/disque-job-queue/src/main/java/MailMessage.java
  examples/disque-job-queue/src/main/java/MailSenderService.java
  examples/disque-job-queue/src/test/java/DisqueBackedMailSenderTest.java
  examples/disque-job-queue/src/test/java/SingleDisqueInstanceTest.java
  examples/disque-job-queue/src/test/resources/logback-test.xml
  examples/mongodb-container/build.gradle
  examples/mongodb-container/src/test/java/org/testcontainers/containers/MongoDbContainer.java
  examples/mongodb-container/src/test/java/org/testcontainers/containers/MongoDbContainerTest.java
  examples/settings.gradle
Labels: type/docs, type/housekeeping

#5786 Fix link for Selenium examples
  docs/examples.md
Labels: type/docs

#5776 getContainerByServiceName should work without suffix
  core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java
  core/src/test/java/org/testcontainers/junit/DockerComposeContainerTest.java
Labels: area/docker-compose
