Repository testcontainers/testcontainers-java, pull requests merged in 2023-05, with the labels that each got.

#6951 [Enhancement]: Alternative waiting strategy for Mockserver container
  modules/mockserver/src/main/java/org/testcontainers/containers/MockServerContainer.java
  modules/mockserver/src/test/java/org/testcontainers/containers/MockServerContainerTest.java
  modules/mockserver/src/test/java/org/testcontainers/containers/SimpleHttpClient.java
Labels: type/enhancement, modules/mockserver

#7013 Update CassandraContainer comment to reflect compaitiblity with 4.x
  modules/cassandra/src/main/java/org/testcontainers/containers/CassandraContainer.java
  modules/cassandra/src/test/java/org/testcontainers/containers/CassandraServer4Test.java
Labels: type/housekeeping, modules/cassandra

#7016 Bump Pulsar version to 3.0.0
  modules/pulsar/build.gradle
  modules/pulsar/src/main/java/org/testcontainers/containers/PulsarContainer.java
  modules/pulsar/src/test/java/org/testcontainers/containers/PulsarContainerTest.java
Labels: dependencies, modules/pulsar

#7014 Support Kraft post Confluent Platform 7.4.0
  docs/modules/kafka.md
  examples/kafka-cluster/src/test/java/com/example/kafkacluster/KafkaContainerClusterTest.java
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
  modules/kafka/src/test/java/org/testcontainers/containers/KafkaContainerTest.java
Labels: type/docs, modules/kafka, type/enhancement

#7009 DockerComposeContainer: add 'removeVolumes' parameter
  core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java
  core/src/test/java/org/testcontainers/junit/DockerComposeContainerVolumeRemovalTest.java
Labels: area/docker-compose, type/enhancement

#7037 Add LocalStackContainer#getEndpoint()
  modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/LocalstackContainerTest.java
Labels: type/housekeeping, modules/localstack

#7042 Add Apache Kyuubi to who is using testcontainers
  docs/index.md
Labels: type/docs

#7041 [cratedb] Enable single node by default
  modules/cratedb/src/main/java/org/testcontainers/cratedb/CrateDBContainer.java
  modules/cratedb/src/test/java/org/testcontainers/junit/cratedb/SimpleCrateDBTest.java
Labels: modules/cratedb

#7045 Fix Redpanda command
  modules/redpanda/src/main/java/org/testcontainers/redpanda/RedpandaContainer.java
Labels: modules/redpanda

#7053 Add TestcontainersHostPropertyClientStrategy
  core/src/main/java/org/testcontainers/DockerClientFactory.java
  core/src/main/java/org/testcontainers/dockerclient/DockerClientProviderStrategy.java
  core/src/main/java/org/testcontainers/dockerclient/TestcontainersHostPropertyClientProviderStrategy.java
  core/src/main/java/org/testcontainers/utility/TestcontainersConfiguration.java
  core/src/main/resources/META-INF/services/org.testcontainers.dockerclient.DockerClientProviderStrategy
  core/src/test/java/org/testcontainers/dockerclient/DockerClientConfigUtilsTest.java
  core/src/test/java/org/testcontainers/dockerclient/TestcontainersHostPropertyClientProviderStrategyTest.java
Labels: type/enhancement

#7059 Fix typo in gitlab_ci instruction docs
  docs/supported_docker_environment/continuous_integration/gitlab_ci.md
Labels: type/docs

#7058 Support Docker Desktop paths for Linux and Mac
  core/src/main/java/org/testcontainers/DockerClientFactory.java
  core/src/main/java/org/testcontainers/dockerclient/DockerClientProviderStrategy.java
  core/src/main/java/org/testcontainers/dockerclient/DockerDesktopClientProviderStrategy.java
  core/src/main/resources/META-INF/services/org.testcontainers.dockerclient.DockerClientProviderStrategy
Labels: type/enhancement

#7063 Update docker-java version to 3.3.1
  core/build.gradle
Labels: dependencies

#7043 Switch r2dbc mysql driver to `io.asyncer:r2dbc-mysql`
  modules/mysql/build.gradle
  modules/mysql/src/main/java/org/testcontainers/containers/MySQLR2DBCDatabaseContainerProvider.java
Labels: type/breaking-api-change, modules/mysql
