Repository testcontainers/testcontainers-java, pull requests merged in 2023-01, with the labels that each got.

#6381 Combined dependencies PR
  core/build.gradle
  docs/examples/junit4/generic/build.gradle
  docs/examples/junit4/redis/build.gradle
  docs/examples/junit5/redis/build.gradle
  docs/examples/spock/redis/build.gradle
  examples/cucumber/build.gradle
  examples/neo4j-container/build.gradle
  modules/couchbase/build.gradle
  modules/elasticsearch/build.gradle
  modules/gcloud/build.gradle
  modules/hivemq/build.gradle
  modules/jdbc/build.gradle
  modules/junit-jupiter/build.gradle
  modules/k3s/build.gradle
  modules/localstack/build.gradle
  modules/mysql/build.gradle
  modules/neo4j/build.gradle
  modules/nginx/build.gradle
  modules/oracle-xe/build.gradle
  modules/orientdb/build.gradle
  modules/postgresql/build.gradle
  modules/presto/build.gradle
  modules/questdb/build.gradle
  modules/r2dbc/build.gradle
  modules/rabbitmq/build.gradle
  modules/spock/build.gradle
  modules/tidb/build.gradle
  modules/trino/build.gradle
Labels: modules/jdbc, modules/spock, modules/couchbase, modules/elasticsearch, modules/jupiter, dependencies, modules/r2dbc, modules/neo4j, modules/localstack, modules/hivemq, modules/k3s, modules/rabbitmq, modules/gcloud, modules/mysql, modules/nginx, modules/oracle, modules/orientdb, modules/presto, modules/postgres, modules/trino, modules/tidb, modules/questdb

#6382 Combined dependencies PR
  core/build.gradle
  examples/cucumber/build.gradle
  modules/dynalite/build.gradle
  modules/elasticsearch/build.gradle
  modules/gcloud/build.gradle
  modules/junit-jupiter/build.gradle
  modules/k3s/build.gradle
  modules/localstack/build.gradle
  modules/mongodb/build.gradle
  modules/selenium/build.gradle
  modules/trino/build.gradle
Labels: modules/selenium, modules/elasticsearch, modules/jupiter, dependencies, modules/mongodb, modules/localstack, modules/k3s, modules/gcloud, modules/dynalite, modules/trino

#6383 docs: clarify usage of `TESTCONTAINERS_HOST_OVERRIDE` for DinD on Docker Desktop
  docs/supported_docker_environment/continuous_integration/dind_patterns.md
Labels: type/docs

#6385 Update gradle enterprise plugin version to 3.12.1
  build.gradle
  examples/settings.gradle
  settings.gradle
Labels: dependencies

#6391 Combined dependencies PR
  examples/settings.gradle
  modules/gcloud/build.gradle
  settings.gradle
Labels: dependencies, modules/gcloud

#6323 fix: Don't return JSON auth config for partial registry name match
  core/src/main/java/org/testcontainers/utility/RegistryAuthLocator.java
  core/src/test/java/org/testcontainers/utility/RegistryAuthLocatorTest.java
Labels: type/bug

#5930 Short-circuit CompletableFuture returned by Startables#deepStart on exception
  core/src/main/java/org/testcontainers/lifecycle/Startables.java
Labels: type/bug

#6408 Add Docker image name to ContainerLaunchException message
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/test/java/org/testcontainers/containers/GenericContainerTest.java
Labels: type/enhancement

#6409 Update immudb4j version to 1.0.0
  examples/immudb/build.gradle
  examples/immudb/src/test/java/ImmuDbTest.java
Labels: dependencies

#6412 Add devcontainer file
  .devcontainer/devcontainer.json
  README.md
Labels: type/feature

#6422 [gcloud] Accept gcr.io/google.com/cloudsdktool/google-cloud-cli as a valid image
  modules/gcloud/src/main/java/org/testcontainers/containers/BigtableEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/DatastoreEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/FirestoreEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/PubSubEmulatorContainer.java
  modules/gcloud/src/test/java/org/testcontainers/containers/BigtableEmulatorContainerTest.java
  modules/gcloud/src/test/java/org/testcontainers/containers/DatastoreEmulatorContainerTest.java
  modules/gcloud/src/test/java/org/testcontainers/containers/FirestoreEmulatorContainerTest.java
  modules/gcloud/src/test/java/org/testcontainers/containers/PubSubEmulatorContainerTest.java
Labels: type/enhancement, modules/gcloud

#6415 Add Parallel Container Startup docs
  docs/features/advanced_options.md
Labels: type/docs

#6407 Add workflow to update base version used by japicmp
  .github/workflows/update-testcontainers-version.yml
  RELEASING.md
  gradle.properties
  gradle/japicmp.gradle
Labels: github_actions

#6327 [yugabytedb] update tc url form and jdbc doc page
  docs/modules/databases/jdbc.md
Labels: type/docs

#6437 Add edge support to browser web driver container
  docs/modules/webdriver_containers.md
  modules/selenium/build.gradle
  modules/selenium/src/main/java/org/testcontainers/containers/BrowserWebDriverContainer.java
  modules/selenium/src/test/java/org/testcontainers/junit/BaseWebDriverContainerTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/ChromeWebDriverContainerTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/ContainerWithoutCapabilitiesTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/EdgeWebDriverContainerTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/FirefoxWebDriverContainerTest.java
Labels: type/docs, modules/selenium, type/enhancement
