Repository testcontainers/testcontainers-java, pull requests merged in 2023-10, with the labels that each got.

#7617 Combined dependencies PR
  core/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/settings.gradle
  examples/singleton-container/build.gradle
  modules/azure/build.gradle
  modules/dynalite/build.gradle
  modules/gcloud/build.gradle
  modules/hivemq/build.gradle
  modules/junit-jupiter/build.gradle
  modules/localstack/build.gradle
  modules/oracle-xe/build.gradle
  modules/rabbitmq/build.gradle
  modules/trino/build.gradle
  settings.gradle
Labels: modules/jupiter, dependencies, modules/localstack, modules/hivemq, modules/rabbitmq, modules/gcloud, modules/azure, modules/dynalite, modules/oracle, modules/trino

#7643 Combined dependencies PR
  core/build.gradle
  examples/immudb/build.gradle
  examples/kafka-cluster/build.gradle
  examples/nats/build.gradle
  examples/settings.gradle
  modules/couchbase/build.gradle
  modules/dynalite/build.gradle
  modules/hivemq/build.gradle
  modules/k3s/build.gradle
  modules/kafka/build.gradle
  modules/localstack/build.gradle
  modules/mysql/build.gradle
  modules/questdb/build.gradle
  modules/redpanda/build.gradle
  modules/trino/build.gradle
  settings.gradle
Labels: modules/couchbase, modules/kafka, dependencies, modules/localstack, modules/hivemq, modules/k3s, modules/dynalite, modules/mysql, modules/trino, modules/redpanda, modules/questdb

#7650 Update httpclient version to 4.5.14
  core/build.gradle
Labels: dependencies

#7653 Add Checkstyle's ModifierOrder rule
  config/checkstyle/checkstyle.xml
Labels: type/housekeeping

#7655 Update Docker requirements page to be more container runtime agnostic
  docs/supported_docker_environment/index.md
Labels: type/docs

#7681 Fix documentation for BigQuery in gcloud module
  docs/modules/gcloud.md
Labels: type/docs

#7684 Fixing link to Toxiproxy docs from Kafka docs
  docs/modules/kafka.md
Labels: type/docs

#7686 Add Checkstyle's SingleSpaceSeparator rule
  config/checkstyle/checkstyle.xml
Labels: type/housekeeping

#7688 Selenium updates
  .github/dependabot.yml
  docs/examples/junit4/generic/build.gradle
  examples/cucumber/build.gradle
Labels: dependencies

#7652 Deprecate file/volume mapping APIs
  core/src/main/java/org/testcontainers/containers/Container.java
  docs/features/files.md
Labels: type/docs

#7713 Combined dependencies PR
  .github/workflows/release-drafter.yml
  core/build.gradle
  examples/hazelcast/build.gradle
  examples/linked-container/build.gradle
  examples/nats/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/selenium-container/build.gradle
  examples/settings.gradle
  examples/singleton-container/build.gradle
  examples/spring-boot/build.gradle
  modules/azure/build.gradle
  modules/couchbase/build.gradle
  modules/dynalite/build.gradle
  modules/elasticsearch/build.gradle
  modules/gcloud/build.gradle
  modules/hivemq/build.gradle
  modules/jdbc/build.gradle
  modules/junit-jupiter/build.gradle
  modules/localstack/build.gradle
  modules/mongodb/build.gradle
  modules/r2dbc/build.gradle
  modules/solr/build.gradle
  modules/trino/build.gradle
  settings.gradle
Labels: modules/jdbc, modules/couchbase, modules/elasticsearch, modules/jupiter, dependencies, modules/r2dbc, modules/mongodb, github_actions, modules/localstack, modules/hivemq, modules/gcloud, modules/azure, modules/dynalite, modules/solr, modules/trino

#7715 Combined dependencies PR
  examples/linked-container/build.gradle
  modules/elasticsearch/build.gradle
  modules/jdbc-test/build.gradle
  modules/mysql/build.gradle
Labels: modules/elasticsearch, dependencies, modules/mysql

#7716 Update kubernetes client version to 19.0.0
  modules/k3s/build.gradle
  modules/k3s/src/test/java/org/testcontainers/k3s/OfficialClientK3sContainerTest.java
Labels: dependencies, modules/k3s

#7677 Fix K3S start command
  modules/k3s/src/main/java/org/testcontainers/k3s/K3sContainer.java
  modules/k3s/src/test/java/org/testcontainers/k3s/OfficialClientK3sContainerTest.java
Labels: type/bug, modules/k3s

#7718 Changing default localstack credentials
  modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/LocalstackContainerTest.java
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/LocalstackTestImages.java
Labels: type/bug, modules/localstack

#7717 Add shutdownHook to send sigterm to ryuk
  core/src/main/java/org/testcontainers/utility/RyukResourceReaper.java
Labels: type/enhancement

#7727 Resolve strategy to detect the remote docker socket
  core/src/main/java/org/testcontainers/DockerClientFactory.java
Labels: type/bug

#7730 Update docker-java version to 3.3.4
  core/build.gradle
Labels: dependencies

#7646 fix bug in splitSqlScript
  modules/database-commons/src/main/java/org/testcontainers/ext/ScriptScanner.java
  modules/database-commons/src/main/java/org/testcontainers/ext/ScriptSplitter.java
  modules/database-commons/src/main/java/org/testcontainers/ext/ScriptUtils.java
  modules/database-commons/src/test/java/org/testcontainers/ext/ScriptSplittingTest.java
Labels: type/enhancement

#7714 Container definition API
  core/src/main/java/org/testcontainers/containers/ContainerDef.java
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/main/java/org/testcontainers/containers/PortForwardingContainer.java
  core/src/test/java/org/testcontainers/containers/ExposedHostTest.java
  core/src/test/java/org/testcontainers/custom/TestCreateContainerCmdModifier.java
  modules/mongodb/build.gradle
  modules/mongodb/src/main/java/org/testcontainers/containers/MongoDBContainer.java
Labels: type/enhancement, modules/mongodb

#7748 Create KafkaContainerDef
  modules/kafka/build.gradle
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
Labels: modules/kafka, type/enhancement
