Repository testcontainers/testcontainers-java, pull requests merged in 2023-02, with the labels that each got.

#6236 ClickHouse uses new driver if it is available and version is compatible
  modules/clickhouse/src/main/java/org/testcontainers/containers/ClickHouseContainer.java
Labels: type/enhancement, modules/clickhouse

#6564 Combined dependencies PR
  .github/workflows/release-drafter.yml
  core/build.gradle
  docs/examples/junit5/redis/build.gradle
  examples/cucumber/build.gradle
  examples/kafka-cluster/build.gradle
  examples/linked-container/build.gradle
  examples/nats/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/settings.gradle
  examples/singleton-container/build.gradle
  modules/azure/build.gradle
  modules/cassandra/build.gradle
  modules/clickhouse/build.gradle
  modules/cockroachdb/build.gradle
  modules/consul/build.gradle
  modules/couchbase/build.gradle
  modules/database-commons/build.gradle
  modules/db2/build.gradle
  modules/dynalite/build.gradle
  modules/elasticsearch/build.gradle
  modules/gcloud/build.gradle
  modules/hivemq/build.gradle
  modules/influxdb/build.gradle
  modules/jdbc-test/build.gradle
  modules/jdbc/build.gradle
  modules/junit-jupiter/build.gradle
  modules/k3s/build.gradle
  modules/kafka/build.gradle
  modules/localstack/build.gradle
  modules/mockserver/build.gradle
  modules/mongodb/build.gradle
  modules/mssqlserver/build.gradle
  modules/mysql/build.gradle
  modules/neo4j/build.gradle
  modules/nginx/build.gradle
  modules/oracle-xe/build.gradle
  modules/orientdb/build.gradle
  modules/postgresql/build.gradle
  modules/pulsar/build.gradle
  modules/questdb/build.gradle
  modules/r2dbc/build.gradle
  modules/rabbitmq/build.gradle
  modules/redpanda/build.gradle
  modules/selenium/build.gradle
  modules/solr/build.gradle
  modules/spock/build.gradle
  modules/toxiproxy/build.gradle
  modules/trino/build.gradle
  modules/vault/build.gradle
  modules/yugabytedb/build.gradle
  settings.gradle
Labels: modules/jdbc, modules/selenium, modules/spock, modules/influx, modules/couchbase, modules/kafka, modules/elasticsearch, modules/jupiter, dependencies, modules/r2dbc, modules/mongodb, github_actions, modules/neo4j, modules/localstack, modules/hivemq, modules/k3s, modules/rabbitmq, modules/pulsar, modules/gcloud, modules/clickhouse, modules/toxiproxy, modules/azure, modules/cassandra, modules/cockroachdb, modules/db2, modules/dynalite, modules/mockserver, modules/mysql, modules/sql-server, modules/nginx, modules/oracle, modules/orientdb, modules/postgres, modules/solr, modules/trino, modules/vault, modules/consul, modules/redpanda, modules/questdb, modules/yugabytedb

#6566 Combined dependencies PR
  examples/cucumber/build.gradle
  modules/azure/build.gradle
  modules/gcloud/build.gradle
  modules/hivemq/build.gradle
  modules/jdbc/build.gradle
  modules/junit-jupiter/build.gradle
  modules/kafka/build.gradle
  modules/localstack/build.gradle
  modules/mariadb/build.gradle
  modules/mockserver/build.gradle
  modules/mongodb/build.gradle
  modules/nginx/build.gradle
  modules/orientdb/build.gradle
  modules/presto/build.gradle
  modules/pulsar/build.gradle
  modules/questdb/build.gradle
  modules/rabbitmq/build.gradle
  modules/redpanda/build.gradle
  modules/spock/build.gradle
  modules/tidb/build.gradle
  modules/trino/build.gradle
Labels: modules/jdbc, modules/spock, modules/kafka, modules/jupiter, dependencies, modules/mongodb, modules/localstack, modules/hivemq, modules/rabbitmq, modules/pulsar, modules/gcloud, modules/azure, modules/mariadb, modules/mockserver, modules/nginx, modules/orientdb, modules/presto, modules/trino, modules/tidb, modules/redpanda, modules/questdb

#6567 Combined dependencies PR
  modules/cockroachdb/build.gradle
  modules/gcloud/build.gradle
  modules/k3s/build.gradle
  modules/orientdb/build.gradle
  modules/spock/build.gradle
Labels: modules/spock, dependencies, modules/k3s, modules/gcloud, modules/cockroachdb, modules/orientdb

#6568 Exclude org.mockito:mockito-core updates
  .github/dependabot.yml
Labels: type/housekeeping

#6578 Combined dependencies PR
  docs/examples/junit4/generic/build.gradle
  docs/examples/junit4/redis/build.gradle
  docs/examples/junit5/redis/build.gradle
  examples/cucumber/build.gradle
  examples/hazelcast/build.gradle
  examples/immudb/build.gradle
  examples/kafka-cluster/build.gradle
  examples/linked-container/build.gradle
  examples/nats/build.gradle
  examples/neo4j-container/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/selenium-container/build.gradle
  examples/sftp/build.gradle
  examples/singleton-container/build.gradle
  examples/solr-container/build.gradle
  examples/spring-boot-kotlin-redis/build.gradle
  examples/zookeeper/build.gradle
  test-support/build.gradle
Labels: dependencies

#6580 Combined dependencies PR
  docs/examples/junit4/generic/build.gradle
  examples/spring-boot-kotlin-redis/build.gradle
Labels: dependencies

#6579 Update spotless version to 6.13.0
  build.gradle
  examples/build.gradle
Labels: dependencies

#6582 Combined dependencies PR
  docs/examples/junit4/generic/build.gradle
  modules/elasticsearch/build.gradle
Labels: modules/elasticsearch, dependencies

#6448 [CockroachDB] Support setting a username/password/database
  modules/cockroachdb/src/main/java/org/testcontainers/containers/CockroachContainer.java
  modules/cockroachdb/src/test/java/org/testcontainers/CockroachDBTestImages.java
  modules/cockroachdb/src/test/java/org/testcontainers/junit/cockroachdb/SimpleCockroachDBTest.java
Labels: type/enhancement, modules/cockroachdb

#6430 Make Localstack services optional.
  modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/LocalstackContainerTest.java
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/LocalstackTestImages.java
Labels: type/enhancement, modules/localstack

#6620 Combined dependencies PR
  core/build.gradle
  examples/kafka-cluster/build.gradle
  examples/linked-container/build.gradle
  examples/nats/build.gradle
  examples/selenium-container/build.gradle
  examples/solr-container/build.gradle
  examples/spring-boot-kotlin-redis/build.gradle
  examples/spring-boot/build.gradle
  modules/cockroachdb/build.gradle
  modules/couchbase/build.gradle
  modules/dynalite/build.gradle
  modules/gcloud/build.gradle
  modules/hivemq/build.gradle
  modules/junit-jupiter/build.gradle
  modules/kafka/build.gradle
  modules/localstack/build.gradle
  modules/mongodb/build.gradle
  modules/orientdb/build.gradle
  modules/postgresql/build.gradle
  modules/questdb/build.gradle
  modules/redpanda/build.gradle
  modules/spock/build.gradle
Labels: modules/spock, modules/couchbase, modules/kafka, modules/jupiter, dependencies, modules/mongodb, modules/localstack, modules/hivemq, modules/gcloud, modules/cockroachdb, modules/dynalite, modules/orientdb, modules/postgres, modules/redpanda, modules/questdb

#6621 Combined dependencies PR
  modules/gcloud/build.gradle
  modules/hivemq/build.gradle
  modules/localstack/build.gradle
Labels: dependencies, modules/localstack, modules/hivemq, modules/gcloud

#6622 Combined dependencies PR
  modules/gcloud/build.gradle
  modules/localstack/build.gradle
Labels: dependencies, modules/localstack, modules/gcloud

#6583 SolaceContainer implementation
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/dependabot.yml
  .github/labeler.yml
  .github/settings.yml
  docs/modules/solace.md
  mkdocs.yml
  modules/solace/build.gradle
  modules/solace/src/main/java/org/testcontainers/solace/Service.java
  modules/solace/src/main/java/org/testcontainers/solace/SolaceContainer.java
  modules/solace/src/test/java/org/testcontainers/solace/SolaceContainerAMQPTest.java
  modules/solace/src/test/java/org/testcontainers/solace/SolaceContainerMQTTTest.java
  modules/solace/src/test/java/org/testcontainers/solace/SolaceContainerRESTTest.java
  modules/solace/src/test/java/org/testcontainers/solace/SolaceContainerSMFTest.java
  modules/solace/src/test/resources/client.pfx
  modules/solace/src/test/resources/logback-test.xml
  modules/solace/src/test/resources/rootCA.crt
  modules/solace/src/test/resources/solace.pem
  modules/solace/src/test/resources/truststore
Labels: type/docs, type/new module

#6639 Add checkstyle rule to avoid author tag in javadoc
  config/checkstyle/checkstyle.xml
  core/src/main/java/org/testcontainers/containers/wait/strategy/HostPortWaitStrategy.java
  core/src/test/java/org/testcontainers/junit/wait/strategy/AbstractWaitStrategyTest.java
  core/src/test/java/org/testcontainers/junit/wait/strategy/HttpWaitStrategyTest.java
  modules/cassandra/src/main/java/org/testcontainers/containers/CassandraContainer.java
  modules/cassandra/src/main/java/org/testcontainers/containers/delegate/CassandraDatabaseDelegate.java
  modules/cassandra/src/main/java/org/testcontainers/containers/wait/CassandraQueryWaitStrategy.java
  modules/cassandra/src/test/java/org/testcontainers/containers/CassandraContainerTest.java
  modules/database-commons/src/main/java/org/testcontainers/delegate/AbstractDatabaseDelegate.java
  modules/database-commons/src/main/java/org/testcontainers/delegate/DatabaseDelegate.java
  modules/database-commons/src/main/java/org/testcontainers/exception/ConnectionCreationException.java
  modules/database-commons/src/main/java/org/testcontainers/ext/ScriptUtils.java
  modules/gcloud/src/main/java/org/testcontainers/containers/BigtableEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/DatastoreEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/FirestoreEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/PubSubEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/SpannerEmulatorContainer.java
  modules/jdbc/src/main/java/org/testcontainers/containers/JdbcDatabaseContainer.java
  modules/jdbc/src/main/java/org/testcontainers/jdbc/ConnectionUrl.java
  modules/jdbc/src/main/java/org/testcontainers/jdbc/JdbcDatabaseDelegate.java
  modules/jdbc/src/test/java/org/testcontainers/jdbc/ConnectionUrlDriversTests.java
  modules/mariadb/src/main/java/org/testcontainers/containers/MariaDBContainer.java
  modules/mssqlserver/src/main/java/org/testcontainers/containers/MSSQLServerContainer.java
  modules/mssqlserver/src/test/java/org/testcontainers/junit/mssqlserver/CustomPasswordMSSQLServerTest.java
  modules/mysql/src/main/java/org/testcontainers/containers/MySQLContainer.java
  modules/neo4j/src/main/java/org/testcontainers/containers/Neo4jContainer.java
  modules/neo4j/src/test/java/org/testcontainers/containers/Neo4jContainerJUnitIntegrationTest.java
  modules/neo4j/src/test/java/org/testcontainers/containers/Neo4jContainerTest.java
  modules/nginx/src/main/java/org/testcontainers/containers/NginxContainer.java
  modules/nginx/src/test/java/org/testcontainers/junit/SimpleNginxTest.java
  modules/orientdb/src/main/java/org/testcontainers/containers/OrientDBContainer.java
  modules/orientdb/src/test/java/org/testcontainers/containers/OrientDBContainerTest.java
  modules/postgresql/src/main/java/org/testcontainers/containers/PostgreSQLContainer.java
  modules/postgresql/src/test/java/org/testcontainers/junit/postgresql/CustomizablePostgreSQLTest.java
  modules/presto/src/test/java/org/testcontainers/containers/PrestoContainerTest.java
  modules/questdb/src/main/java/org/testcontainers/containers/QuestDBContainer.java
  modules/rabbitmq/src/main/java/org/testcontainers/containers/RabbitMQContainer.java
  modules/rabbitmq/src/test/java/org/testcontainers/containers/RabbitMQContainerJUnitIntegrationTest.java
  modules/rabbitmq/src/test/java/org/testcontainers/containers/RabbitMQContainerTest.java
  modules/solr/src/main/java/org/testcontainers/containers/SolrClientUtils.java
  modules/solr/src/main/java/org/testcontainers/containers/SolrContainerConfiguration.java
  modules/solr/src/test/java/org/testcontainers/containers/SolrContainerTest.java
  modules/tidb/src/main/java/org/testcontainers/tidb/TiDBContainer.java
  modules/yugabytedb/src/main/java/org/testcontainers/containers/YugabyteDBYCQLContainer.java
  modules/yugabytedb/src/main/java/org/testcontainers/containers/YugabyteDBYSQLContainer.java
  modules/yugabytedb/src/main/java/org/testcontainers/containers/YugabyteDBYSQLContainerProvider.java
  modules/yugabytedb/src/main/java/org/testcontainers/containers/delegate/AbstractYCQLDelegate.java
  modules/yugabytedb/src/main/java/org/testcontainers/containers/delegate/YugabyteDBYCQLDelegate.java
  modules/yugabytedb/src/main/java/org/testcontainers/containers/strategy/YugabyteDBYCQLWaitStrategy.java
  modules/yugabytedb/src/main/java/org/testcontainers/containers/strategy/YugabyteDBYSQLWaitStrategy.java
  modules/yugabytedb/src/test/java/org/testcontainers/jdbc/yugabytedb/YugabyteDBYSQLJDBCDriverTest.java
  modules/yugabytedb/src/test/java/org/testcontainers/junit/yugabytedb/YugabyteDBYCQLTest.java
  modules/yugabytedb/src/test/java/org/testcontainers/junit/yugabytedb/YugabyteDBYSQLTest.java
Labels: type/housekeeping, modules/neo4j, modules/rabbitmq, modules/gcloud, modules/cassandra, modules/mariadb, modules/mysql, modules/sql-server, modules/nginx, modules/orientdb, modules/presto, modules/postgres, modules/solr, modules/tidb, modules/questdb, modules/yugabytedb

#6641 Combined dependencies PR
  modules/dynalite/build.gradle
  modules/localstack/build.gradle
  modules/solace/build.gradle
Labels: dependencies, modules/localstack, modules/dynalite, modules/solace

#5854 Bugfix: Log consumers are now called with exactly one complete log line
  core/src/main/java/org/testcontainers/containers/output/FrameConsumerResultCallback.java
  core/src/main/java/org/testcontainers/containers/output/OutputFrame.java
  core/src/main/java/org/testcontainers/containers/output/Slf4jLogConsumer.java
  core/src/main/java/org/testcontainers/containers/output/ToStringConsumer.java
  core/src/main/java/org/testcontainers/containers/output/WaitingConsumer.java
  core/src/test/java/org/testcontainers/containers/output/FrameConsumerResultCallbackTest.java
Labels: type/enhancement

#6625 Ensure readability of MySQL and MariaDB config override
  modules/jdbc/src/main/java/org/testcontainers/containers/JdbcDatabaseContainer.java
  modules/mariadb/src/main/java/org/testcontainers/containers/MariaDBContainer.java
  modules/mariadb/src/test/java/org/testcontainers/junit/mariadb/SimpleMariaDBTest.java
  modules/mysql/src/main/java/org/testcontainers/containers/MySQLContainer.java
  modules/mysql/src/test/java/org/testcontainers/junit/mysql/SimpleMySQLTest.java
Labels: type/enhancement, modules/mariadb, modules/mysql

#5985 Move junit-jupiter-api's dependency configuration to implementation
  examples/neo4j-container/build.gradle
  modules/junit-jupiter/build.gradle
Labels: type/breaking-api-change, modules/jupiter, hacktoberfest-accepted

#5827 Removed deprecated methods and undeclared transitive dependency to AWS SDK v1
  modules/localstack/build.gradle
  modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java
Labels: type/breaking-api-change, modules/localstack

#6129 Kafka Kraft Support
  docs/modules/kafka.md
  examples/kafka-cluster/src/test/java/com/example/kafkacluster/KafkaContainerClusterTest.java
  examples/kafka-cluster/src/test/java/com/example/kafkacluster/KafkaContainerKraftCluster.java
  modules/kafka/build.gradle
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
  modules/kafka/src/test/java/org/testcontainers/containers/KafkaContainerTest.java
Labels: type/docs, modules/kafka, type/enhancement

#6624 use type long to calculate memory
  docs/examples/junit4/generic/src/test/java/generic/CmdModifierTest.java
Labels: type/housekeeping

#6238 feat: also check DOCKER_AUTH_CONFIG for registry auth config as an alternative to config.json
  core/src/main/java/org/testcontainers/utility/RegistryAuthLocator.java
  core/src/test/java/org/testcontainers/utility/RegistryAuthLocatorTest.java
  docs/supported_docker_environment/index.md
Labels: type/docs, type/enhancement

#6303 Update Javadoc to highlight the potentially stale behavior of `getMappedPort`
  core/src/main/java/org/testcontainers/containers/ContainerState.java
Labels: type/docs

#6656 Upgrade gradle version to 8.0.1
  core/build.gradle
  examples/gradle/wrapper/gradle-wrapper.jar
  examples/gradle/wrapper/gradle-wrapper.properties
  examples/gradlew
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  modules/hivemq/build.gradle
  modules/jdbc-test/build.gradle
  modules/jdbc/build.gradle
  modules/postgresql/build.gradle
  modules/toxiproxy/build.gradle
  settings.gradle
Labels: modules/jdbc, gradle-wrapper, modules/hivemq, modules/toxiproxy, modules/postgres

#6664 Add community links to docs
  docs/css/extra.css
  docs/icons/github.svg
  docs/icons/slack.svg
  docs/icons/stackoverflow.svg
  docs/icons/twitter.svg
  docs/theme/partials/nav.html
Labels: type/docs

#6674 Add haskell language to docs
  docs/index.md
  docs/language-logos/haskell.svg
Labels: type/docs

#6676 Fix modules/jdbc path for labeler
  .github/labeler.yml
Labels: type/housekeeping

#6646 Log JDBC URL to support TC Port Updater IntelliJ plugin
  modules/jdbc/src/main/java/org/testcontainers/containers/JdbcDatabaseContainer.java
Labels: type/housekeeping, modules/jdbc

#6672 [Feature]: ShellStrategy, a new WaitStrategy
  core/src/main/java/org/testcontainers/containers/wait/strategy/ShellStrategy.java
  core/src/main/java/org/testcontainers/containers/wait/strategy/Wait.java
  core/src/test/java/org/testcontainers/junit/wait/strategy/ShellStrategyTest.java
Labels: type/feature
