Repository testcontainers/testcontainers-java, pull requests merged in 2023-08, with the labels that each got.

#7388 Combined dependencies PR
  .github/workflows/update-gradle-wrapper.yml
  build.gradle
  docs/examples/junit5/redis/build.gradle
  examples/cucumber/build.gradle
  examples/nats/build.gradle
  examples/settings.gradle
  examples/zookeeper/build.gradle
  modules/azure/build.gradle
  modules/cassandra/build.gradle
  modules/couchbase/build.gradle
  modules/dynalite/build.gradle
  modules/elasticsearch/build.gradle
  modules/gcloud/build.gradle
  modules/hivemq/build.gradle
  modules/influxdb/build.gradle
  modules/jdbc-test/build.gradle
  modules/jdbc/build.gradle
  modules/junit-jupiter/build.gradle
  modules/k3s/build.gradle
  modules/localstack/build.gradle
  modules/mongodb/build.gradle
  modules/mssqlserver/build.gradle
  modules/orientdb/build.gradle
  modules/questdb/build.gradle
  modules/r2dbc/build.gradle
  modules/redpanda/build.gradle
  modules/selenium/build.gradle
  modules/spock/build.gradle
  modules/trino/build.gradle
  settings.gradle
Labels: modules/jdbc, modules/selenium, modules/spock, modules/influx, modules/couchbase, modules/elasticsearch, modules/jupiter, dependencies, modules/r2dbc, modules/mongodb, github_actions, modules/localstack, modules/hivemq, modules/k3s, modules/gcloud, modules/azure, modules/cassandra, modules/dynalite, modules/sql-server, modules/orientdb, modules/trino, modules/redpanda, modules/questdb

#7389 Update google-cloud-cli image version to 441
  docs/modules/gcloud.md
  modules/gcloud/src/test/java/org/testcontainers/containers/BigtableEmulatorContainerTest.java
  modules/gcloud/src/test/java/org/testcontainers/containers/DatastoreEmulatorContainerTest.java
  modules/gcloud/src/test/java/org/testcontainers/containers/FirestoreEmulatorContainerTest.java
  modules/gcloud/src/test/java/org/testcontainers/containers/PubSubEmulatorContainerTest.java
Labels: type/docs, modules/gcloud

#7391 Combined dependencies PR
  examples/neo4j-container/build.gradle
  examples/settings.gradle
  modules/elasticsearch/build.gradle
  modules/hivemq/build.gradle
  modules/jdbc-test/build.gradle
  modules/k3s/build.gradle
  modules/kafka/build.gradle
  modules/mssqlserver/build.gradle
  modules/spock/build.gradle
  settings.gradle
Labels: modules/spock, modules/kafka, modules/elasticsearch, dependencies, modules/hivemq, modules/k3s, modules/sql-server

#7394 Fix call to stop containers when using parallel in JUnit Jupiter Extension
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/TestcontainersExtension.java
Labels: type/bug, modules/jupiter

#7395 Apply priority execution in CI
  .github/workflows/ci-examples.yml
  .github/workflows/ci.yml
Labels: type/housekeeping, github_actions

#7396 Move common configuration in workflows
  .github/actions/setup-build/action.yml
  .github/actions/setup-gradle/action.yml
  .github/actions/setup-java/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: type/housekeeping, github_actions

#7397 Support icr.io/db2_community/db2 as a compatible image
  modules/db2/src/main/java/org/testcontainers/containers/Db2Container.java
  modules/db2/src/test/java/org/testcontainers/junit/db2/SimpleDb2Test.java
Labels: type/enhancement, modules/db2

#7398 Fix broken tabs in Consul module docs
  docs/modules/consul.md
Labels: type/docs

#7403 Add new ClickHouseContainer implementation
  modules/clickhouse/src/main/java/org/testcontainers/clickhouse/ClickHouseContainer.java
  modules/clickhouse/src/main/java/org/testcontainers/containers/ClickHouseContainer.java
  modules/clickhouse/src/test/java/org/testcontainers/clickhouse/ClickHouseContainerTest.java
Labels: type/feature, modules/clickhouse

#7402 Add Wait.forListeningPort(port)
  core/src/main/java/org/testcontainers/containers/wait/strategy/HostPortWaitStrategy.java
  core/src/main/java/org/testcontainers/containers/wait/strategy/Wait.java
  core/src/test/java/org/testcontainers/junit/wait/strategy/HostPortWaitStrategyTest.java
Labels: type/enhancement

#7408 Improve javadoc for Testcontainers implementations
  modules/azure/src/main/java/org/testcontainers/containers/CosmosDBEmulatorContainer.java
  modules/cassandra/src/main/java/org/testcontainers/containers/CassandraContainer.java
  modules/clickhouse/src/main/java/org/testcontainers/clickhouse/ClickHouseContainer.java
  modules/cockroachdb/src/main/java/org/testcontainers/containers/CockroachContainer.java
  modules/consul/src/main/java/org/testcontainers/consul/ConsulContainer.java
  modules/couchbase/src/main/java/org/testcontainers/couchbase/CouchbaseContainer.java
  modules/cratedb/src/main/java/org/testcontainers/cratedb/CrateDBContainer.java
  modules/db2/src/main/java/org/testcontainers/containers/Db2Container.java
  modules/elasticsearch/src/main/java/org/testcontainers/elasticsearch/ElasticsearchContainer.java
  modules/hivemq/src/main/java/org/testcontainers/hivemq/HiveMQContainer.java
  modules/influxdb/src/main/java/org/testcontainers/containers/InfluxDBContainer.java
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
  modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java
  modules/mariadb/src/main/java/org/testcontainers/containers/MariaDBContainer.java
  modules/mongodb/src/main/java/org/testcontainers/containers/MongoDBContainer.java
  modules/mssqlserver/src/main/java/org/testcontainers/containers/MSSQLServerContainer.java
  modules/mysql/src/main/java/org/testcontainers/containers/MySQLContainer.java
  modules/neo4j/src/main/java/org/testcontainers/containers/Neo4jContainer.java
  modules/oracle-xe/src/main/java/org/testcontainers/containers/OracleContainer.java
  modules/orientdb/src/main/java/org/testcontainers/containers/OrientDBContainer.java
  modules/postgresql/src/main/java/org/testcontainers/containers/PostgreSQLContainer.java
  modules/pulsar/src/main/java/org/testcontainers/containers/PulsarContainer.java
  modules/questdb/src/main/java/org/testcontainers/containers/QuestDBContainer.java
  modules/rabbitmq/src/main/java/org/testcontainers/containers/RabbitMQContainer.java
  modules/redpanda/src/main/java/org/testcontainers/redpanda/RedpandaContainer.java
  modules/solace/src/main/java/org/testcontainers/solace/SolaceContainer.java
  modules/solr/src/main/java/org/testcontainers/containers/SolrContainer.java
  modules/tidb/src/main/java/org/testcontainers/tidb/TiDBContainer.java
  modules/toxiproxy/src/main/java/org/testcontainers/containers/ToxiproxyContainer.java
  modules/trino/src/main/java/org/testcontainers/containers/TrinoContainer.java
  modules/vault/src/main/java/org/testcontainers/vault/VaultContainer.java
  modules/yugabytedb/src/main/java/org/testcontainers/containers/YugabyteDBYCQLContainer.java
  modules/yugabytedb/src/main/java/org/testcontainers/containers/YugabyteDBYSQLContainer.java
Labels: type/housekeeping, modules/influx, modules/couchbase, modules/kafka, modules/elasticsearch, modules/mongodb, modules/neo4j, modules/localstack, modules/hivemq, modules/rabbitmq, modules/pulsar, modules/clickhouse, modules/toxiproxy, modules/azure, modules/cassandra, modules/cockroachdb, modules/db2, modules/mariadb, modules/mysql, modules/sql-server, modules/oracle, modules/orientdb, modules/postgres, modules/solr, modules/trino, modules/vault, modules/tidb, modules/consul, modules/redpanda, modules/questdb, modules/solace, modules/yugabytedb, modules/cratedb

#7407 Add User-Agent to docker client
  core/src/main/java/org/testcontainers/DockerClientFactory.java
  core/src/main/java/org/testcontainers/dockerclient/DockerClientProviderStrategy.java
Labels: type/housekeeping

#7412 Fix colima documentation
  docs/supported_docker_environment/index.md
Labels: type/docs

#7411 Enable Solace PubSub+ Manager
  modules/solace/src/main/java/org/testcontainers/solace/SolaceContainer.java
Labels: modules/solace

#7311 Exec in container with custom user
  core/build.gradle
  core/src/main/java/org/testcontainers/containers/ContainerState.java
  core/src/main/java/org/testcontainers/containers/ExecInContainerPattern.java
  core/src/test/java/org/testcontainers/junit/GenericContainerRuleTest.java
Labels: type/enhancement

#7333 Add KafkaContainer#withListener
  docs/modules/kafka.md
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
  modules/kafka/src/test/java/org/testcontainers/containers/KafkaContainerTest.java
Labels: type/docs, modules/kafka, type/enhancement

#7320 Add Redpanda improvements
  docs/modules/redpanda.md
  modules/redpanda/build.gradle
  modules/redpanda/src/main/java/org/testcontainers/redpanda/RedpandaContainer.java
  modules/redpanda/src/main/resources/testcontainers/bootstrap.yaml.ftl
  modules/redpanda/src/main/resources/testcontainers/entrypoint-tc.sh
  modules/redpanda/src/main/resources/testcontainers/redpanda.yaml.ftl
  modules/redpanda/src/test/java/org/testcontainers/redpanda/RedpandaContainerTest.java
Labels: type/docs, type/feature, modules/redpanda

#7415 Add tests using TCC
  .github/workflows/ci.yml
  smoke-test/build.gradle
  smoke-test/gradle/wrapper/gradle-wrapper.jar
  smoke-test/gradle/wrapper/gradle-wrapper.properties
  smoke-test/gradlew
  smoke-test/gradlew.bat
  smoke-test/settings.gradle
  smoke-test/turbo-mode/build.gradle
  smoke-test/turbo-mode/src/test/java/org/testcontainers/example/AbstractRedisContainer.java
  smoke-test/turbo-mode/src/test/java/org/testcontainers/example/RedisContainer1Test.java
  smoke-test/turbo-mode/src/test/java/org/testcontainers/example/RedisContainer2Test.java
  smoke-test/turbo-mode/src/test/java/org/testcontainers/example/RedisContainer3Test.java
  smoke-test/turbo-mode/src/test/java/org/testcontainers/example/RedisContainer4Test.java
  smoke-test/turbo-mode/src/test/resources/logback-test.xml
Labels: github_actions

#7422 Add javadoc for supported images
  modules/azure/src/main/java/org/testcontainers/containers/CosmosDBEmulatorContainer.java
  modules/cassandra/src/main/java/org/testcontainers/containers/CassandraContainer.java
  modules/clickhouse/src/main/java/org/testcontainers/clickhouse/ClickHouseContainer.java
  modules/cockroachdb/src/main/java/org/testcontainers/containers/CockroachContainer.java
  modules/consul/src/main/java/org/testcontainers/consul/ConsulContainer.java
  modules/couchbase/src/main/java/org/testcontainers/couchbase/CouchbaseContainer.java
  modules/cratedb/src/main/java/org/testcontainers/cratedb/CrateDBContainer.java
  modules/db2/src/main/java/org/testcontainers/containers/Db2Container.java
  modules/elasticsearch/src/main/java/org/testcontainers/elasticsearch/ElasticsearchContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/BigQueryEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/BigtableEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/DatastoreEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/FirestoreEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/PubSubEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/SpannerEmulatorContainer.java
  modules/hivemq/src/main/java/org/testcontainers/hivemq/HiveMQContainer.java
  modules/influxdb/src/main/java/org/testcontainers/containers/InfluxDBContainer.java
  modules/k3s/src/main/java/org/testcontainers/k3s/K3sContainer.java
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
  modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java
  modules/mariadb/src/main/java/org/testcontainers/containers/MariaDBContainer.java
  modules/mongodb/src/main/java/org/testcontainers/containers/MongoDBContainer.java
  modules/mssqlserver/src/main/java/org/testcontainers/containers/MSSQLServerContainer.java
  modules/mysql/src/main/java/org/testcontainers/containers/MySQLContainer.java
  modules/neo4j/src/main/java/org/testcontainers/containers/Neo4jContainer.java
  modules/oracle-xe/src/main/java/org/testcontainers/containers/OracleContainer.java
  modules/orientdb/src/main/java/org/testcontainers/containers/OrientDBContainer.java
  modules/postgresql/src/main/java/org/testcontainers/containers/PostgreSQLContainer.java
  modules/pulsar/src/main/java/org/testcontainers/containers/PulsarContainer.java
  modules/questdb/src/main/java/org/testcontainers/containers/QuestDBContainer.java
  modules/rabbitmq/src/main/java/org/testcontainers/containers/RabbitMQContainer.java
  modules/redpanda/src/main/java/org/testcontainers/redpanda/RedpandaContainer.java
  modules/selenium/src/main/java/org/testcontainers/containers/BrowserWebDriverContainer.java
  modules/solace/src/main/java/org/testcontainers/solace/SolaceContainer.java
  modules/solr/src/main/java/org/testcontainers/containers/SolrContainer.java
  modules/tidb/src/main/java/org/testcontainers/tidb/TiDBContainer.java
  modules/toxiproxy/src/main/java/org/testcontainers/containers/ToxiproxyContainer.java
  modules/trino/src/main/java/org/testcontainers/containers/TrinoContainer.java
  modules/vault/src/main/java/org/testcontainers/vault/VaultContainer.java
  modules/yugabytedb/src/main/java/org/testcontainers/containers/YugabyteDBYCQLContainer.java
  modules/yugabytedb/src/main/java/org/testcontainers/containers/YugabyteDBYSQLContainer.java
Labels: type/housekeeping

#7431 Replace R2DBC Host by docker host ip address
  modules/r2dbc/src/main/java/org/testcontainers/r2dbc/R2DBCDatabaseContainerProvider.java
Labels: modules/r2dbc

#7421 Add interface to customize CreateContainerCmd
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/main/java/org/testcontainers/core/CreateContainerCmdModifier.java
  core/src/test/java/org/testcontainers/custom/TestCreateContainerCmdModifier.java
  core/src/test/java/org/testcontainers/junit/GenericContainerRuleTest.java
  core/src/test/resources/META-INF/services/org.testcontainers.core.CreateContainerCmdModifier
  docs/features/advanced_options.md
Labels: type/docs

#7447 Add docs to run Testcontainers using Podman
  docs/supported_docker_environment/index.md
Labels: type/docs
