Repository testcontainers/testcontainers-java, pull requests merged in 2023-09, with the labels that each got.

#7494 Combined dependencies PR
  .github/workflows/combine-prs.yml
  docs/examples/junit4/redis/build.gradle
  docs/examples/junit5/redis/build.gradle
  docs/examples/spock/redis/build.gradle
  examples/kafka-cluster/build.gradle
  examples/nats/build.gradle
  examples/neo4j-container/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/selenium-container/build.gradle
  examples/singleton-container/build.gradle
  examples/spring-boot/build.gradle
  modules/azure/build.gradle
  modules/couchbase/build.gradle
  modules/dynalite/build.gradle
  modules/elasticsearch/build.gradle
  modules/gcloud/build.gradle
  modules/hivemq/build.gradle
  modules/jdbc-test/build.gradle
  modules/jdbc/build.gradle
  modules/k3s/build.gradle
  modules/localstack/build.gradle
  modules/mariadb/build.gradle
  modules/mssqlserver/build.gradle
  modules/orientdb/build.gradle
  modules/pulsar/build.gradle
  modules/questdb/build.gradle
  modules/r2dbc/build.gradle
  modules/trino/build.gradle
Labels: modules/jdbc, modules/couchbase, modules/elasticsearch, dependencies, modules/r2dbc, github_actions, modules/localstack, modules/hivemq, modules/k3s, modules/pulsar, modules/gcloud, modules/azure, modules/dynalite, modules/mariadb, modules/sql-server, modules/orientdb, modules/trino, modules/questdb

#7496 Combined dependencies PR
  build.gradle
  docs/examples/spock/redis/build.gradle
  examples/hazelcast/build.gradle
  examples/immudb/build.gradle
  examples/kafka-cluster/build.gradle
  examples/linked-container/build.gradle
  examples/nats/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/sftp/build.gradle
  examples/singleton-container/build.gradle
  examples/zookeeper/build.gradle
  modules/jdbc/build.gradle
Labels: modules/jdbc, dependencies

#7500 Combined dependencies PR
  docs/examples/junit4/generic/build.gradle
  examples/cucumber/build.gradle
  examples/hazelcast/build.gradle
  modules/orientdb/build.gradle
  modules/selenium/build.gradle
Labels: modules/selenium, dependencies, modules/orientdb

#7455 Log image pull and container startup time independently
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/main/java/org/testcontainers/images/RemoteDockerImage.java
Labels: type/housekeeping

#7440 Adding MinIO module
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/dependabot.yml
  .github/labeler.yml
  docs/modules/minio.md
  mkdocs.yml
  modules/minio/build.gradle
  modules/minio/src/main/java/org/testcontainers/containers/MinIOContainer.java
  modules/minio/src/test/java/org/testcontainers/containers/MinIOContainerTest.java
  modules/minio/src/test/resources/logback-test.xml
  modules/minio/src/test/resources/object_to_upload.txt
Labels: type/docs, type/new module

#7519 Combined dependencies PR
  .github/workflows/ci-docker-wormhole.yml
  .github/workflows/ci-rootless.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update-docs-version.yml
  .github/workflows/update-gradle-wrapper.yml
  .github/workflows/update-testcontainers-version.yml
  core/build.gradle
  examples/linked-container/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/singleton-container/build.gradle
  modules/dynalite/build.gradle
  modules/elasticsearch/build.gradle
  modules/hivemq/build.gradle
  modules/junit-jupiter/build.gradle
  modules/localstack/build.gradle
  settings.gradle
Labels: modules/elasticsearch, modules/jupiter, dependencies, github_actions, modules/localstack, modules/hivemq, modules/dynalite

#7522 Override ChainedImageNameSubstitutor toString
  core/src/main/java/org/testcontainers/utility/ImageNameSubstitutor.java
  core/src/test/java/org/testcontainers/utility/ImageNameSubstitutorTest.java
Labels: type/enhancement

#7530 Use small image hazelcast/hazelcast:5.2.0-slim
  examples/hazelcast/src/test/java/org/testcontainers/examples/HazelcastTest.java
Labels: type/housekeeping

#7528 [Docs] GCloud: Add BigQuery Client creation
  docs/modules/gcloud.md
  modules/gcloud/src/test/java/org/testcontainers/containers/BigQueryEmulatorContainerTest.java
Labels: type/docs, modules/gcloud

#7576 Deprecate withSecretInVault
  modules/vault/src/main/java/org/testcontainers/vault/VaultContainer.java
  modules/vault/src/test/java/org/testcontainers/vault/VaultContainerTest.java
Labels: type/deprecation, modules/vault

#7584 Combined dependencies PR
  .github/workflows/combine-prs.yml
  core/build.gradle
  examples/cucumber/build.gradle
  examples/kafka-cluster/build.gradle
  examples/selenium-container/build.gradle
  examples/settings.gradle
  examples/solr-container/build.gradle
  examples/spring-boot/build.gradle
  modules/consul/build.gradle
  modules/couchbase/build.gradle
  modules/dynalite/build.gradle
  modules/elasticsearch/build.gradle
  modules/gcloud/build.gradle
  modules/hivemq/build.gradle
  modules/jdbc-test/build.gradle
  modules/jdbc/build.gradle
  modules/localstack/build.gradle
  modules/minio/build.gradle
  modules/mysql/build.gradle
  modules/orientdb/build.gradle
  modules/questdb/build.gradle
  modules/r2dbc/build.gradle
  modules/redpanda/build.gradle
  modules/trino/build.gradle
  modules/vault/build.gradle
  settings.gradle
Labels: modules/jdbc, modules/couchbase, modules/elasticsearch, dependencies, modules/r2dbc, github_actions, modules/localstack, modules/hivemq, modules/gcloud, modules/dynalite, modules/mysql, modules/orientdb, modules/trino, modules/vault, modules/consul, modules/redpanda, modules/questdb, modules/minio

#7534 Update guava version to 32.1.2-jre
  build.gradle
  core/build.gradle
Labels: dependencies

#7577 Add section for dependency upgrades in PR template
  .github/pull_request_template.md
Labels: type/docs

#7586 Skip CI workflows when GH files are modified
  .github/workflows/ci-docker-wormhole.yml
  .github/workflows/ci-rootless.yml
  .github/workflows/ci.yml
Labels: type/housekeeping, github_actions

#7587 Combined dependencies PR
  docs/examples/junit4/generic/build.gradle
  examples/cucumber/build.gradle
  examples/settings.gradle
  modules/selenium/build.gradle
  settings.gradle
Labels: modules/selenium, dependencies

#7520 Allow to define a custom ImagePullPolicy via configuration
  core/src/main/java/org/testcontainers/images/PullPolicy.java
  core/src/main/java/org/testcontainers/images/RemoteDockerImage.java
  core/src/main/java/org/testcontainers/utility/TestcontainersConfiguration.java
  core/src/test/java/org/testcontainers/images/OverrideImagePullPolicyTest.java
  core/src/test/java/org/testcontainers/utility/FakeImagePullPolicy.java
  docs/features/advanced_options.md
Labels: type/docs, type/enhancement

#4661 Add docs for `copyFile` API
  core/src/test/java/org/testcontainers/containers/GenericContainerTest.java
  core/src/test/java/org/testcontainers/junit/CopyFileToContainerTest.java
  docs/features/files.md
Labels: type/docs

#7591 Proposing Update to index.md - Env Settings for Rancher Desktop
  docs/supported_docker_environment/index.md
Labels: type/docs

#7594 Additional listener should inherit the configured authentication method
  modules/redpanda/src/main/java/org/testcontainers/redpanda/RedpandaContainer.java
  modules/redpanda/src/main/resources/testcontainers/redpanda.yaml.ftl
  modules/redpanda/src/test/java/org/testcontainers/redpanda/RedpandaContainerTest.java
Labels: type/bug, modules/redpanda

#7588 Deprecate CLI utility methods in RabbitMQ module
  modules/rabbitmq/src/main/java/org/testcontainers/containers/RabbitMQContainer.java
Labels: type/deprecation, modules/rabbitmq
