Repository testcontainers/testcontainers-java, pull requests merged in 2023-11, with the labels that each got.

#7751 Update PR template with more specific wording
  .github/pull_request_template.md
Labels: type/docs

#7749 Introducing Oracle Free module
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/dependabot.yml
  .github/labeler.yml
  docs/modules/databases/oraclefree.md
  modules/oracle-free/build.gradle
  modules/oracle-free/src/main/java/org/testcontainers/oracle/OracleContainer.java
  modules/oracle-free/src/main/java/org/testcontainers/oracle/OracleContainerProvider.java
  modules/oracle-free/src/main/java/org/testcontainers/oracle/OracleR2DBCDatabaseContainer.java
  modules/oracle-free/src/main/java/org/testcontainers/oracle/OracleR2DBCDatabaseContainerProvider.java
  modules/oracle-free/src/main/resources/META-INF/services/org.testcontainers.containers.JdbcDatabaseContainerProvider
  modules/oracle-free/src/test/java/org/testcontainers/junit/oracle/SimpleOracleTest.java
  modules/oracle-free/src/test/java/org/testcontainers/oracle/jdbc/OracleJDBCDriverTest.java
  modules/oracle-free/src/test/java/org/testcontainers/oracle/r2dbc/OracleR2DBCDatabaseContainerTest.java
  modules/oracle-free/src/test/resources/logback-test.xml
Labels: type/docs, type/new module

#7763 Add examples enabling SASL with JAAS in Kafka
  modules/kafka/src/test/java/org/testcontainers/containers/KafkaContainerTest.java
Labels: modules/kafka

#7776 Restore configureKraft and configureZookeeper
  modules/kafka/build.gradle
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
Labels: type/housekeeping, modules/kafka

#7777 Support Elastisearch image from DockerHub
  modules/elasticsearch/src/main/java/org/testcontainers/elasticsearch/ElasticsearchContainer.java
  modules/elasticsearch/src/test/java/org/testcontainers/elasticsearch/ElasticsearchContainerTest.java
Labels: modules/elasticsearch, type/enhancement

#7790 Enable HTTP and HTTPS on native for HttpWaitStrategy
  core/src/main/resources/META-INF/native-image/org.testcontainers/testcontainers/native-image.properties
Labels: type/enhancement

#7806 Fix Oracle Free docs
  mkdocs.yml
Labels: type/docs, modules/oracle

#7784 Changed YSQL wait strategy in YugabyteDB module
  modules/yugabytedb/src/main/java/org/testcontainers/containers/YugabyteDBYSQLContainer.java
  modules/yugabytedb/src/main/java/org/testcontainers/containers/delegate/YugabyteDBYCQLDelegate.java
  modules/yugabytedb/src/main/java/org/testcontainers/containers/strategy/YugabyteDBYCQLWaitStrategy.java
  modules/yugabytedb/src/main/java/org/testcontainers/containers/strategy/YugabyteDBYSQLWaitStrategy.java
  modules/yugabytedb/src/test/java/org/testcontainers/junit/yugabytedb/YugabyteDBYCQLTest.java
  modules/yugabytedb/src/test/java/org/testcontainers/junit/yugabytedb/YugabyteDBYSQLTest.java
Labels: type/enhancement, modules/yugabytedb

#7807 Combined dependencies PR
  .github/workflows/combine-prs.yml
  core/build.gradle
  docs/examples/junit5/redis/build.gradle
  examples/cucumber/build.gradle
  examples/hazelcast/build.gradle
  examples/immudb/build.gradle
  examples/kafka-cluster/build.gradle
  examples/nats/build.gradle
  examples/neo4j-container/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/selenium-container/build.gradle
  examples/sftp/build.gradle
  examples/singleton-container/build.gradle
  examples/solr-container/build.gradle
  examples/spring-boot/build.gradle
  examples/zookeeper/build.gradle
  modules/azure/build.gradle
  modules/dynalite/build.gradle
  modules/elasticsearch/build.gradle
  modules/gcloud/build.gradle
  modules/hivemq/build.gradle
  modules/junit-jupiter/build.gradle
  modules/k3s/build.gradle
  modules/localstack/build.gradle
  modules/mariadb/build.gradle
  modules/minio/build.gradle
  modules/mongodb/build.gradle
  modules/mssqlserver/build.gradle
  modules/oracle-free/build.gradle
  modules/oracle-xe/build.gradle
  modules/orientdb/build.gradle
  modules/pulsar/build.gradle
  modules/questdb/build.gradle
  modules/rabbitmq/build.gradle
  modules/spock/build.gradle
  modules/trino/build.gradle
Labels: modules/spock, modules/elasticsearch, modules/jupiter, dependencies, modules/mongodb, github_actions, modules/localstack, modules/hivemq, modules/k3s, modules/rabbitmq, modules/pulsar, modules/gcloud, modules/azure, modules/dynalite, modules/mariadb, modules/sql-server, modules/oracle, modules/orientdb, modules/trino, modules/questdb, modules/minio

#7809 Combined dependencies PR
  docs/examples/junit4/generic/build.gradle
  docs/examples/junit5/redis/build.gradle
  examples/hazelcast/build.gradle
  modules/elasticsearch/build.gradle
Labels: modules/elasticsearch, dependencies

#7810 Combined dependencies PR
  docs/examples/junit5/redis/build.gradle
  modules/spock/build.gradle
Labels: modules/spock, dependencies

#7811 Keep exposed ports order in ContainerDef
  core/src/main/java/org/testcontainers/containers/ContainerDef.java
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
Labels: type/bug

#7818 Fix bugs in SQL`ScriptScanner` with big String literals and PostgreSQL identifiers (as introduced by #7646)
  modules/database-commons/src/main/java/org/testcontainers/ext/ScriptScanner.java
  modules/database-commons/src/test/java/org/testcontainers/ext/ScriptScannerTest.java
Labels: type/bug

#7820 Fix regression using GenericContainer#setImage
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/test/java/org/testcontainers/containers/GenericContainerTest.java
Labels: type/bug

#7822 YCQL driver update
  modules/yugabytedb/build.gradle
  modules/yugabytedb/src/test/java/org/testcontainers/junit/yugabytedb/YugabyteDBYCQLTest.java
Labels: type/test-improvement, modules/yugabytedb

#7861 Register default network alias using ContainerDef
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/test/java/org/testcontainers/containers/GenericContainerTest.java
Labels: type/bug

#7894 Add mikepenz/action-junit-report
  .github/actions/setup-junit-report/action.yml
  .github/workflows/ci-rootless.yml
  .github/workflows/ci.yml
Labels: github_actions

#4357 Selenium: increase default startup timeout to 60 seconds
  modules/selenium/src/main/java/org/testcontainers/containers/BrowserWebDriverContainer.java
Labels: modules/selenium

#7313 Add the ability to specify an image's platform.
  core/src/main/java/org/testcontainers/images/builder/ImageFromDockerfile.java
  core/src/test/java/org/testcontainers/containers/MultiStageBuildTest.java
Labels: type/enhancement

#7816 Add support for workdir and env var in exec command
  core/build.gradle
  core/src/main/java/org/testcontainers/containers/ContainerState.java
  core/src/main/java/org/testcontainers/containers/ExecConfig.java
  core/src/main/java/org/testcontainers/containers/ExecInContainerPattern.java
  core/src/test/java/org/testcontainers/junit/ExecInContainerTest.java
  core/src/test/java/org/testcontainers/junit/GenericContainerRuleTest.java
Labels: type/enhancement

#4574 Deprecate support for docker.elastic.co/elasticsearch/elasticsearch-oss
  docs/modules/elasticsearch.md
  modules/elasticsearch/src/main/java/org/testcontainers/elasticsearch/ElasticsearchContainer.java
  modules/elasticsearch/src/test/java/org/testcontainers/elasticsearch/ElasticsearchContainerTest.java
Labels: type/docs, modules/elasticsearch, type/deprecation
