Repository testcontainers/testcontainers-java, pull requests merged in 2023-03, with the labels that each got.

#6723 Combined dependencies PR
  .github/workflows/release-drafter.yml
  .github/workflows/update-gradle-wrapper.yml
  build.gradle
  docs/examples/junit4/redis/build.gradle
  docs/examples/junit5/redis/build.gradle
  docs/examples/spock/redis/build.gradle
  examples/hazelcast/build.gradle
  examples/linked-container/build.gradle
  examples/neo4j-container/build.gradle
  examples/selenium-container/build.gradle
  examples/spring-boot-kotlin-redis/build.gradle
  examples/spring-boot/build.gradle
  modules/cockroachdb/build.gradle
  modules/dynalite/build.gradle
  modules/elasticsearch/build.gradle
  modules/gcloud/build.gradle
  modules/hivemq/build.gradle
  modules/jdbc/build.gradle
  modules/junit-jupiter/build.gradle
  modules/localstack/build.gradle
  modules/mariadb/build.gradle
  modules/postgresql/build.gradle
  modules/questdb/build.gradle
  modules/r2dbc/build.gradle
  modules/selenium/build.gradle
  modules/solace/build.gradle
  modules/spock/build.gradle
Labels: modules/jdbc, modules/selenium, modules/spock, modules/elasticsearch, modules/jupiter, dependencies, modules/r2dbc, github_actions, modules/localstack, modules/hivemq, modules/gcloud, modules/cockroachdb, modules/dynalite, modules/mariadb, modules/postgres, modules/questdb, modules/solace

#6721 Update auto-service version to 1.0.1
  modules/mariadb/build.gradle
  modules/mssqlserver/build.gradle
  modules/mysql/build.gradle
  modules/postgresql/build.gradle
  modules/r2dbc/build.gradle
Labels: modules/r2dbc, modules/mariadb, modules/mysql, modules/sql-server, modules/postgres

#6724 Combined dependencies PR
  docs/examples/junit4/generic/build.gradle
  examples/linked-container/build.gradle
  modules/azure/build.gradle
  modules/gcloud/build.gradle
  modules/localstack/build.gradle
  modules/r2dbc/build.gradle
  modules/trino/build.gradle
Labels: dependencies, modules/r2dbc, modules/localstack, modules/gcloud, modules/azure, modules/trino

#6668 #6667: reset network creation state if network creation fails.
  core/src/main/java/org/testcontainers/containers/Network.java
Labels: type/enhancement

#6732 Update ubuntu images
  .github/workflows/ci-docker-wormhole.yml
  .github/workflows/ci-examples.yml
  .github/workflows/ci-rootless.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update-docs-version.yml
  .github/workflows/update-testcontainers-version.yml
Labels: type/housekeeping, github_actions

#6733 Update java-version to 8 - latest
  .github/workflows/ci-examples.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: type/housekeeping, github_actions

#6735 Ignore snakeyaml major version update
  .github/dependabot.yml
Labels: type/housekeeping

#6771 Use existing rootless-docker GHA for rootless CI
  .github/workflows/ci-docker-wormhole.yml
  .github/workflows/ci-examples.yml
  .github/workflows/ci-rootless.yml
  .github/workflows/ci.yml
Labels: type/housekeeping, github_actions

#6658 [junit-jupiter] Add parallel attribute to `@Testcontainers`
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/Testcontainers.java
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/TestcontainersExtension.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/JUnitJupiterTestImages.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/ParallelExecutionTests.java
Labels: type/feature, modules/jupiter

#5623 Add Jib integration
  core/build.gradle
  core/src/main/java/org/testcontainers/jib/JibDockerClient.java
  core/src/main/java/org/testcontainers/jib/JibImage.java
  core/src/main/java/org/testcontainers/jib/JibImageDetails.java
  core/src/test/java/org/testcontainers/containers/JibTest.java
  docs/features/jib.md
  mkdocs.yml
Labels: type/docs, type/feature

#6727 Add sharding support to MongoDBContainer
  modules/mongodb/src/main/java/org/testcontainers/containers/MongoDBContainer.java
  modules/mongodb/src/main/resources/sharding.sh
  modules/mongodb/src/test/java/org/testcontainers/containers/MongoDBContainerTest.java
Labels: type/feature, modules/mongodb

#6781 Add `tc.` prefix to container logger names
  core/src/main/java/org/testcontainers/utility/DockerLoggerFactory.java
  core/src/test/java/org/testcontainers/utility/DockerLoggerFactoryTest.java
  core/src/test/resources/logback-test.xml
  docs/supported_docker_environment/logging_config.md
Labels: type/docs, type/enhancement

#6782 Update testcontainers/ryuk version to 0.4.0
  core/src/main/java/org/testcontainers/utility/RyukContainer.java
Labels: dependencies

#6788 Update Redpanda image
  docs/modules/redpanda.md
  modules/redpanda/src/main/java/org/testcontainers/redpanda/RedpandaContainer.java
  modules/redpanda/src/test/java/org/testcontainers/redpanda/RedpandaContainerTest.java
Labels: type/docs, type/housekeeping, modules/redpanda

#6791 Fix typo in docs - Streamlio description
  docs/index.md
Labels: type/docs

#6795 Deprecate VaultContainer#withLogLevel
  modules/vault/src/main/java/org/testcontainers/vault/VaultContainer.java
Labels: type/deprecation, modules/vault

#6796 Accept `hashicorp/vault` image
  modules/vault/src/main/java/org/testcontainers/vault/VaultContainer.java
  modules/vault/src/test/java/org/testcontainers/vault/VaultContainerTest.java
Labels: type/housekeeping, modules/vault

#6797 Accept `hashicorp/consul` image
  modules/consul/src/main/java/org/testcontainers/consul/ConsulContainer.java
  modules/consul/src/test/java/org/testcontainers/consul/ConsulContainerTest.java
  modules/consul/src/test/java/org/testcontainers/consul/ConsulTestImages.java
Labels: type/housekeeping, modules/consul

#6806 Reorder docs language links
  docs/index.md
Labels: type/docs

#6809 Do not trigger CI workflows when docs are modified
  .github/workflows/ci-docker-wormhole.yml
  .github/workflows/ci-examples.yml
  .github/workflows/ci-rootless.yml
  .github/workflows/ci.yml
Labels: type/housekeeping, github_actions

#6384 Improve startup wait checks
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/main/java/org/testcontainers/containers/startupcheck/IsRunningStartupCheckStrategy.java
  core/src/main/java/org/testcontainers/containers/wait/strategy/HostPortWaitStrategy.java
  core/src/test/java/org/testcontainers/containers/GenericContainerTest.java
  core/src/test/java/org/testcontainers/containers/startupcheck/IsRunningStartupCheckStrategyTest.java
  docs/features/startup_and_waits.md
Labels: type/docs, type/enhancement

#6811 Allow jib-core dependency in checkPOMdependencies
  core/build.gradle
Labels: type/housekeeping

#6832 Add Quarkus to the list of projects using testcontainers
  docs/index.md
Labels: type/docs

#6808 Add support for LocalStack v2
  modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/LocalstackContainerTest.java
Labels: modules/localstack

#6836 Accept localstack/localstack-pro image name
  modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java
Labels: modules/localstack

#6790 Add CrateDB testcontainers
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/dependabot.yml
  .github/labeler.yml
  .github/settings.yml
  docs/modules/databases/cratedb.md
  docs/modules/databases/jdbc.md
  mkdocs.yml
  modules/cratedb/build.gradle
  modules/cratedb/src/main/java/org/testcontainers/cratedb/CrateDBContainer.java
  modules/cratedb/src/main/java/org/testcontainers/cratedb/CrateDBContainerProvider.java
  modules/cratedb/src/main/resources/META-INF/services/org.testcontainers.containers.JdbcDatabaseContainerProvider
  modules/cratedb/src/test/java/org/testcontainers/CrateDBTestImages.java
  modules/cratedb/src/test/java/org/testcontainers/jdbc/cratedb/CrateDBJDBCDriverTest.java
  modules/cratedb/src/test/java/org/testcontainers/junit/cratedb/SimpleCrateDBTest.java
  modules/cratedb/src/test/resources/logback-test.xml
  modules/cratedb/src/test/resources/somepath/init_cratedb.sql
Labels: type/docs, type/new module
