Repository testcontainers/testcontainers-java, pull requests merged in 2023-07, with the labels that each got.

#7289 Combined dependencies PR
  .github/workflows/combine-prs.yml
  .github/workflows/release-drafter.yml
  .github/workflows/update-docs-version.yml
  .github/workflows/update-testcontainers-version.yml
  build.gradle
  core/build.gradle
  docs/examples/junit4/generic/build.gradle
  docs/examples/junit5/redis/build.gradle
  docs/examples/spock/redis/build.gradle
  examples/hazelcast/build.gradle
  examples/immudb/build.gradle
  examples/kafka-cluster/build.gradle
  examples/linked-container/build.gradle
  examples/nats/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/selenium-container/build.gradle
  examples/settings.gradle
  examples/sftp/build.gradle
  examples/singleton-container/build.gradle
  examples/solr-container/build.gradle
  examples/spring-boot/build.gradle
  examples/zookeeper/build.gradle
  modules/azure/build.gradle
  modules/cassandra/build.gradle
  modules/consul/build.gradle
  modules/couchbase/build.gradle
  modules/dynalite/build.gradle
  modules/elasticsearch/build.gradle
  modules/gcloud/build.gradle
  modules/hivemq/build.gradle
  modules/influxdb/build.gradle
  modules/jdbc-test/build.gradle
  modules/jdbc/build.gradle
  modules/junit-jupiter/build.gradle
  modules/k3s/build.gradle
  modules/kafka/build.gradle
  modules/localstack/build.gradle
  modules/mariadb/build.gradle
  modules/mongodb/build.gradle
  modules/mssqlserver/build.gradle
  modules/mysql/build.gradle
  modules/neo4j/build.gradle
  modules/oracle-xe/build.gradle
  modules/orientdb/build.gradle
  modules/postgresql/build.gradle
  modules/questdb/build.gradle
  modules/r2dbc/build.gradle
  modules/rabbitmq/build.gradle
  modules/redpanda/build.gradle
  modules/solace/build.gradle
  modules/solr/build.gradle
  modules/spock/build.gradle
  modules/tidb/build.gradle
  modules/trino/build.gradle
  modules/vault/build.gradle
  modules/yugabytedb/build.gradle
  settings.gradle
Labels: modules/jdbc, modules/spock, modules/influx, modules/couchbase, modules/kafka, modules/elasticsearch, modules/jupiter, dependencies, modules/r2dbc, modules/mongodb, github_actions, modules/neo4j, modules/localstack, modules/hivemq, modules/k3s, modules/rabbitmq, modules/gcloud, modules/azure, modules/cassandra, modules/dynalite, modules/mariadb, modules/mysql, modules/sql-server, modules/oracle, modules/orientdb, modules/postgres, modules/solr, modules/trino, modules/vault, modules/tidb, modules/consul, modules/redpanda, modules/questdb, modules/solace, modules/yugabytedb

#7290 Combined dependencies PR
  .github/workflows/update-gradle-wrapper.yml
  core/build.gradle
  modules/elasticsearch/build.gradle
  modules/jdbc-test/build.gradle
  settings.gradle
Labels: modules/elasticsearch, dependencies, github_actions

#7292 Combined dependencies PR
  core/build.gradle
  docs/examples/junit4/generic/build.gradle
  docs/examples/junit5/redis/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  modules/hivemq/build.gradle
  modules/orientdb/build.gradle
  modules/spock/build.gradle
  modules/trino/build.gradle
Labels: modules/spock, dependencies, modules/hivemq, modules/orientdb, modules/trino

#7295 Use testRuntimeOnly for JDBC/R2DBC drivers
  docs/examples/junit4/generic/build.gradle
  examples/linked-container/build.gradle
  modules/clickhouse/build.gradle
  modules/cockroachdb/build.gradle
  modules/cratedb/build.gradle
  modules/db2/build.gradle
  modules/mariadb/build.gradle
  modules/mssqlserver/build.gradle
  modules/mysql/build.gradle
  modules/oracle-xe/build.gradle
  modules/postgresql/build.gradle
  modules/presto/build.gradle
  modules/questdb/build.gradle
  modules/tidb/build.gradle
  modules/trino/build.gradle
  modules/yugabytedb/build.gradle
Labels: type/housekeeping, modules/clickhouse, modules/cockroachdb, modules/db2, modules/mariadb, modules/mysql, modules/sql-server, modules/oracle, modules/presto, modules/postgres, modules/trino, modules/tidb, modules/questdb, modules/yugabytedb, modules/cratedb

#7238 Fix MSSQL's default username
  modules/mssqlserver/src/main/java/org/testcontainers/containers/MSSQLServerContainer.java
Labels: type/bug, modules/sql-server

#6319 SnakeYaml SafeConstructor restricting deserialization
  core/src/main/java/org/testcontainers/containers/ParsedDockerComposeFile.java
  core/src/test/java/org/testcontainers/containers/ParsedDockerComposeFileBean.java
  core/src/test/java/org/testcontainers/containers/ParsedDockerComposeFileValidationTest.java
  core/src/test/resources/docker-compose-deserialization.yml
Labels: security

#7303 Update docker-java version to 3.3.2
  core/build.gradle
Labels: dependencies

#7308 Polish tests in hivemq module
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithControlCenterIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithCustomConfigIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithExtensionFromDirectoryIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithExtensionIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithExtensionSubclassIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithFileInExtensionHomeIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithFileInHomeIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithLicenseIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/ContainerWithoutPlatformExtensionsIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/CreateFileInCopiedDirectoryIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/CreateFileInExtensionDirectoryIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/DisableEnableExtensionFromDirectoryIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/DisableEnableExtensionIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/docs/DemoDisableExtensionsIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/docs/DemoExtensionTestsIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/docs/DemoFilesIT.java
  modules/hivemq/src/test/java/org/testcontainers/hivemq/docs/DemoHiveMQContainerIT.java
Labels: type/housekeeping, modules/hivemq

#7316 Polish reuse documentation
  docs/features/reuse.md
Labels: type/docs

#6802 Add JavaDoc to Spock's Testcontainers annotation
  modules/spock/src/main/groovy/org/testcontainers/spock/Testcontainers.groovy
Labels: modules/spock

#7318 Generate javadoc artifact for spock module
  modules/spock/build.gradle
Labels: type/housekeeping, modules/spock

#7317 Fix javadoc warnings
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  modules/clickhouse/src/main/java/org/testcontainers/containers/ClickHouseContainer.java
  modules/cockroachdb/src/main/java/org/testcontainers/containers/CockroachContainer.java
  modules/couchbase/src/main/java/org/testcontainers/couchbase/CouchbaseContainer.java
  modules/db2/src/main/java/org/testcontainers/containers/Db2Container.java
  modules/dynalite/src/main/java/org/testcontainers/dynamodb/DynaliteContainer.java
  modules/elasticsearch/src/main/java/org/testcontainers/elasticsearch/ElasticsearchContainer.java
  modules/influxdb/src/main/java/org/testcontainers/containers/InfluxDBContainer.java
  modules/jdbc/src/main/java/org/testcontainers/containers/JdbcDatabaseContainer.java
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/Testcontainers.java
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
  modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java
  modules/mariadb/src/main/java/org/testcontainers/containers/MariaDBContainer.java
  modules/mockserver/src/main/java/org/testcontainers/containers/MockServerContainer.java
  modules/mongodb/src/main/java/org/testcontainers/containers/MongoDBContainer.java
  modules/mssqlserver/src/main/java/org/testcontainers/containers/MSSQLServerContainer.java
  modules/mysql/src/main/java/org/testcontainers/containers/MySQLContainer.java
  modules/neo4j/src/main/java/org/testcontainers/containers/Neo4jContainer.java
  modules/nginx/src/main/java/org/testcontainers/containers/NginxContainer.java
  modules/oracle-xe/src/main/java/org/testcontainers/containers/OracleContainer.java
  modules/orientdb/src/main/java/org/testcontainers/containers/OrientDBContainer.java
  modules/presto/src/main/java/org/testcontainers/containers/PrestoContainer.java
  modules/pulsar/src/main/java/org/testcontainers/containers/PulsarContainer.java
  modules/rabbitmq/src/main/java/org/testcontainers/containers/RabbitMQContainer.java
  modules/solr/src/main/java/org/testcontainers/containers/SolrContainer.java
  modules/toxiproxy/src/main/java/org/testcontainers/containers/ToxiproxyContainer.java
  modules/vault/src/main/java/org/testcontainers/vault/VaultContainer.java
Labels: modules/jdbc, modules/influx, modules/couchbase, modules/kafka, modules/elasticsearch, modules/jupiter, modules/mongodb, modules/neo4j, modules/localstack, modules/rabbitmq, modules/pulsar, modules/clickhouse, modules/toxiproxy, modules/cockroachdb, modules/db2, modules/dynalite, modules/mariadb, modules/mockserver, modules/mysql, modules/sql-server, modules/nginx, modules/oracle, modules/orientdb, modules/presto, modules/solr, modules/vault

#7319 Enable Ryuk as a privileged container by default
  core/src/main/java/org/testcontainers/utility/TestcontainersConfiguration.java
  docs/features/configuration.md
Labels: type/docs, type/enhancement

#7327 Support String image in Bigtable, Firestore, PubSub, Spanner
  modules/gcloud/src/main/java/org/testcontainers/containers/BigtableEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/FirestoreEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/PubSubEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/SpannerEmulatorContainer.java
Labels: type/enhancement, modules/gcloud

#7328 Expose getProjectId in DatastoreEmulatorContainer
  modules/gcloud/src/main/java/org/testcontainers/containers/DatastoreEmulatorContainer.java
  modules/gcloud/src/test/java/org/testcontainers/containers/DatastoreEmulatorContainerTest.java
Labels: type/enhancement, modules/gcloud

#7324 Add BigQueryEmulatorContainer
  docs/modules/gcloud.md
  modules/gcloud/build.gradle
  modules/gcloud/src/main/java/org/testcontainers/containers/BigQueryEmulatorContainer.java
  modules/gcloud/src/test/java/org/testcontainers/containers/BigQueryEmulatorContainerTest.java
Labels: type/docs, modules/gcloud

#7339 Fix javadoc for RabbitMQContainer
  modules/rabbitmq/src/main/java/org/testcontainers/containers/RabbitMQContainer.java
Labels: type/housekeeping, modules/rabbitmq
