Repository testcontainers/testcontainers-java, pull requests merged in 2023-12, with the labels that each got.

#7901 Fix MinIO wait strategy
  modules/minio/src/main/java/org/testcontainers/containers/MinIOContainer.java
Labels: type/bug, modules/minio

#7955 Combined dependencies PR
  .github/workflows/combine-prs.yml
  .github/workflows/labeler.yml
  core/build.gradle
  docs/examples/junit4/generic/build.gradle
  docs/examples/junit4/redis/build.gradle
  docs/examples/junit5/redis/build.gradle
  docs/examples/spock/redis/build.gradle
  examples/cucumber/build.gradle
  examples/kafka-cluster/build.gradle
  examples/linked-container/build.gradle
  examples/selenium-container/build.gradle
  examples/settings.gradle
  examples/spring-boot/build.gradle
  modules/azure/build.gradle
  modules/cockroachdb/build.gradle
  modules/consul/build.gradle
  modules/couchbase/build.gradle
  modules/cratedb/build.gradle
  modules/db2/build.gradle
  modules/dynalite/build.gradle
  modules/gcloud/build.gradle
  modules/hivemq/build.gradle
  modules/influxdb/build.gradle
  modules/jdbc-test/build.gradle
  modules/jdbc/build.gradle
  modules/junit-jupiter/build.gradle
  modules/kafka/build.gradle
  modules/localstack/build.gradle
  modules/mariadb/build.gradle
  modules/mssqlserver/build.gradle
  modules/mysql/build.gradle
  modules/nginx/build.gradle
  modules/oracle-free/build.gradle
  modules/oracle-xe/build.gradle
  modules/orientdb/build.gradle
  modules/postgresql/build.gradle
  modules/presto/build.gradle
  modules/questdb/build.gradle
  modules/rabbitmq/build.gradle
  modules/redpanda/build.gradle
  modules/selenium/build.gradle
  modules/spock/build.gradle
  modules/tidb/build.gradle
  modules/trino/build.gradle
  modules/vault/build.gradle
  modules/yugabytedb/build.gradle
  settings.gradle
Labels: modules/jdbc, modules/selenium, modules/spock, modules/influx, modules/couchbase, modules/kafka, modules/jupiter, dependencies, github_actions, modules/localstack, modules/hivemq, modules/rabbitmq, modules/gcloud, modules/azure, modules/cockroachdb, modules/db2, modules/dynalite, modules/mariadb, modules/mysql, modules/sql-server, modules/nginx, modules/oracle, modules/orientdb, modules/presto, modules/postgres, modules/trino, modules/vault, modules/tidb, modules/consul, modules/redpanda, modules/questdb, modules/cratedb, modules/yugabytedb

#7957 Combined dependencies PR
  build.gradle
  core/build.gradle
  docs/examples/spock/redis/build.gradle
  examples/hazelcast/build.gradle
  examples/immudb/build.gradle
  examples/kafka-cluster/build.gradle
  examples/linked-container/build.gradle
  examples/nats/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/sftp/build.gradle
  examples/singleton-container/build.gradle
  examples/zookeeper/build.gradle
  modules/elasticsearch/build.gradle
  modules/hivemq/build.gradle
  modules/jdbc/build.gradle
  modules/orientdb/build.gradle
  modules/r2dbc/build.gradle
  modules/trino/build.gradle
  settings.gradle
Labels: modules/jdbc, modules/elasticsearch, dependencies, modules/r2dbc, modules/hivemq, modules/orientdb, modules/trino

#7990 Added note about Node.js being required for ./gradlew spotlessApply
  docs/contributing.md
Labels: type/docs
