Repository testcontainers/testcontainers-java, pull requests merged in 2024-08, with the labels that each got.

#9060 Check if docker-compose is available
  core/src/test/java/org/testcontainers/containers/DockerComposeProfilesOptionTest.java
  core/src/test/java/org/testcontainers/junit/DockerComposeContainerWithOptionsTest.java
Labels: area/docker-compose

#9069 Check if docker is available
  core/src/test/java/org/testcontainers/containers/ComposeProfilesOptionTest.java
  core/src/test/java/org/testcontainers/junit/ComposeContainerWithOptionsTest.java
Labels: area/docker-compose

#8870 Improve docs for Elasticsearch 8
  docs/modules/elasticsearch.md
  modules/elasticsearch/src/test/java/org/testcontainers/elasticsearch/ElasticsearchContainerTest.java
Labels: type/docs, modules/elasticsearch

#9076 Add workflow to test Docker Desktop for Windows
  .github/workflows/ci-windows.yml
  core/src/test/java/org/testcontainers/containers/DockerComposeOverridesTest.java
Labels: area/docker-compose, github_actions

#9077 Set MariaDB user when is not root
  modules/mariadb/src/main/java/org/testcontainers/containers/MariaDBContainer.java
  modules/mariadb/src/test/java/org/testcontainers/junit/mariadb/SimpleMariaDBTest.java
Labels: modules/mariadb

#8779 Add Timeplus module
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/dependabot.yml
  .github/labeler.yml
  .github/settings.yml
  docs/modules/databases/jdbc.md
  docs/modules/databases/timeplus.md
  mkdocs.yml
  modules/timeplus/build.gradle
  modules/timeplus/src/main/java/org/testcontainers/timeplus/TimeplusContainer.java
  modules/timeplus/src/main/java/org/testcontainers/timeplus/TimeplusContainerProvider.java
  modules/timeplus/src/main/resources/META-INF/services/org.testcontainers.containers.JdbcDatabaseContainerProvider
  modules/timeplus/src/test/java/org/testcontainers/TimeplusImages.java
  modules/timeplus/src/test/java/org/testcontainers/junit/timeplus/TimeplusJDBCDriverTest.java
  modules/timeplus/src/test/java/org/testcontainers/timeplus/TimeplusContainerTest.java
  modules/timeplus/src/test/resources/logback-test.xml
Labels: type/docs, type/new module, github_actions

#9118 Fix missing null check for JDBC init script
  modules/jdbc/src/main/java/org/testcontainers/containers/JdbcDatabaseContainer.java
  modules/postgresql/src/test/java/org/testcontainers/junit/postgresql/SimplePostgreSQLTest.java
Labels: type/bug, modules/jdbc, modules/postgres

#8775 Improve GitLab docs
  docs/supported_docker_environment/continuous_integration/gitlab_ci.md
Labels: type/docs

#9138 Add on-demand execution on windows
  .github/workflows/ci-windows-trigger.yml
  .github/workflows/ci-windows.yml
Labels: github_actions

#9139 Add ConfluentKafkaContainer
  docs/modules/kafka.md
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
  modules/kafka/src/main/java/org/testcontainers/kafka/ConfluentKafkaContainer.java
  modules/kafka/src/main/java/org/testcontainers/kafka/KafkaHelper.java
  modules/kafka/src/test/java/org/testcontainers/KCatContainer.java
  modules/kafka/src/test/java/org/testcontainers/kafka/ConfluentKafkaContainerTest.java
Labels: type/docs, modules/kafka

#9142 Support adding new listeners to Apache Kafka
  docs/modules/kafka.md
  modules/kafka/src/main/java/org/testcontainers/kafka/KafkaContainer.java
  modules/kafka/src/test/java/org/testcontainers/kafka/CompatibleApacheKafkaImageTest.java
  modules/kafka/src/test/java/org/testcontainers/kafka/KafkaContainerTest.java
Labels: type/docs, modules/kafka, type/enhancement

#9144 Do not use network aliases in KAFKA_CONTROLLER_QUORUM_VOTERS
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
  modules/kafka/src/main/java/org/testcontainers/kafka/ConfluentKafkaContainer.java
  modules/kafka/src/main/java/org/testcontainers/kafka/KafkaContainer.java
Labels: type/bug, modules/kafka

#9145 Improve test logging in examples and smoke-test
  examples/build.gradle
  smoke-test/build.gradle
Labels: type/housekeeping
