Repository testcontainers/testcontainers-java, pull requests merged in 2024-03, with the labels that each got.

#8369 Add Ollama module
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/dependabot.yml
  .github/labeler.yml
  .github/settings.yml
  docs/modules/ollama.md
  mkdocs.yml
  modules/ollama/build.gradle
  modules/ollama/src/main/java/org/testcontainers/ollama/OllamaContainer.java
  modules/ollama/src/test/java/org/testcontainers/ollama/OllamaContainerTest.java
  modules/ollama/src/test/resources/logback-test.xml
Labels: type/docs, type/new module

#8417 Improve Ollama docs
  docs/modules/ollama.md
  modules/ollama/src/test/java/org/testcontainers/ollama/OllamaContainerTest.java
Labels: type/docs, modules/ollama

#7991 Enable lazy certificates for Elasticsearch
  modules/elasticsearch/build.gradle
  modules/elasticsearch/src/main/java/org/testcontainers/elasticsearch/ElasticsearchContainer.java
  modules/elasticsearch/src/test/java/org/testcontainers/elasticsearch/ElasticsearchContainerTest.java
Labels: type/housekeeping, modules/elasticsearch

#8339 feat: Add getDatabaseName() method to ClickHouseContainer
  modules/clickhouse/src/main/java/org/testcontainers/clickhouse/ClickHouseContainer.java
Labels: type/enhancement, modules/clickhouse

#8431 Add method for getting Weaviate's gRPC port
  modules/weaviate/build.gradle
  modules/weaviate/src/main/java/org/testcontainers/weaviate/WeaviateContainer.java
  modules/weaviate/src/test/java/org/testcontainers/weaviate/WeaviateContainerTest.java
Labels: type/enhancement, modules/weaviate

#8450 [redpanda] Override entrypoint
  modules/redpanda/src/main/java/org/testcontainers/redpanda/RedpandaContainer.java
Labels: type/enhancement, modules/redpanda

#6392 Avoid usage of the non monotonic clock System.currentTimeMillis() in favor of System.nanoTime()
  core/src/main/java/org/testcontainers/containers/output/WaitingConsumer.java
  core/src/test/java/org/testcontainers/junit/GenericContainerRuleTest.java
  modules/database-commons/src/main/java/org/testcontainers/ext/ScriptUtils.java
  modules/jdbc/src/main/java/org/testcontainers/containers/JdbcDatabaseContainer.java
  modules/toxiproxy/src/test/java/org/testcontainers/containers/ToxiproxyTest.java
Labels: modules/jdbc, type/enhancement, modules/toxiproxy

#8129 fix getConnectionString javadoc
  modules/mongodb/src/main/java/org/testcontainers/containers/MongoDBContainer.java
Labels: type/housekeeping, modules/mongodb

#8475 upgrade to github actions setup-java v4
  .github/actions/setup-java/action.yml
Labels: github_actions

#8453 Use Awaitility to Poll the Image Pull
  core/src/main/java/org/testcontainers/images/RemoteDockerImage.java
Labels: type/enhancement

#8476 Update alpine image version to 3.17
  core/src/main/java/org/testcontainers/DockerClientFactory.java
  core/src/test/java/org/testcontainers/TestImages.java
  core/src/test/java/org/testcontainers/containers/DockerComposeFilesTest.java
  core/src/test/java/org/testcontainers/containers/GenericContainerTest.java
  core/src/test/java/org/testcontainers/containers/ParsedDockerComposeFileValidationTest.java
  core/src/test/java/org/testcontainers/containers/output/ToStringConsumerTest.java
  core/src/test/java/org/testcontainers/dockerclient/ImagePullTest.java
  core/src/test/java/org/testcontainers/junit/DockerfileTest.java
  core/src/test/java/org/testcontainers/junit/FixedHostPortContainerTest.java
  core/src/test/java/org/testcontainers/utility/DirectoryTarResourceTest.java
  core/src/test/resources/compose-dockerfile/Dockerfile
  core/src/test/resources/compose-scaling-multiple-containers.yml
  docs/examples/junit4/generic/src/test/java/generic/ContainerCreationTest.java
  docs/examples/junit4/generic/src/test/java/generic/ContainerLabelTest.java
  docs/examples/junit4/generic/src/test/java/generic/ExecTest.java
  docs/features/configuration.md
  docs/features/creating_images.md
  modules/spock/src/test/groovy/org/testcontainers/spock/SpockTestImages.groovy
Labels: type/housekeeping

#8481 refactor: Add Weaviate module tests with Weaviate modules
  modules/weaviate/src/test/java/org/testcontainers/weaviate/WeaviateContainerTest.java
Labels: type/test-improvement, modules/weaviate

#8493 Pass env to ComposeDelegate in DockerComposeContainer#stop
  core/src/main/java/org/testcontainers/containers/ComposeContainer.java
  core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java
  core/src/test/java/org/testcontainers/junit/ComposeContainerPortViaEnvTest.java
  core/src/test/java/org/testcontainers/junit/DockerComposeContainerPortViaEnvTest.java
  core/src/test/resources/v2-compose-test-port-via-env.yml
Labels: type/bug, area/docker-compose
