Repository testcontainers/testcontainers-java, pull requests merged in 2024-07, with the labels that each got.

#8816 Bigger max aliases used by ParsedDockerComposeFile
  core/src/main/java/org/testcontainers/containers/ParsedDockerComposeFile.java
  core/src/test/java/org/testcontainers/containers/ParsedDockerComposeFileValidationTest.java
Labels: area/docker-compose, type/enhancement

#8841 Avoid cache when running against latest moby
  .github/workflows/moby-latest.yml
Labels: github_actions

#8842 Fix wait strategy definition
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/test/java/org/testcontainers/containers/GenericContainerTest.java
Labels: type/bug

#8844 [localstack] Fix reuse mode
  modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/LegacyModeTest.java
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/LocalstackTestImages.java
Labels: type/bug, modules/localstack

#8409 Fix copy large files
  core/src/main/java/org/testcontainers/containers/ContainerState.java
  core/src/test/java/org/testcontainers/junit/FileOperationsTest.java
Labels: type/bug

#8850 Avoid duplicate values for listeners and listener_security_protocol_map in KafkaContainer
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
Labels: type/bug, modules/kafka

#8851 Add grafana module
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/dependabot.yml
  .github/labeler.yml
  .github/settings.yml
  docs/modules/grafana.md
  mkdocs.yml
  modules/grafana/build.gradle
  modules/grafana/src/main/java/org/testcontainers/grafana/LgtmStackContainer.java
  modules/grafana/src/test/java/org/testcontainers/grafana/LgtmStackContainerTest.java
  modules/grafana/src/test/resources/logback-test.xml
Labels: type/docs, type/new module

#8873 Remove unused ImageNameSubstitutor service
  core/src/main/resources/META-INF/services/org.testcontainers.utility.ImageNameSubstitutor
Labels: type/housekeeping

#8928 Add smoke test to dependabot
  .github/dependabot.yml
Labels: type/housekeeping

#8872 Clarify reuse property setting
  core/src/main/java/org/testcontainers/utility/TestcontainersConfiguration.java
  docs/features/reuse.md
Labels: type/docs

#8942 Update docker-java version to 3.4.0
  core/build.gradle
Labels: dependencies

#8866 Load `ImageNameSubstitutor` from Service Loaders mechanism
  core/src/main/java/org/testcontainers/utility/ImageNameSubstitutor.java
  core/src/test/java/org/testcontainers/utility/ImageNameSubstitutorTest.java
  docs/features/image_name_substitution.md
Labels: type/docs, type/enhancement

#8947 [Docs] Add TCI to external integrations
  docs/test_framework_integration/external.md
Labels: type/docs

#8868 Add test compatibility against MongoDB 7
  modules/mongodb/src/test/java/org/testcontainers/containers/MongoDBContainerTest.java
Labels: type/housekeeping, modules/mongodb

#7680 Support multiple init scripts in JdbcDatabaseContainer
  modules/jdbc/src/main/java/org/testcontainers/containers/JdbcDatabaseContainer.java
  modules/postgresql/src/test/java/org/testcontainers/junit/postgresql/SimplePostgreSQLTest.java
  modules/postgresql/src/test/resources/somepath/init_postgresql_2.sql
Labels: type/feature, modules/jdbc, modules/postgres

#8848 Allow copy specific files to docker compose
  core/build.gradle
  core/src/main/java/org/testcontainers/containers/ComposeContainer.java
  core/src/main/java/org/testcontainers/containers/ComposeDelegate.java
  core/src/main/java/org/testcontainers/containers/ContainerisedDockerCompose.java
  core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java
  core/src/test/java/org/testcontainers/junit/ComposeContainerWithCopyFilesTest.java
  core/src/test/java/org/testcontainers/junit/DockerComposeContainerWithCopyFilesTest.java
  core/src/test/resources/compose-file-copy-inclusions/.env
  core/src/test/resources/compose-file-copy-inclusions/Dockerfile
  core/src/test/resources/compose-file-copy-inclusions/EnvVariableRestEndpoint.java
  core/src/test/resources/compose-file-copy-inclusions/compose-root-only.yml
  core/src/test/resources/compose-file-copy-inclusions/compose-test-only.yml
  core/src/test/resources/compose-file-copy-inclusions/compose.yml
  core/src/test/resources/compose-file-copy-inclusions/test/.env
  docs/modules/docker_compose.md
Labels: area/docker-compose, type/docs, type/feature

#6119 Support build args in FROM statement
  core/src/main/java/org/testcontainers/images/ParsedDockerfile.java
  core/src/main/java/org/testcontainers/images/builder/ImageFromDockerfile.java
  core/src/test/java/org/testcontainers/images/builder/DockerfileBuildTest.java
  core/src/test/java/org/testcontainers/images/builder/ImageFromDockerfileTest.java
  core/src/test/resources/dockerfile-build-test/Dockerfile-from-buildarg
Labels: type/enhancement

#8964 Use Develocity build cache configuration and access key authentication
  .github/workflows/ci.yml
  examples/settings.gradle
  settings.gradle
  smoke-test/settings.gradle
Labels: github_actions

#8737 Support tenant name, password and mode in OceanBase module
  docs/modules/databases/jdbc.md
  modules/oceanbase/src/main/java/org/testcontainers/oceanbase/OceanBaseCEContainer.java
  modules/oceanbase/src/main/java/org/testcontainers/oceanbase/OceanBaseCEContainerProvider.java
  modules/oceanbase/src/test/java/org/testcontainers/oceanbase/SimpleOceanBaseCETest.java
Labels: type/docs, modules/oceanbase

#8961 Fix log for Grafana URL
  modules/grafana/src/main/java/org/testcontainers/grafana/LgtmStackContainer.java
Labels: type/bug, modules/grafana

#8980 Fix list indentation in reuse doc
  docs/features/reuse.md
Labels: type/docs

#8985 Move ComposeOverridesTest
  core/src/test/java/org/testcontainers/containers/ComposeOverridesTest.java
Labels: area/docker-compose, type/housekeeping

#8984 Fix log order after checking containerised compose exit code
  core/src/main/java/org/testcontainers/containers/ContainerisedDockerCompose.java
Labels: type/bug, area/docker-compose

#8987 Rename SA_PASSWORD to MSSQL_SA_PASSWORD as SA_PASSWORD is deprecated
  modules/mssqlserver/src/main/java/org/testcontainers/containers/MSSQLServerContainer.java
Labels: type/housekeeping, modules/sql-server

#8990 Couchbase: Don't configure external TLS ports if they're not supported
  modules/couchbase/src/main/java/org/testcontainers/couchbase/CouchbaseContainer.java
  modules/couchbase/src/test/java/org/testcontainers/couchbase/CouchbaseContainerTest.java
Labels: modules/couchbase, type/enhancement

#8991 Do not override LocalStack command
  modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java
Labels: type/bug, modules/localstack

#8993 Add support for Apache Kafka native image
  modules/kafka/src/main/java/org/testcontainers/kafka/KafkaContainer.java
  modules/kafka/src/test/java/org/testcontainers/kafka/KafkaContainerTest.java
Labels: modules/kafka, type/enhancement

#8998 Combined dependencies PR
  .github/workflows/combine-prs.yml
  build.gradle
  core/build.gradle
  docs/examples/junit4/generic/build.gradle
  docs/examples/junit5/redis/build.gradle
  examples/cucumber/build.gradle
  modules/activemq/build.gradle
  modules/azure/build.gradle
  modules/cassandra/build.gradle
  modules/chromadb/build.gradle
  modules/clickhouse/build.gradle
  modules/cockroachdb/build.gradle
  modules/consul/build.gradle
  modules/couchbase/build.gradle
  modules/database-commons/build.gradle
  modules/db2/build.gradle
  modules/dynalite/build.gradle
  modules/elasticsearch/build.gradle
  modules/gcloud/build.gradle
  modules/grafana/build.gradle
  modules/hivemq/build.gradle
  modules/jdbc-test/build.gradle
  modules/jdbc/build.gradle
  modules/junit-jupiter/build.gradle
  modules/k3s/build.gradle
  modules/kafka/build.gradle
  modules/localstack/build.gradle
  modules/mariadb/build.gradle
  modules/milvus/build.gradle
  modules/minio/build.gradle
  modules/mockserver/build.gradle
  modules/mongodb/build.gradle
  modules/mssqlserver/build.gradle
  modules/neo4j/build.gradle
  modules/ollama/build.gradle
  modules/openfga/build.gradle
  modules/orientdb/build.gradle
  modules/pulsar/build.gradle
  modules/qdrant/build.gradle
  modules/questdb/build.gradle
  modules/r2dbc/build.gradle
  modules/rabbitmq/build.gradle
  modules/redpanda/build.gradle
  modules/solace/build.gradle
  modules/toxiproxy/build.gradle
  modules/trino/build.gradle
  modules/vault/build.gradle
  modules/weaviate/build.gradle
  modules/yugabytedb/build.gradle
  settings.gradle
  smoke-test/turbo-mode/build.gradle
Labels: modules/jdbc, modules/couchbase, modules/kafka, modules/elasticsearch, modules/jupiter, dependencies, modules/r2dbc, modules/mongodb, github_actions, modules/neo4j, modules/localstack, modules/hivemq, modules/k3s, modules/rabbitmq, modules/pulsar, modules/gcloud, modules/clickhouse, modules/toxiproxy, modules/azure, modules/cassandra, modules/cockroachdb, modules/db2, modules/dynalite, modules/mariadb, modules/mockserver, modules/sql-server, modules/orientdb, modules/trino, modules/vault, modules/consul, modules/redpanda, modules/questdb, modules/solace, modules/minio, modules/yugabytedb, modules/activemq, modules/chromadb, modules/weaviate, modules/milvus, modules/qdrant, modules/openfga, modules/ollama, modules/grafana

#9002 Combined dependencies PR
  build.gradle
  core/build.gradle
  docs/examples/junit4/generic/build.gradle
  docs/examples/junit4/redis/build.gradle
  docs/examples/junit5/redis/build.gradle
  examples/cucumber/build.gradle
  examples/hazelcast/build.gradle
  examples/immudb/build.gradle
  examples/kafka-cluster/build.gradle
  examples/linked-container/build.gradle
  examples/nats/build.gradle
  examples/neo4j-container/build.gradle
  examples/ollama-hugging-face/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/selenium-container/build.gradle
  examples/sftp/build.gradle
  examples/singleton-container/build.gradle
  examples/solr-container/build.gradle
  examples/zookeeper/build.gradle
  modules/azure/build.gradle
  modules/chromadb/build.gradle
  modules/consul/build.gradle
  modules/dynalite/build.gradle
  modules/gcloud/build.gradle
  modules/grafana/build.gradle
  modules/hivemq/build.gradle
  modules/influxdb/build.gradle
  modules/junit-jupiter/build.gradle
  modules/k6/build.gradle
  modules/kafka/build.gradle
  modules/localstack/build.gradle
  modules/minio/build.gradle
  modules/mongodb/build.gradle
  modules/neo4j/build.gradle
  modules/nginx/build.gradle
  modules/ollama/build.gradle
  modules/qdrant/build.gradle
  modules/r2dbc/build.gradle
  modules/redpanda/build.gradle
  modules/selenium/build.gradle
  modules/solace/build.gradle
  modules/solr/build.gradle
  modules/spock/build.gradle
  modules/vault/build.gradle
  modules/weaviate/build.gradle
  smoke-test/turbo-mode/build.gradle
  test-support/build.gradle
Labels: modules/selenium, modules/spock, modules/influx, modules/kafka, modules/jupiter, dependencies, modules/r2dbc, modules/mongodb, modules/neo4j, modules/localstack, modules/hivemq, modules/gcloud, modules/azure, modules/dynalite, modules/nginx, modules/solr, modules/vault, modules/consul, modules/redpanda, modules/solace, modules/minio, modules/chromadb, modules/weaviate, modules/qdrant, modules/k6, modules/ollama, modules/grafana

#9005 Combined dependencies PR
  core/build.gradle
  docs/examples/junit4/redis/build.gradle
  docs/examples/junit5/redis/build.gradle
  docs/examples/spock/redis/build.gradle
  examples/kafka-cluster/build.gradle
  examples/linked-container/build.gradle
  examples/neo4j-container/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/singleton-container/build.gradle
  examples/solr-container/build.gradle
  modules/activemq/build.gradle
  modules/dynalite/build.gradle
  modules/k3s/build.gradle
  modules/localstack/build.gradle
  modules/milvus/build.gradle
  modules/spock/build.gradle
  modules/trino/build.gradle
Labels: modules/spock, dependencies, modules/localstack, modules/k3s, modules/dynalite, modules/trino, modules/activemq, modules/milvus

#9006 Use pulsar-bom
  modules/pulsar/build.gradle
Labels: dependencies, modules/pulsar

#9007 Combined dependencies PR
  .github/workflows/update-docs-version.yml
  .github/workflows/update-testcontainers-version.yml
  examples/linked-container/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/singleton-container/build.gradle
  modules/elasticsearch/build.gradle
  modules/junit-jupiter/build.gradle
  modules/k3s/build.gradle
  modules/openfga/build.gradle
  settings.gradle
Labels: modules/elasticsearch, modules/jupiter, dependencies, github_actions, modules/k3s, modules/openfga

#9023 Combined dependencies PR
  docs/examples/junit5/redis/build.gradle
  examples/hazelcast/build.gradle
  examples/kafka-cluster/build.gradle
  examples/nats/build.gradle
  examples/ollama-hugging-face/build.gradle
  examples/zookeeper/build.gradle
  modules/jdbc-test/build.gradle
  modules/kafka/build.gradle
  modules/pulsar/build.gradle
  modules/redpanda/build.gradle
  modules/weaviate/build.gradle
  smoke-test/turbo-mode/build.gradle
Labels: modules/kafka, dependencies, modules/pulsar, modules/redpanda, modules/weaviate

#9024 Combined dependencies PR
  examples/hazelcast/build.gradle
  examples/immudb/build.gradle
  examples/kafka-cluster/build.gradle
  examples/nats/build.gradle
  examples/neo4j-container/build.gradle
  examples/ollama-hugging-face/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/selenium-container/build.gradle
  examples/sftp/build.gradle
  examples/singleton-container/build.gradle
  examples/solr-container/build.gradle
  examples/spring-boot/build.gradle
  examples/zookeeper/build.gradle
  modules/redpanda/build.gradle
Labels: dependencies, modules/redpanda

#9026 Fix URI decode.
  core/src/jarFileTest/java/org/testcontainers/AbstractJarFileTest.java
Labels: type/housekeeping

#9040 Pass options to compose down command
  core/src/main/java/org/testcontainers/containers/ComposeCommand.java
  core/src/main/java/org/testcontainers/containers/ComposeContainer.java
  core/src/main/java/org/testcontainers/containers/ComposeDelegate.java
  core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java
  core/src/test/java/org/testcontainers/containers/ComposeProfilesOptionTest.java
  core/src/test/java/org/testcontainers/containers/DockerComposeProfilesOptionTest.java
  core/src/test/resources/compose-profile-option/compose-test.yml
Labels: type/bug, area/docker-compose

#9041 Downgrade awaitility version to 4.2.0
  .github/dependabot.yml
  core/build.gradle
  modules/couchbase/build.gradle
  modules/questdb/build.gradle
  modules/solace/build.gradle
Labels: modules/couchbase, dependencies, modules/questdb, modules/solace
