Repository testcontainers/testcontainers-java, pull requests merged in 2024-12, with the labels that each got.

#9599 Polish BigtableEmulatorContainer test
  modules/gcloud/src/test/java/org/testcontainers/containers/BigtableEmulatorContainerTest.java
Labels: type/test-improvement

#9600 Polish AbstractPulsar test
  modules/pulsar/src/test/java/org/testcontainers/containers/AbstractPulsar.java
Labels: type/test-improvement, modules/pulsar

#8988 Test against multiple Java versions
  .github/actions/setup-build/action.yml
  .github/actions/setup-java/action.yml
  .github/settings.yml
  .github/workflows/ci-docker-wormhole.yml
  .github/workflows/ci.yml
  .sdkmanrc
  build.gradle
  core/src/main/java/org/testcontainers/containers/DockerCompose.java
  core/src/main/java/org/testcontainers/images/builder/Transferable.java
  core/src/test/java/org/testcontainers/TestImages.java
  examples/build.gradle
  examples/gradle/wrapper/gradle-wrapper.jar
  examples/gradle/wrapper/gradle-wrapper.properties
  examples/gradlew
  examples/gradlew.bat
  examples/linked-container/src/test/java/com/example/linkedcontainer/LinkedContainerTestImages.java
  gradle/spotless.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  modules/cockroachdb/src/test/java/org/testcontainers/CockroachDBTestImages.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/JUnitJupiterTestImages.java
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/LocalstackTestImages.java
  modules/oracle-free/build.gradle
  modules/oracle-xe/build.gradle
  modules/presto/src/test/java/org/testcontainers/PrestoTestImages.java
  modules/solace/src/main/java/org/testcontainers/solace/Service.java
  modules/spock/src/test/groovy/org/testcontainers/spock/PostgresContainerIT.groovy
  modules/trino/src/test/java/org/testcontainers/TrinoTestImages.java
  smoke-test/build.gradle
  smoke-test/gradle/wrapper/gradle-wrapper.jar
  smoke-test/gradle/wrapper/gradle-wrapper.properties
  smoke-test/gradlew
  smoke-test/gradlew.bat
Labels: modules/spock, modules/jupiter, gradle-wrapper, github_actions, modules/localstack, modules/clickhouse, modules/cockroachdb, modules/oracle, modules/presto, modules/trino, modules/solace

#9604 Declare Java action in windows workflow
  .github/workflows/ci-windows.yml
Labels: github_actions

#9624 Drop references to vectorized/redpanda image
  modules/redpanda/src/main/java/org/testcontainers/redpanda/RedpandaContainer.java
  modules/redpanda/src/test/java/org/testcontainers/redpanda/CompatibleImageTest.java
  modules/redpanda/src/test/java/org/testcontainers/redpanda/RedpandaContainerTest.java
Labels: type/housekeeping, modules/redpanda

#9625 Use docker/setup-docker-action
  .github/workflows/ci-rootless.yml
  .github/workflows/moby-latest.yml
Labels: github_actions

#9623 Move ollama port to a constant and provide new `getPort` method
  modules/ollama/src/main/java/org/testcontainers/ollama/OllamaContainer.java
Labels: modules/ollama

#9627 Update docker-java version to 3.4.1
  core/build.gradle
Labels: dependencies

#9626 Remove specific Java version for testing in gradle files
  docs/examples/junit4/generic/build.gradle
  examples/cucumber/build.gradle
  modules/activemq/build.gradle
  modules/grafana/build.gradle
  modules/openfga/build.gradle
  modules/questdb/build.gradle
Labels: type/housekeeping, modules/hivemq, modules/questdb, modules/activemq, modules/openfga, modules/grafana

#9630 Added Dash0 as Adoptor
  docs/index.md
Labels: type/docs
