Repository testcontainers/testcontainers-java, pull requests merged in 2024-05, with the labels that each got.

#8595 Automatically add LAMBDA_DOCKER_FLAGS with testcontainer labels
  modules/localstack/build.gradle
  modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/LocalstackContainerTest.java
Labels: type/enhancement, modules/localstack

#8593 support backtick enquoting in SQL script splitter
  modules/database-commons/src/main/java/org/testcontainers/ext/ScriptScanner.java
  modules/database-commons/src/test/java/org/testcontainers/ext/ScriptSplittingTest.java
Labels: type/enhancement

#8631 Update redis version
  core/src/test/java/org/testcontainers/TestImages.java
  core/src/test/java/org/testcontainers/containers/GenericContainerTest.java
  core/src/test/java/org/testcontainers/junit/DockerComposeLocalImageTest.java
  core/src/test/resources/compose-options-test/with-deploy-block.yml
  docs/examples/junit4/generic/src/test/java/generic/CmdModifierTest.java
  docs/examples/junit4/generic/src/test/java/generic/CommandsTest.java
  docs/examples/junit4/generic/src/test/java/generic/ContainerCreationTest.java
  docs/examples/junit4/generic/src/test/java/generic/DependsOnTest.java
  docs/examples/junit4/generic/src/test/java/generic/WaitStrategiesTest.java
  docs/examples/junit4/redis/src/test/java/quickstart/RedisBackedCacheIntTest.java
  docs/examples/junit5/redis/src/test/java/quickstart/RedisBackedCacheIntTest.java
  docs/examples/spock/redis/src/test/groovy/quickstart/RedisBackedCacheIntTest.groovy
  examples/redis-backed-cache-testng/src/test/java/RedisBackedCacheTest.java
  examples/redis-backed-cache/src/test/java/RedisBackedCacheTest.java
  examples/singleton-container/src/test/java/com/example/AbstractIntegrationTest.java
  examples/spring-boot-kotlin-redis/src/test/kotlin/com/example/redis/AbstractIntegrationTest.kt
  examples/spring-boot/src/test/java/com/example/AbstractIntegrationTest.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/inheritance/RedisContainer.java
  modules/toxiproxy/src/test/java/org/testcontainers/containers/ToxiproxyTest.java
Labels: type/housekeeping, modules/jupiter, modules/toxiproxy

#8638 Make pgvector available with JDBC syntax (#8633)
  docs/modules/databases/jdbc.md
  modules/jdbc-test/src/main/java/org/testcontainers/jdbc/AbstractJDBCDriverTest.java
  modules/postgresql/src/main/java/org/testcontainers/containers/PgVectorContainerProvider.java
  modules/postgresql/src/main/resources/META-INF/services/org.testcontainers.containers.JdbcDatabaseContainerProvider
  modules/postgresql/src/test/java/org/testcontainers/jdbc/pgvector/PgVectorJDBCDriverTest.java
Labels: type/docs, type/feature, modules/postgres

#8636 Introduce '@EnabledIfDockerAvailable' JUnit 5 annotation (#8613)
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/DockerAvailableDetector.java
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/EnabledIfDockerAvailable.java
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/EnabledIfDockerAvailableCondition.java
  modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/TestcontainersExtension.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/EnabledIfDockerAvailableTests.java
Labels: type/feature, modules/jupiter

#7524 Use /tmp for zookeeper.properties and startup script
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
  modules/kafka/src/main/java/org/testcontainers/kafka/KafkaContainer.java
Labels: modules/kafka

#8660 Combined dependencies PR
  core/build.gradle
  modules/azure/build.gradle
  modules/elasticsearch/build.gradle
  modules/hivemq/build.gradle
  modules/oracle-xe/build.gradle
  modules/qdrant/build.gradle
  settings.gradle
Labels: modules/elasticsearch, dependencies, modules/hivemq, modules/azure, modules/oracle, modules/qdrant

#8663 Combined dependencies PR
  .github/workflows/release-drafter.yml
  core/build.gradle
  docs/examples/junit4/generic/build.gradle
  docs/examples/junit4/redis/build.gradle
  docs/examples/junit5/redis/build.gradle
  examples/cucumber/build.gradle
  examples/hazelcast/build.gradle
  examples/immudb/build.gradle
  examples/kafka-cluster/build.gradle
  examples/linked-container/build.gradle
  examples/nats/build.gradle
  examples/neo4j-container/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/selenium-container/build.gradle
  examples/sftp/build.gradle
  examples/singleton-container/build.gradle
  examples/solr-container/build.gradle
  examples/zookeeper/build.gradle
  modules/activemq/build.gradle
  modules/cockroachdb/build.gradle
  modules/consul/build.gradle
  modules/couchbase/build.gradle
  modules/cratedb/build.gradle
  modules/dynalite/build.gradle
  modules/junit-jupiter/build.gradle
  modules/k3s/build.gradle
  modules/kafka/build.gradle
  modules/localstack/build.gradle
  modules/milvus/build.gradle
  modules/minio/build.gradle
  modules/mongodb/build.gradle
  modules/neo4j/build.gradle
  modules/nginx/build.gradle
  modules/openfga/build.gradle
  modules/orientdb/build.gradle
  modules/pulsar/build.gradle
  modules/qdrant/build.gradle
  modules/r2dbc/build.gradle
  modules/rabbitmq/build.gradle
  modules/redpanda/build.gradle
  modules/solr/build.gradle
  modules/spock/build.gradle
  modules/toxiproxy/build.gradle
  modules/weaviate/build.gradle
  test-support/build.gradle
Labels: modules/spock, modules/couchbase, modules/kafka, modules/jupiter, dependencies, modules/r2dbc, modules/mongodb, github_actions, modules/neo4j, modules/localstack, modules/k3s, modules/rabbitmq, modules/pulsar, modules/toxiproxy, modules/cockroachdb, modules/dynalite, modules/nginx, modules/orientdb, modules/solr, modules/consul, modules/redpanda, modules/cratedb, modules/minio, modules/activemq, modules/weaviate, modules/milvus, modules/qdrant, modules/openfga

#8666 Combined dependencies PR
  modules/activemq/build.gradle
  modules/solace/build.gradle
Labels: dependencies, modules/solace, modules/activemq

#8668 Restore azure module in CI
  .github/workflows/ci.yml
Labels: type/housekeeping, github_actions

#7304 Clean duplicate in regex for log message wait strategy
  modules/azure/src/main/java/org/testcontainers/containers/CosmosDBEmulatorContainer.java
  modules/elasticsearch/src/main/java/org/testcontainers/elasticsearch/ElasticsearchContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/BigtableEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/FirestoreEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/PubSubEmulatorContainer.java
  modules/gcloud/src/main/java/org/testcontainers/containers/SpannerEmulatorContainer.java
  modules/hivemq/src/main/java/org/testcontainers/hivemq/HiveMQContainer.java
  modules/k3s/src/main/java/org/testcontainers/k3s/K3sContainer.java
  modules/orientdb/src/main/java/org/testcontainers/containers/OrientDBContainer.java
Labels: modules/elasticsearch, type/enhancement, modules/hivemq, modules/k3s, modules/gcloud, modules/azure, modules/orientdb
