Repository testcontainers/testcontainers-java, pull requests merged in 2024-11, with the labels that each got.

#9474 Stop container that doesn't match wait strategy
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/test/java/org/testcontainers/containers/GenericContainerTest.java
Labels: type/bug

#9504 Revert "Add shutdownHook to send sigterm to ryuk (#7717)"
  core/src/main/java/org/testcontainers/utility/RyukResourceReaper.java
Labels: type/bug

#8298 Check if container belongs to a network when using exposeHostPorts
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/test/java/org/testcontainers/containers/ExposedHostTest.java
Labels: type/bug

#9544 Fix docker credentials output
  core/src/main/java/org/testcontainers/utility/RegistryAuthLocator.java
  core/src/test/resources/auth-config/docker-credential-fake
  core/src/test/resources/auth-config/win/docker-credential-fake.bat
Labels: type/bug

#9545 Remove extra call to docker credentials
  core/src/main/java/org/testcontainers/utility/RegistryAuthLocator.java
  core/src/test/java/org/testcontainers/utility/RegistryAuthLocatorTest.java
  core/src/test/resources/auth-config/docker-credential-fake
  core/src/test/resources/auth-config/win/docker-credential-fake.bat
Labels: type/enhancement

#9531 [localstack] Add testcontainer marker labels to additional localstack flags
  modules/localstack/src/main/java/org/testcontainers/containers/localstack/LocalStackContainer.java
Labels: type/enhancement, modules/localstack

#9571 Set `RABBITMQ_DEFAULT_USER` env var with `withAdminUser`
  modules/rabbitmq/src/main/java/org/testcontainers/containers/RabbitMQContainer.java
  modules/rabbitmq/src/test/java/org/testcontainers/containers/RabbitMQContainerTest.java
Labels: type/enhancement, modules/rabbitmq

#9461 Improve Docker Compose docs
  core/src/test/java/org/testcontainers/containers/ComposeProfilesOptionTest.java
  core/src/test/java/org/testcontainers/junit/ComposeContainerTest.java
  core/src/test/java/org/testcontainers/junit/ComposeContainerWithCopyFilesTest.java
  core/src/test/java/org/testcontainers/junit/ComposeContainerWithWaitStrategies.java
  docs/modules/docker_compose.md
Labels: area/docker-compose, type/docs

#9572 Fix typo in SolrContainer
  modules/solr/src/main/java/org/testcontainers/containers/SolrContainer.java
Labels: type/housekeeping, modules/solr

#9577 Adjust shadow gradle plugin coordinates
  build.gradle
  core/build.gradle
  gradle/shading.gradle
Labels: dependencies
