Repository testcontainers/testcontainers-java, pull requests merged in 2024-01, with the labels that each got.

#8108 Fix SQLUtils.splitSqlScript: keep semicolons after END when semicolon is not the statement separator
  modules/database-commons/src/main/java/org/testcontainers/ext/ScriptSplitter.java
  modules/database-commons/src/test/java/org/testcontainers/ext/ScriptSplittingTest.java
Labels: type/enhancement

#8131 Correct testcontainers for use with latest MySQL 8.3 version
  core/src/test/resources/compose-test.yml
  core/src/test/resources/composev2/compose-test.yml
  docs/examples/junit4/generic/src/test/java/generic/ImageNameSubstitutionTest.java
  docs/examples/junit4/generic/src/test/java/generic/support/TestSpecificImageNameSubstitutor.java
  docs/features/image_name_substitution.md
  docs/features/reuse.md
  docs/modules/databases/jdbc.md
  docs/modules/databases/mysql.md
  docs/modules/databases/r2dbc.md
  modules/jdbc-test/src/main/java/org/testcontainers/jdbc/AbstractJDBCDriverTest.java
  modules/jdbc/src/test/java/org/testcontainers/jdbc/ConnectionUrlDriversTests.java
  modules/jdbc/src/test/java/org/testcontainers/jdbc/ConnectionUrlTest.java
  modules/jdbc/src/test/java/org/testcontainers/jdbc/MissingJdbcDriverTest.java
  modules/mariadb/src/test/java/org/testcontainers/MariaDBTestImages.java
  modules/mariadb/src/test/java/org/testcontainers/containers/MariaDBR2DBCDatabaseContainerTest.java
  modules/mariadb/src/test/java/org/testcontainers/jdbc/mariadb/MariaDBJDBCDriverTest.java
  modules/mariadb/src/test/java/org/testcontainers/junit/mariadb/SimpleMariaDBTest.java
  modules/mariadb/src/test/resources/somepath/mariadb_conf_override/my.cnf
  modules/mysql/src/main/resources/mysql-default-conf/my.cnf
  modules/mysql/src/test/java/org/testcontainers/MySQLTestImages.java
  modules/mysql/src/test/java/org/testcontainers/containers/MySQLRootAccountTest.java
  modules/mysql/src/test/java/org/testcontainers/jdbc/mysql/JDBCDriverWithPoolTest.java
  modules/mysql/src/test/java/org/testcontainers/jdbc/mysql/MySQLDatabaseContainerDriverTest.java
  modules/mysql/src/test/java/org/testcontainers/jdbc/mysql/MySQLJDBCDriverTest.java
  modules/mysql/src/test/java/org/testcontainers/junit/mysql/CustomizableMysqlTest.java
  modules/mysql/src/test/java/org/testcontainers/junit/mysql/MultiVersionMySQLTest.java
  modules/mysql/src/test/java/org/testcontainers/junit/mysql/SimpleMySQLTest.java
  modules/mysql/src/test/resources/somepath/mysql_conf_override/my.cnf
  modules/spock/src/test/groovy/org/testcontainers/spock/SpockTestImages.groovy
Labels: type/docs, modules/jdbc, modules/spock, type/enhancement, modules/mariadb, modules/mysql

#7400 Add support for ActiveMQ and Artemis
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/dependabot.yml
  .github/labeler.yml
  .github/settings.yml
  docs/modules/activemq.md
  mkdocs.yml
  modules/activemq/build.gradle
  modules/activemq/src/main/java/org/testcontainers/activemq/ActiveMQContainer.java
  modules/activemq/src/main/java/org/testcontainers/activemq/ArtemisContainer.java
  modules/activemq/src/test/java/org/testcontainers/activemq/ActiveMQContainerTest.java
  modules/activemq/src/test/java/org/testcontainers/activemq/ArtemisContainerTest.java
  modules/activemq/src/test/resources/logback-test.xml
Labels: type/docs, type/new module

#8151 Combined dependencies PR
  core/build.gradle
  docs/examples/junit4/generic/build.gradle
  docs/examples/junit4/redis/build.gradle
  docs/examples/junit5/redis/build.gradle
  docs/examples/spock/redis/build.gradle
  examples/cucumber/build.gradle
  examples/nats/build.gradle
  examples/neo4j-container/build.gradle
  examples/settings.gradle
  modules/activemq/build.gradle
  modules/azure/build.gradle
  modules/cassandra/build.gradle
  modules/clickhouse/build.gradle
  modules/consul/build.gradle
  modules/couchbase/build.gradle
  modules/database-commons/build.gradle
  modules/db2/build.gradle
  modules/dynalite/build.gradle
  modules/elasticsearch/build.gradle
  modules/gcloud/build.gradle
  modules/hivemq/build.gradle
  modules/influxdb/build.gradle
  modules/jdbc-test/build.gradle
  modules/jdbc/build.gradle
  modules/junit-jupiter/build.gradle
  modules/k3s/build.gradle
  modules/localstack/build.gradle
  modules/mariadb/build.gradle
  modules/minio/build.gradle
  modules/mockserver/build.gradle
  modules/mysql/build.gradle
  modules/neo4j/build.gradle
  modules/nginx/build.gradle
  modules/orientdb/build.gradle
  modules/pulsar/build.gradle
  modules/questdb/build.gradle
  modules/r2dbc/build.gradle
  modules/redpanda/build.gradle
  modules/selenium/build.gradle
  modules/solace/build.gradle
  modules/solr/build.gradle
  modules/toxiproxy/build.gradle
  modules/trino/build.gradle
  modules/vault/build.gradle
  settings.gradle
Labels: modules/jdbc, modules/selenium, modules/influx, modules/couchbase, modules/elasticsearch, modules/jupiter, dependencies, modules/r2dbc, modules/neo4j, modules/localstack, modules/hivemq, modules/k3s, modules/pulsar, modules/gcloud, modules/clickhouse, modules/toxiproxy, modules/azure, modules/cassandra, modules/db2, modules/dynalite, modules/mariadb, modules/mockserver, modules/mysql, modules/nginx, modules/orientdb, modules/solr, modules/trino, modules/vault, modules/consul, modules/redpanda, modules/questdb, modules/solace, modules/minio, modules/activemq

#8160 New Solace certificates
  modules/solace/src/test/java/org/testcontainers/solace/SolaceContainerSMFTest.java
  modules/solace/src/test/resources/client.pfx
  modules/solace/src/test/resources/rootCA.crt
  modules/solace/src/test/resources/solace.pem
  modules/solace/src/test/resources/truststore
Labels: type/housekeeping, modules/solace

#8161 Combined dependencies PR
  docs/examples/junit4/generic/build.gradle
  docs/examples/junit4/redis/build.gradle
  docs/examples/junit5/redis/build.gradle
  examples/cucumber/build.gradle
  examples/hazelcast/build.gradle
  examples/immudb/build.gradle
  examples/kafka-cluster/build.gradle
  examples/linked-container/build.gradle
  examples/nats/build.gradle
  examples/neo4j-container/build.gradle
  examples/redis-backed-cache-testng/build.gradle
  examples/redis-backed-cache/build.gradle
  examples/selenium-container/build.gradle
  examples/sftp/build.gradle
  examples/singleton-container/build.gradle
  examples/solr-container/build.gradle
  examples/zookeeper/build.gradle
  modules/azure/build.gradle
  modules/cockroachdb/build.gradle
  modules/dynalite/build.gradle
  modules/elasticsearch/build.gradle
  modules/gcloud/build.gradle
  modules/k3s/build.gradle
  modules/kafka/build.gradle
  modules/localstack/build.gradle
  modules/mongodb/build.gradle
  modules/neo4j/build.gradle
  modules/pulsar/build.gradle
  modules/questdb/build.gradle
  modules/r2dbc/build.gradle
  modules/rabbitmq/build.gradle
  test-support/build.gradle
Labels: modules/kafka, modules/elasticsearch, dependencies, modules/r2dbc, modules/mongodb, modules/neo4j, modules/localstack, modules/k3s, modules/rabbitmq, modules/pulsar, modules/gcloud, modules/azure, modules/cockroachdb, modules/dynalite, modules/questdb

#8150 Update activemq-client version to 6.0.1
  modules/activemq/build.gradle
Labels: dependencies, modules/activemq

#8162 Combined dependencies PR
  core/build.gradle
  modules/influxdb/build.gradle
  modules/solace/build.gradle
Labels: modules/influx, dependencies, modules/solace
