Repository testcontainers/testcontainers-java, pull requests merged in 2024-10, with the labels that each got.

#9338 Add "integration-testing" topic
  .github/settings.yml
Labels: type/docs

#9339 Polish Cassandra tests
  docs/modules/databases/cassandra.md
  modules/cassandra/src/test/java/org/testcontainers/cassandra/CassandraContainerTest.java
  modules/cassandra/src/test/java/org/testcontainers/cassandra/CassandraServer4Test.java
  modules/cassandra/src/test/java/org/testcontainers/cassandra/CassandraServer5Test.java
  modules/cassandra/src/test/java/org/testcontainers/cassandra/CompatibleCassandraImageTest.java
  modules/cassandra/src/test/java/org/testcontainers/containers/CassandraDriver3Test.java
  modules/cassandra/src/test/java/org/testcontainers/containers/CassandraDriver4Test.java
  modules/cassandra/src/test/java/org/testcontainers/containers/CompatibleCassandraImageTest.java
Labels: type/docs, modules/cassandra

#9341 Use Awaitility in FixedHostPortContainerTest
  core/src/test/java/org/testcontainers/junit/FixedHostPortContainerTest.java
Labels: type/test-improvement

#9342 Check docker compose version
  core/src/test/java/org/testcontainers/containers/DockerComposeProfilesOptionTest.java
  core/src/test/java/org/testcontainers/junit/DockerComposeContainerWithOptionsTest.java
Labels: area/docker-compose, type/test-improvement

#9343 Support reset value in Docker Compose
  core/src/main/java/org/testcontainers/containers/ParsedDockerComposeFile.java
  core/src/test/java/org/testcontainers/junit/ComposeContainerOverrideTest.java
  core/src/test/resources/compose-override/compose-override.yml
  core/src/test/resources/compose-override/compose.yml
Labels: area/docker-compose, type/enhancement

#9370 Clear docker compose initialization
  core/src/main/java/org/testcontainers/containers/ComposeCommand.java
  core/src/main/java/org/testcontainers/containers/ComposeContainer.java
  core/src/main/java/org/testcontainers/containers/ComposeDelegate.java
  core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java
  core/src/test/java/org/testcontainers/containers/ComposeContainerWithServicesTest.java
  core/src/test/java/org/testcontainers/containers/DockerComposeContainerWithServicesTest.java
  core/src/test/resources/docker-compose-healthcheck.yml
Labels: type/bug, area/docker-compose

#9056 Use server URL from auth query if helper does not return one
  core/src/main/java/org/testcontainers/utility/RegistryAuthLocator.java
  core/src/test/java/org/testcontainers/utility/RegistryAuthLocatorTest.java
  core/src/test/resources/auth-config/config-with-helper-no-server-url-using-token.json
  core/src/test/resources/auth-config/config-with-helper-no-server-url.json
  core/src/test/resources/auth-config/docker-credential-fake
Labels: type/bug

#9409 Fix windows test
  core/src/test/resources/auth-config/win/docker-credential-fake.bat
Labels: type/test-improvement

#8007 Read docker credentials stdout and stderr independently
  core/src/main/java/org/testcontainers/utility/RegistryAuthLocator.java
Labels: type/bug

#9413 Fix execution in windows runner
  .github/workflows/ci-windows.yml
Labels: github_actions

#8434 Add r2dbc support for Clickhouse
  docs/modules/databases/r2dbc.md
  modules/clickhouse/build.gradle
  modules/clickhouse/src/main/java/org/testcontainers/clickhouse/ClickHouseContainer.java
  modules/clickhouse/src/main/java/org/testcontainers/clickhouse/ClickHouseR2DBCDatabaseContainer.java
  modules/clickhouse/src/main/java/org/testcontainers/clickhouse/ClickHouseR2DBCDatabaseContainerProvider.java
  modules/clickhouse/src/main/resources/META-INF/services/org.testcontainers.r2dbc.R2DBCDatabaseContainerProvider
  modules/clickhouse/src/test/java/org/testcontainers/ClickhouseTestImages.java
  modules/clickhouse/src/test/java/org/testcontainers/clickhouse/ClickHouseR2DBCDatabaseContainerTest.java
  modules/clickhouse/src/test/java/org/testcontainers/junit/clickhouse/SimpleClickhouseTest.java
Labels: type/docs, type/feature, modules/r2dbc, modules/clickhouse

#9372 Update ryuk version to 0.10.2
  core/src/main/java/org/testcontainers/utility/RyukContainer.java
Labels: dependencies

#9416 Pin OceanBase image
  modules/oceanbase/src/main/java/org/testcontainers/oceanbase/OceanBaseCEContainerProvider.java
Labels: modules/oceanbase

#9417 Introduce new property to configure pull.timeout
  core/src/main/java/org/testcontainers/images/RemoteDockerImage.java
  core/src/main/java/org/testcontainers/utility/TestcontainersConfiguration.java
  docs/features/configuration.md
Labels: type/docs, type/enhancement

#9420 Parse docker compose file correctly when version is not declared
  core/src/main/java/org/testcontainers/containers/ParsedDockerComposeFile.java
  core/src/test/java/org/testcontainers/containers/ParsedDockerComposeFileValidationTest.java
  core/src/test/resources/docker-compose-imagename-parsing-v2-no-version.yml
Labels: type/bug, area/docker-compose

#9447 Declarative R2DBC SPI implementation
  modules/mariadb/build.gradle
  modules/mariadb/src/main/java/org/testcontainers/containers/MariaDBR2DBCDatabaseContainerProvider.java
  modules/mariadb/src/main/resources/META-INF/services/org.testcontainers.r2dbc.R2DBCDatabaseContainerProvider
  modules/mssqlserver/build.gradle
  modules/mssqlserver/src/main/java/org/testcontainers/containers/MSSQLR2DBCDatabaseContainerProvider.java
  modules/mssqlserver/src/main/resources/META-INF/services/org.testcontainers.r2dbc.R2DBCDatabaseContainerProvider
  modules/mysql/build.gradle
  modules/mysql/src/main/java/org/testcontainers/containers/MySQLR2DBCDatabaseContainerProvider.java
  modules/mysql/src/main/resources/META-INF/services/org.testcontainers.r2dbc.R2DBCDatabaseContainerProvider
  modules/oracle-free/build.gradle
  modules/oracle-free/src/main/java/org/testcontainers/oracle/OracleR2DBCDatabaseContainerProvider.java
  modules/oracle-free/src/main/resources/META-INF/services/org.testcontainers.r2dbc.R2DBCDatabaseContainerProvider
  modules/oracle-xe/build.gradle
  modules/oracle-xe/src/main/java/org/testcontainers/containers/OracleR2DBCDatabaseContainerProvider.java
  modules/oracle-xe/src/main/resources/META-INF/services/org.testcontainers.r2dbc.R2DBCDatabaseContainerProvider
  modules/postgresql/build.gradle
  modules/postgresql/src/main/java/org/testcontainers/containers/PostgreSQLR2DBCDatabaseContainerProvider.java
  modules/postgresql/src/main/resources/META-INF/services/org.testcontainers.r2dbc.R2DBCDatabaseContainerProvider
  modules/r2dbc/build.gradle
  modules/r2dbc/src/main/java/org/testcontainers/r2dbc/Hidden.java
  modules/r2dbc/src/main/resources/META-INF/services/io.r2dbc.spi.ConnectionFactoryProvider
Labels: type/housekeeping, modules/r2dbc, modules/mariadb, modules/mysql, modules/sql-server, modules/oracle, modules/postgres

#9448 Add support for apachepulsar/pulsar-all image
  modules/pulsar/src/main/java/org/testcontainers/containers/PulsarContainer.java
  modules/pulsar/src/test/java/org/testcontainers/containers/AbstractPulsar.java
  modules/pulsar/src/test/java/org/testcontainers/containers/CompatibleApachePulsarImageTest.java
  modules/pulsar/src/test/java/org/testcontainers/containers/PulsarContainerTest.java
Labels: type/enhancement, modules/pulsar

#8055 Log exception on socket problems
  core/src/main/java/org/testcontainers/dockerclient/DockerClientProviderStrategy.java
Labels: type/enhancement

#9412 fix: await during DockerClientProviderStrategy test method
  core/src/main/java/org/testcontainers/dockerclient/DockerClientProviderStrategy.java
Labels: type/bug

#9454 Add container implementation for Typesense
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/dependabot.yml
  .github/labeler.yml
  .github/settings.yml
  docs/modules/typesense.md
  mkdocs.yml
  modules/typesense/build.gradle
  modules/typesense/src/main/java/org/testcontainers/typesense/TypesenseContainer.java
  modules/typesense/src/test/java/org/testcontainers/typesense/TypesenseContainerTest.java
  modules/typesense/src/test/resources/logback-test.xml
Labels: type/docs, type/new module

#9464 Fix default client.ping.timeout value in docs
  docs/features/configuration.md
Labels: type/docs

#9460 Remove privilegedMode in Db2Container
  modules/db2/src/main/java/org/testcontainers/containers/Db2Container.java
Labels: type/enhancement, modules/db2
