Repository testcontainers/testcontainers-java, pull requests merged in 2024-04, with the labels that each got.

#8433 Skip starting zookeeper when using a Kafka container with the provided Zookeeper
  modules/kafka/src/main/java/org/testcontainers/containers/KafkaContainer.java
Labels: modules/kafka, type/enhancement

#8416 Add support for apache/kafka
  docs/modules/kafka.md
  modules/kafka/src/main/java/org/testcontainers/kafka/KafkaContainer.java
  modules/kafka/src/test/java/org/testcontainers/AbstractKafka.java
  modules/kafka/src/test/java/org/testcontainers/containers/KafkaContainerTest.java
  modules/kafka/src/test/java/org/testcontainers/kafka/KafkaContainerTest.java
Labels: type/docs, modules/kafka, type/enhancement

#8512 Weaviate: Support new project container registry
  modules/weaviate/src/main/java/org/testcontainers/weaviate/WeaviateContainer.java
  modules/weaviate/src/test/java/org/testcontainers/weaviate/WeaviateContainerTest.java
Labels: type/enhancement, modules/weaviate

#8538 Deprecate the typed Neo4j labs plugins
  docs/modules/databases/neo4j.md
  modules/neo4j/src/main/java/org/testcontainers/containers/Neo4jContainer.java
  modules/neo4j/src/main/java/org/testcontainers/containers/Neo4jLabsPlugin.java
  modules/neo4j/src/test/java/org/testcontainers/containers/Neo4jContainerTest.java
Labels: type/docs, modules/neo4j

#8556 [qdrant] Allow to set key and config file
  modules/qdrant/src/main/java/org/testcontainers/qdrant/QdrantContainer.java
  modules/qdrant/src/test/java/org/testcontainers/qdrant/QdrantContainerTest.java
Labels: type/enhancement, modules/qdrant

#8559 Move to gradle/actions/wrapper-validation
  .github/workflows/update-gradle-wrapper.yml
Labels: github_actions

#8574 chore: use new sshd:1.2.0 image
  core/src/main/java/org/testcontainers/containers/PortForwardingContainer.java
Labels: dependencies
