Repository testcontainers/testcontainers-java, pull requests merged in 2025-01, with the labels that each got.

#9661 Add AzuriteContainer to Azure module
  docs/modules/azure.md
  modules/azure/build.gradle
  modules/azure/src/main/java/org/testcontainers/azure/AzuriteContainer.java
  modules/azure/src/test/java/org/testcontainers/azure/AzuriteContainerTest.java
  modules/azure/src/test/resources/certificate.pem
  modules/azure/src/test/resources/key.pem
  modules/azure/src/test/resources/keystore.pfx
Labels: type/docs, modules/azure

#9665 Add AzureEventHubsContainer
  docs/modules/azure.md
  modules/azure/build.gradle
  modules/azure/src/main/java/org/testcontainers/azure/AzureEventHubsContainer.java
  modules/azure/src/test/java/org/testcontainers/azure/AzureEventHubsContainerTest.java
  modules/azure/src/test/resources/eventhubs_config.json
Labels: type/docs, modules/azure

#9795 Add AzureServiceBusContainer
  docs/modules/azure.md
  modules/azure/build.gradle
  modules/azure/src/main/java/org/testcontainers/azure/AzureServiceBusContainer.java
  modules/azure/src/test/java/org/testcontainers/azure/AzureServiceBusContainerTest.java
  modules/azure/src/test/resources/service-bus-config.json
Labels: type/docs, modules/azure

#9910 Fix cluster creation with ConfluentKafkaContainer and KafkaContainer
  examples/kafka-cluster/src/test/java/com/example/kafkacluster/ApacheKafkaContainerCluster.java
  examples/kafka-cluster/src/test/java/com/example/kafkacluster/ApacheKafkaContainerClusterTest.java
  examples/kafka-cluster/src/test/java/com/example/kafkacluster/ConfluentKafkaContainerCluster.java
  examples/kafka-cluster/src/test/java/com/example/kafkacluster/ConfluentKafkaContainerClusterTest.java
  modules/kafka/src/main/java/org/testcontainers/kafka/ConfluentKafkaContainer.java
  modules/kafka/src/main/java/org/testcontainers/kafka/KafkaContainer.java
  modules/kafka/src/main/java/org/testcontainers/kafka/KafkaHelper.java
Labels: type/bug, modules/kafka

#9911 Add pinecone module
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/dependabot.yml
  .github/labeler.yml
  .github/settings.yml
  docs/modules/pinecone.md
  mkdocs.yml
  modules/pinecone/build.gradle
  modules/pinecone/src/main/java/org/testcontainers/pinecone/PineconeContainer.java
  modules/pinecone/src/test/java/org/testcontainers/pinecone/PineconeContainerTest.java
  modules/pinecone/src/test/resources/logback-test.xml
Labels: type/docs, type/new module

#8002 Add scylladb module
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/dependabot.yml
  .github/labeler.yml
  docs/modules/databases/scylladb.md
  mkdocs.yml
  modules/scylladb/build.gradle
  modules/scylladb/src/main/java/org/testcontainers/scylladb/ScyllaDBContainer.java
  modules/scylladb/src/test/java/org/testcontainers/scylladb/ScyllaDBContainerTest.java
  modules/scylladb/src/test/resources/keys/node0.cer
  modules/scylladb/src/test/resources/keys/node0.p12
  modules/scylladb/src/test/resources/keys/scylla.cer.pem
  modules/scylladb/src/test/resources/keys/scylla.key.pem
  modules/scylladb/src/test/resources/keys/scylla.keystore
  modules/scylladb/src/test/resources/keys/scylla.truststore
  modules/scylladb/src/test/resources/logback-test.xml
  modules/scylladb/src/test/resources/scylla-test-ssl/scylla.yaml
Labels: type/docs, type/new module
