Repository testcontainers/testcontainers-java, pull requests merged in 2025-04, with the labels that each got.

#10034 Add default database name to MongoDB Atlas
  modules/mongodb/src/main/java/org/testcontainers/mongodb/MongoDBAtlasLocalContainer.java
  modules/mongodb/src/test/java/org/testcontainers/mongodb/MongoDBAtlasLocalContainerTest.java
Labels: type/enhancement, modules/mongodb

#10173 Remove incubator note from Solr docs
  docs/modules/solr.md
Labels: type/docs

#10171 Fix Apache Solr link
  docs/modules/solr.md
Labels: type/docs

#10172 [solr] Replace "create_core" with "create" command
  modules/solr/src/main/java/org/testcontainers/containers/SolrContainer.java
Labels: modules/solr

#10174 Pass `start` command required in Solr 10
  modules/solr/src/main/java/org/testcontainers/containers/SolrContainer.java
Labels: modules/solr

#10189 Fix typo in LGTM container method
  modules/grafana/build.gradle
  modules/grafana/src/main/java/org/testcontainers/grafana/LgtmStackContainer.java
  modules/grafana/src/test/java/org/testcontainers/grafana/LgtmStackContainerTest.java
Labels: modules/grafana

#10188 Allow configuring the AlwaysPullPolicy
  core/src/main/java/org/testcontainers/images/PullPolicy.java
  core/src/test/java/org/testcontainers/images/OverrideImagePullPolicyTest.java
  docs/features/advanced_options.md
Labels: type/bug, type/docs

#10183 Add DockerModelRunnerContainer to core
  core/src/main/java/org/testcontainers/containers/DockerModelRunnerContainer.java
  core/src/test/java/org/testcontainers/containers/DockerModelRunnerContainerTest.java
  docs/modules/docker_model_runner.md
  mkdocs.yml
Labels: type/docs

#10192 Expose Tempo in LgtmContainer
  modules/grafana/build.gradle
  modules/grafana/src/main/java/org/testcontainers/grafana/LgtmStackContainer.java
  modules/grafana/src/test/java/org/testcontainers/grafana/LgtmStackContainerTest.java
Labels: type/feature, modules/grafana

#9662 Fix connection leak in JdbcDatabaseDelegate
  modules/jdbc/src/main/java/org/testcontainers/jdbc/JdbcDatabaseDelegate.java
  modules/jdbc/src/test/java/org/testcontainers/jdbc/JdbcDatabaseDelegateTest.java
Labels: type/bug, modules/jdbc

#10196 Update checkstyle version to 10.23.0
  build.gradle
  examples/build.gradle
  smoke-test/build.gradle
Labels: dependencies
