Repository testcontainers/testcontainers-java, pull requests merged in 2025-05, with the labels that each got.

#10253 Add support to pull model for DockerModelRunnerContainer
  core/src/main/java/org/testcontainers/containers/DockerModelRunnerContainer.java
  core/src/test/java/org/testcontainers/containers/DockerModelRunnerContainerTest.java
Labels: type/feature

#9606 Use generic init script filename when copying it into a Cassandra container
  modules/cassandra/src/main/java/org/testcontainers/cassandra/CassandraContainer.java
  modules/cassandra/src/test/java/org/testcontainers/cassandra/CassandraContainerTest.java
Labels: type/bug, modules/cassandra

#10268 Fix register listener for kafka docs
  docs/modules/kafka.md
  modules/kafka/src/test/java/org/testcontainers/containers/KafkaContainerTest.java
  modules/kafka/src/test/java/org/testcontainers/kafka/KafkaContainerTest.java
Labels: type/docs, modules/kafka
