Repository testcontainers/testcontainers-java, pull requests merged in 2025-09, with the labels that each got.

#10727 Move Azure tests to JUnit Jupiter
  modules/azure/build.gradle
  modules/azure/src/test/java/org/testcontainers/azure/AzuriteContainerTest.java
  modules/azure/src/test/java/org/testcontainers/azure/EventHubsEmulatorContainerTest.java
  modules/azure/src/test/java/org/testcontainers/azure/ServiceBusEmulatorContainerTest.java
  modules/azure/src/test/java/org/testcontainers/containers/CosmosDBEmulatorContainerTest.java
Labels: modules/azure

#10728 Move Cassandra tests to JUnit Jupiter
  modules/cassandra/build.gradle
  modules/cassandra/src/test/java/org/testcontainers/cassandra/CassandraContainerTest.java
  modules/cassandra/src/test/java/org/testcontainers/cassandra/CompatibleCassandraImageTest.java
  modules/cassandra/src/test/java/org/testcontainers/containers/CassandraContainerTest.java
  modules/cassandra/src/test/java/org/testcontainers/containers/CompatibleCassandraImageTest.java
Labels: modules/cassandra

#10734 Move Couchbase tests to JUnit Jupiter
  modules/couchbase/build.gradle
  modules/couchbase/src/test/java/org/testcontainers/couchbase/CouchbaseContainerTest.java
Labels: modules/couchbase

#10737 Move Grafana tests to JUnit Jupiter
  modules/grafana/build.gradle
  modules/grafana/src/test/java/org/testcontainers/grafana/LgtmStackContainerTest.java
Labels: modules/grafana

#10741 Move K3s tests to JUnit Jupiter
  modules/k3s/build.gradle
  modules/k3s/src/test/java/org/testcontainers/k3s/Fabric8K3sContainerTest.java
  modules/k3s/src/test/java/org/testcontainers/k3s/KubectlContainerTest.java
Labels: modules/k3s

#10746 Move LocalStack tests to JUnit Jupiter
  modules/localstack/build.gradle
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/LegacyModeTest.java
  modules/localstack/src/test/java/org/testcontainers/containers/localstack/LocalstackContainerTest.java
Labels: modules/localstack

#10747 Move Milvus tests to JUnit Jupiter
  modules/milvus/build.gradle
  modules/milvus/src/test/java/org/testcontainers/milvus/MilvusContainerTest.java
Labels: modules/milvus

#10749 Move MockServer tests to JUnit Jupiter
  modules/mockserver/build.gradle
  modules/mockserver/src/test/java/org/testcontainers/containers/MockServerContainerRuleTest.java
  modules/mockserver/src/test/java/org/testcontainers/containers/MockServerContainerTest.java
Labels: modules/mockserver

#10753 Move Ollama tests to JUnit Jupiter
  modules/ollama/build.gradle
  modules/ollama/src/test/java/org/testcontainers/ollama/OllamaContainerTest.java
Labels: modules/ollama

#10754 Move OpenFGA tests to JUnit Jupiter
  modules/openfga/build.gradle
  modules/openfga/src/test/java/org/testcontainers/openfga/OpenFGAContainerTest.java
Labels: modules/openfga

#10755 Move OrientDB tests to JUnit Jupiter
  modules/orientdb/build.gradle
  modules/orientdb/src/test/java/org/testcontainers/containers/OrientDBContainerTest.java
Labels: modules/orientdb

#10759 Move Pulsar tests to JUnit Jupiter
  modules/pulsar/build.gradle
  modules/pulsar/src/test/java/org/testcontainers/containers/CompatibleApachePulsarImageTest.java
  modules/pulsar/src/test/java/org/testcontainers/containers/PulsarContainerTest.java
Labels: modules/pulsar

#10760 Move Qdrant tests to JUnit Jupiter
  modules/qdrant/build.gradle
  modules/qdrant/src/test/java/org/testcontainers/qdrant/QdrantContainerTest.java
Labels: modules/qdrant

#10762 Move Redpanda tests to JUnit Jupiter
  modules/redpanda/build.gradle
  modules/redpanda/src/test/java/org/testcontainers/redpanda/CompatibleImageTest.java
  modules/redpanda/src/test/java/org/testcontainers/redpanda/RedpandaContainerTest.java
Labels: modules/redpanda

#10761 Move RabbitMQ tests to JUnit Jupiter
  modules/rabbitmq/build.gradle
  modules/rabbitmq/src/test/java/org/testcontainers/containers/RabbitMQContainerJUnitIntegrationTest.java
  modules/rabbitmq/src/test/java/org/testcontainers/containers/RabbitMQContainerTest.java
Labels: modules/rabbitmq

#10763 Move ScyllaDB tests to JUnit Jupiter
  modules/scylladb/build.gradle
  modules/scylladb/src/test/java/org/testcontainers/scylladb/ScyllaDBContainerTest.java
Labels: modules/scylladb

#10766 Move Solr assertions to assertj
  modules/solr/build.gradle
  modules/solr/src/test/java/org/testcontainers/containers/SolrContainerTest.java
Labels: modules/solr

#10768 Move Vault tests to JUnit Jupiter
  modules/vault/build.gradle
  modules/vault/src/test/java/org/testcontainers/vault/VaultClientTest.java
  modules/vault/src/test/java/org/testcontainers/vault/VaultContainerTest.java
Labels: modules/vault

#10770 Move JDBC tests to JUnit Jupiter
  modules/jdbc/build.gradle
  modules/jdbc/src/test/java/org/testcontainers/containers/JdbcDatabaseContainerTest.java
  modules/jdbc/src/test/java/org/testcontainers/jdbc/ConnectionUrlDriversTests.java
  modules/jdbc/src/test/java/org/testcontainers/jdbc/ConnectionUrlTest.java
  modules/jdbc/src/test/java/org/testcontainers/jdbc/ContainerDatabaseDriverTest.java
  modules/jdbc/src/test/java/org/testcontainers/jdbc/JdbcDatabaseDelegateTest.java
  modules/jdbc/src/test/java/org/testcontainers/jdbc/MissingJdbcDriverTest.java
Labels: modules/jdbc

#10798 Combined dependencies PR
  .github/workflows/ci-windows.yml
  .github/workflows/labeler.yml
  core/build.gradle
  modules/orientdb/build.gradle
  modules/pinecone/build.gradle
  settings.gradle
Labels: dependencies, github_actions, modules/orientdb, modules/pinecone

#10800 Combined dependencies PR
  core/build.gradle
  modules/qdrant/build.gradle
Labels: dependencies, modules/qdrant

#10779 Expose gRPC endpoint from BigQueryEmulator
  modules/gcloud/src/main/java/org/testcontainers/containers/BigQueryEmulatorContainer.java
  modules/gcloud/src/test/java/org/testcontainers/containers/BigQueryEmulatorContainerTest.java
Labels: type/enhancement, modules/gcloud

#10714 Fix javadoc ConfluentKafkaContainer.java
  modules/kafka/src/main/java/org/testcontainers/kafka/ConfluentKafkaContainer.java
Labels: type/housekeeping, modules/kafka

#10804 Move Selenium tests to JUnit Jupiter
  modules/selenium/build.gradle
  modules/selenium/src/test/java/org/testcontainers/junit/BaseWebDriverContainerTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/BrowserWebDriverContainerTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/ChromeRecordingWebDriverContainerTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/ChromeWebDriverContainerTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/ContainerWithoutCapabilitiesTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/CustomWaitTimeoutWebDriverContainerTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/EdgeWebDriverContainerTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/FirefoxWebDriverContainerTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/LocalServerWebDriverContainerTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/SeleniumStartTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/SeleniumUtilsTest.java
  modules/selenium/src/test/java/org/testcontainers/junit/SpecificImageNameWebDriverContainerTest.java
Labels: modules/selenium

#10808 Fix missing junit4 leftovers
  modules/jdbc-test/src/main/java/org/testcontainers/jdbc/AbstractJDBCDriverTest.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/TestLifecycleAwareExceptionCapturingTest.java
  modules/mariadb/src/test/java/org/testcontainers/junit/mariadb/SimpleMariaDBTest.java
  modules/selenium/src/main/java/org/testcontainers/containers/RecordingFileFactory.java
  modules/selenium/src/test/java/org/testcontainers/containers/DefaultRecordingFileFactoryTest.java
Labels: modules/selenium, modules/jupiter, modules/mariadb

#10805 Remove JUnit 4 support
  core/build.gradle
  core/src/main/java/org/testcontainers/containers/ComposeContainer.java
  core/src/main/java/org/testcontainers/containers/DockerComposeContainer.java
  core/src/main/java/org/testcontainers/containers/FailureDetectingExternalResource.java
  core/src/main/java/org/testcontainers/containers/GenericContainer.java
  core/src/main/java/org/testcontainers/containers/Network.java
  core/src/test/java/org/testcontainers/containers/ExposedHostTest.java
  core/src/test/java/org/testcontainers/containers/FailureDetectingExternalResourceTest.java
  core/src/test/java/org/testcontainers/junit/DockerComposeLogConsumerTest.java
  modules/junit-jupiter/src/test/java/org/testcontainers/junit/jupiter/TestLifecycleAwareExceptionCapturingTest.java
  settings.gradle
Labels: area/docker-compose, modules/selenium, modules/jupiter, modules/mariadb
