Repository testcontainers/testcontainers-java, pull requests merged in 2025-03, with the labels that each got.

#10064 Deprecate getUserPass and add getPassword
  modules/ldap/src/main/java/org/testcontainers/ldap/LLdapContainer.java
  modules/ldap/src/test/java/org/testcontainers/ldap/LLdapContainerTest.java
Labels: type/deprecation, modules/ldap

#8738 Uses `clickhouse/clickhouse-server` as Docker Image in ClickHouseProvider
  modules/clickhouse/build.gradle
  modules/clickhouse/src/main/java/org/testcontainers/containers/ClickHouseProvider.java
Labels: type/breaking-api-change, modules/clickhouse

#10065 Remove linked-container
  docs/examples.md
  examples/linked-container/build.gradle
  examples/linked-container/src/main/java/com/example/linkedcontainer/RedmineClient.java
  examples/linked-container/src/test/java/com/example/linkedcontainer/LinkedContainerTestImages.java
  examples/linked-container/src/test/java/com/example/linkedcontainer/RedmineClientTest.java
  examples/linked-container/src/test/java/com/example/linkedcontainer/RedmineContainer.java
  examples/linked-container/src/test/resources/logback-test.xml
  examples/settings.gradle
Labels: type/docs, type/housekeeping

#10067 Support additional flags in FirestoreEmulatorContainer
  modules/gcloud/src/main/java/org/testcontainers/containers/FirestoreEmulatorContainer.java
  modules/gcloud/src/test/java/org/testcontainers/containers/FirestoreEmulatorContainerTest.java
Labels: type/enhancement, modules/gcloud

#10069 Remove spock-core from spock module
  modules/spock/build.gradle
Labels: type/breaking-api-change, modules/spock

#10071 Update docker-java version to 3.4.2
  core/build.gradle
Labels: dependencies

#10092 [servicebus] Skip waiting for sql to be ready
  modules/azure/src/main/java/org/testcontainers/azure/ServiceBusEmulatorContainer.java
  modules/azure/src/test/java/org/testcontainers/azure/ServiceBusEmulatorContainerTest.java
Labels: type/enhancement, modules/azure

#10127 Add SFTP host key check example
  examples/sftp/src/test/java/org/example/SftpContainerTest.java
  examples/sftp/src/test/resources/ssh_host_rsa_key
  examples/sftp/src/test/resources/ssh_host_rsa_key.pub
Labels: type/test-improvement
